################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages
/com.yrtech.SurveyWeb/obj/Debug
/com.yrtech.SurveyWeb/Log/20181120
/com.yrtech.SurveyWeb/bin
/.vs
/com.yrtech.SurveyWeb.v12.suo
/com.yrtech.SurveyWeb/Scripts/oss-upload-direct/upload.js
