<div class="form-horizontal form-label-left" style="padding-bottom:5px;width:100%">
    <div class="form-inline" style="text-align:center">
        <div class="item form-inline" style="float:right;">
            <button id="btnImport" class="btn btn-primary form-group" style="margin-right:0px" onclick="importAppealSet()" data-loading-text="导入中...">导入</button>
        </div>
    </div>
    
    <div class="clearfix"></div>
</div>
<div class="item form-group">
    <table id="import-appeal-set-table" class="table table-bordered table-set"></table>
</div>
<script>
    $(function () { 
    })

    function initImportAppealSetTable(data) {
        $('#import-appeal-set-table').bootstrapTable('destroy').bootstrapTable({
            pagination: true,
            data:data,
            striped: true, //是否显示行间隔色
            height: 600,
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 50, 100, 500],
            columns: [{
                title: "经销商代码",
                field: 'ShopCode',
                width: 100,
                valign: "middle",
                align: "center",
            }, {
                title: "申诉结束时间",
                field: "AppealEndDate",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "数据状态",
                field: "ImportChk",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return value ? '正确' : '错误';
                }
            }, {
                title: "状态说明",
                field: "ImportRemark",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: preferenceFormatter
            }]
        });
    }

    function preferenceFormatter(value, row, index) {
        return [
            '<a href="#" data-toggle="tooltip" title=' + value + '>' + value + '</a>',
        ].join('');
    }
    function loadImportAppealSet(file) {
        $('#import-appeal-set-table').bootstrapTable("showLoading");
        $.commonGet("Appeal/AppealShopSetExcelAnalysis", {
            tenantId:loginUser.TenantId,
            brandId:$("#brand-sel").val(),
            ossPath: file.osspath
        }, function (data) {
            debugger
            var chk = true;
            if (data && data.length > 0) {
                chk = data[0].ImportChk;
            }
            if (!chk) {
                $("#btnImport").attr("disabled", true);
            } 
            initImportAppealSetTable(data);
        });
    }
    function importAppealSet() {
        $("#btnImport").button("loading");
        var rows = $('#import-appeal-set-table').bootstrapTable("getData");
        rows.forEach(function (row) {
            row.TenantId = loginUser.TenantId;
            row.BrandId = $("#brand-sel").val();
            row.ProjectId = $("#project-sel").val();
            row.InUserId = loginUser.Id;
            row.ModifyUserId = loginUser.Id;
        })
        $.commonPost("Appeal/AppealShopSetImport", {
            ListJson: JSON.stringify(rows)
        }, function () {
            $("#ModalImport").modal("hide");
            loadShopAppealSet()
        });
    }

</script>