<div>
    <form class="form-horizontal form-label-left" id="appealset-form">
        <fieldset>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ProjectCode">
                    经销商代码<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="ProjectCode" name="ProjectCode" required="required" type="text" disabled="disabled" maxlength="15" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ProjectName">
                    经销商名称<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="ProjectName" name="ProjectName" required="required" type="text" disabled="disabled" maxlength="15" class="form-control col-md-7 col-xs-12">
                </div>
            </div>  
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="AppealEndDate">
                    申诉结束时间
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="AppealEndDate" name="AppealEndDate" class="form-control" />
                </div>
            </div>
            
        </fieldset>
    </form>
</div>
<script src="~/Scripts/api/common.js"></script>
<link href="~/Content/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Content/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="~/Content/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script> 
    $("#AppealEndDate").datetimepicker({
        format: 'yyyy-mm-dd hh:ii:ss',
        language: 'zh-CN'
    }); 
</script>


