<div class="form-horizontal form-label-left" style="padding-bottom:5px;width:100%">
    <div class="form-inline" style="text-align:center">
        <div class="item form-inline" style="float:right;">
            <button id="btnImport" class="btn btn-primary form-group" style="margin-right:0px" onclick="importAppeal()" data-loading-text="导入中...">导入</button>
        </div>
    </div>
    
    <div class="clearfix"></div>
</div>
<div class="item form-group">
    <input id="projectIdSelected" type="hidden" />
    <table id="import-appeal-table" class="table table-bordered table-set"></table>
</div>
<script>
    $(function () { 
    })

    function initImportAppealTable(data) {
        $('#import-appeal-table').bootstrapTable('destroy').bootstrapTable({
            pagination: true,
            data:data,
            striped: true, //是否显示行间隔色
            height: 500,
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 50, 100, 500],
            columns: [{
                title: "经销商代码",
                field: 'ShopCode',
                width: 100,
                valign: "middle",
                align: "center",
            }, {
                title: "题目代码",
                field: 'SubjectCode',
                width: 100,
                valign: "middle",
                align: "center",
            }, {
                title: "失分描述",
                field: 'LossResultImport',
                width: 200,
                valign: "middle",
                align: "center",
            }, {
                title: "数据状态",
                field: "ImportChk",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return value ? '正确' : '错误';
                }
            }, {
                title: "状态说明",
                field: "ImportRemark", 
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: preferenceFormatter
            }]
        });
    }

    function preferenceFormatter(value, row, index) {
        return [
            '<a href="#" data-toggle="tooltip" title=' + value + '>' + value + '</a>',
        ].join('');
    }
    function loadImportAppeal(file) {
        $('#import-appeal-table').bootstrapTable("showLoading");
        $.commonGet("Appeal/AppealExcelAnalysis", { 
            brandId: $("#brand-sel").val(),
            projectId: $("#projectIdSelected").val(),
            ossPath: file.osspath
        }, function (data) { 
            var chk = true;
            if (data && data.length > 0) {
                chk = data[0].ImportChk;
            }
            if (!chk) {
                $("#btnImport").attr("disabled", true);
            } 
            initImportAppealTable(data);
        });
    }
    function importAppeal() {
        $("#AppealImport").button("loading");
        var rows = $('#import-appeal-table').bootstrapTable("getData");
        rows.forEach(function (row) {
            row.TenantId = loginUser.TenantId;
            row.BrandId = $("#brand-sel").val();
            row.ProjectId = $("#projectIdSelected").val();
            row.InUserId = loginUser.Id;
            row.ModifyUserId = loginUser.Id;
        })
        var start = 0;
        var size = 3000
        var end = Math.min(rows.length, size);  
        end = size;
        while (true) {
            let data = []
            console.log('importAppealSingle start,end ', start, end)
            for (var i = start; i < end; i++) {
                data.push(rows[i])
            }
            start += size;
            end += size;
            end = Math.min(rows.length, end);
            if(start >= rows.length){
                importAppealSingle(data, function () {
                    $("#ModalImport").modal("hide");
                    loadShopAppealSet()
                })
                break;
            }else{
                importAppealSingle(data)
            } 
        }  
    }
     
    function importAppealSingle(data, callback) {
        $.commonPost("Appeal/AppealImport", {
            ListJson: JSON.stringify(data)
        }, function () {
            if (callback) callback();
        }); 
    }
</script>