@{
    ViewBag.Title = "巡检系统-申诉管理";
}
<style>
    .link-btn-cell {
        margin: 3px 5px 0px;
        cursor: pointer;
    }

    #searchForm th {
        vertical-align: middle;
    }
</style>
<div id="container" class="col-md-12">
    <form id="searchForm" class="form-horizontal">
        <table class="table table-bordered" style="border:solid 1px #666">
            <tr>
                <th width="100" align="center">
                    品牌
                </th>
                <td width="200px;">
                    <select id="brand-sel" class="form-control selectpicker"></select>
                </td>
                <th width="85" align="center">
                    年份
                </th>
                <td width="200px;">
                    <select id="year" class="form-control selectpicker"></select>
                </td>
                <th width="100" align="center">
                    期号
                </th>
                <td>
                    <div id="ProjectListDiv">

                    </div>
                </td>
            </tr>
            <tr>
                <th width="100" align="center">
                    经销商
                </th>
                <td colspan="3">
                    <input type="text" id="ShopInput" name="ShopInput" class="form-control" style="width:300px" />
                </td>
                <td colspan="2" class="text-right">
                    <button type="button" class="btn btn-default" style="width:100px;" id="btnClear">清&nbsp;空</button>
                    <button type="button" class="btn btn-primary" style="width:100px;" id="btnSearch">查&nbsp;询</button>
                </td>
            </tr>
        </table>
    </form>

    <div class="list" style="overflow:auto;">
        <div class="table-responsive comm-table-div">
            <table id="appeal-table" class="table table-bordered table-set">
                <thead>
                    <tr>
                        <th style="width:90px">操作</th>
                        <th style="width:70px">删除</th>
                        <th style="width:110px">经销店代码</th>
                        <th style="width:250px">经销店名称</th>
                        <th style="width:80px">体系号</th>
                        <th style="width:300px">检查点</th>
                        <th style="width:50px">得分</th>
                        <th style="width:70px">申诉人</th>
                        <th style="width:140px">申诉时间</th>
                        <th style="width:200px">申诉理由</th>
                        <th style="width:90px">反馈状态</th>
                        <th style="width:200px">反馈理由</th>
                        <th style="width:70px">反馈人</th>
                        <th style="width: 140px">反馈时间</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div id="pagination" class="pull-right">
        <ul id="pageUl"></ul>
    </div>

    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button id="save_button" type="button" onclick="saveProject()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                    <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/api/common.js"></script>
    <script src="~/Scripts/api/appeal.js"></script>
    <script src="~/Scripts/page.js"></script>
    <script>

        $(function () {
            $("input[type=checkbox]").iCheckParser();
            for (var i = 2019; i < 2030; i++) {
                $("#year").append($("<option>").text(i + "").val(i + ""));
            }

            $("#Year,#Brand").change(function () {
                loadProjectBindDropdownList($("#Brand").val(), $("#Year").val(), function (data) {
                    $("#ProjectListDiv").empty();
                    $.each(data, function (i, item) {
                        var project = $('<label class="dealer-li"> </label>');
                        project.append($('<input name="Project" type="radio">').val(item.ProjectId))
                            .append($('<font>').text(item.ProjectName));
                        $("#ProjectListDiv").append(project);
                    })
                    $("#ProjectListDiv input[type=radio]").iCheckParser();
                    $("#ProjectListDiv input[type=radio]:last").iCheck("check");
                });
            });

            loadBrandBindDropdownList(function (data) {
                $.each(data, function () {
                    $("#brand-sel").append($("<option>").val(this.BrandId).text(this.BrandName));
                })

                $("#year").change();
            });

            //查询
            $("#btnSearch").click(function () {
                var params = getParams();
                if (!params) return;
                $("#btnSearch").button('loading');
                loadAppeal(params);
            });

            $("#btnClear").click(function () {
                SearchShopFileInfo();
            });

            $("#brand-sel").change();
            setTimeout(function () {
                $("#btnSearch").click();
            }, 1000);
        });

        function getParams() {
            var project = $("[name=Project]:checked").val();
            if (!project) {
                alert("请选择期号！");
                return;
            }

            return {
                projectId: project || '',
                businessType: '',
                wideArea: '',
                bigArea: '',
                middleArea: '',
                smallArea: '',
                shopIdStr: '',
                keyword: $('#ShopInput').val(),
                pageNum: 1,
                pageCount: 15
            };
        }

    </script>
}