@{
    ViewBag.Title = "申诉设置管理";
}
<style>
    .operation {
        padding: 10px 0px;
        text-align: right;
    }

        .operation .btn {
            width: 100px;
        }

    .bootstrap-table .fixed-table-container.fixed-height .fixed-table-border {
        border-left: none;
        border-right: none;
    }
</style>
<div class="condition">
    <div style="text-align:right;width:100%">
        <button id="btnQuery" class="btn btn-primary">查询</button>
        <button id="btnImportTemplate" class="btn btn-primary">申诉导入模板</button>
        <button id="btnDownloadTemplate" class="btn btn-primary">申诉设置模板</button>
        <button id="btnImportAppealSet" class="btn btn-primary">导入申诉设置</button>
        <button id="btnImportAppeal" class="btn btn-primary" style="display:none">导入申诉</button>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">品牌:</label>
            <select id="brand-sel" class="form-control" style="width:200px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">年份:</label>
            <select id="year-sel" class="form-control" style="width:200px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">期号:</label>
            <select id="project-sel" class="form-control" style="width: 140px"></select>
        </div>
    </div>
</div>
<div class="result">
    <table id="appealSet-table" class="table table-bordered table-set"></table>
</div>
<div class="result">
    <table id="shop-appeal-set-table" class="table table-bordered table-set"></table>
</div>

<div id="upload-container" class="container-fluid" style="margin:0;padding:0;display:none">
    <div id="ossfile"></div>
</div>

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">申诉设置编辑</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="save_button" type="button" onclick="saveAppealSet(this)" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalShop" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">经销商申诉设置编辑</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="save_button" type="button" onclick="saveShopAppealSet(this)" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                <button id="close_button" type="button" onclick="javascript:closeShopModel();" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalImport" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">申诉设置导入</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/api/common.js"></script>
<script src="~/Scripts/custom/form-serialize.js?20200510"></script>

<script src="~/Scripts/oss-upload-direct/lib/crypto1/crypto/crypto.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/crypto1/hmac/hmac.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/crypto1/sha1/sha1.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/base64.js"></script>
<script src="~/Scripts/oss-upload-direct/upload.js?20200426"></script>
<script>

    $(function () {
        $('title').html('@ViewBag.Title')
        bindBrandSelect();
        $("#year-sel").change(function () {
            bindProjectSelect();
        });
        for (var i = 2020; i <= 2030; i++) {
            $("#year-sel").append($("<option>").text(i + "").val(i + ""));
        }
        var tYear = new Date().getFullYear();
        $("#year-sel").val(tYear);
        $("#brand-sel").change(function () {
            bindProjectSelect();
        });
        $("#project-sel").change(function () {
            loadAppealSet();
        });
        bindProjectSelect();

        $("#btnQuery").click(function () {
            loadAppealSet();
            loadShopAppealSet()
        }).trigger("click");


        $("#btnDownloadTemplate").click(function () {
            var url = loginUser.ossInfo.osshost + "Survey/ImportTemplate/AppealShopSet.xlsx";
            window.location.href = url;
        });

        $("#btnImportTemplate").click(function () {
            var url = loginUser.ossInfo.osshost + "Survey/ImportTemplate/Appeal.xlsx";
            window.location.href = url;
        });

        new OSSClient({
            autoupload: true,
            osspath: "Survey/BaseInfo/Import/",
            selectfiles: "btnImportAppealSet",
            multi_selection: false,
            success: function (files) {
                //调用导入方法
                files.forEach(function (file) {
                    $("#ModalImport .modal-body").empty();
                    $("#ModalImport").modal("show");
                    $("#ModalImport .modal-title").html("申诉设置导入");
                    $("#ModalImport .modal-body").load("/Appeal/OpenAppealSetImport", {}, function () {
                        loadImportAppealSet(file);
                    })
                })
            }
        });

        ossFileUploaderShop = new OSSClient({
            autoupload: true,
            osspath: "Survey/BaseInfo/Import/",
            selectfiles: "btnImportAppeal",
            multi_selection: false,
            success: function (files) {
                //调用导入方法
                files.forEach(function (file) {
                    $("#ModalImport .modal-body").empty();
                    $("#ModalImport").modal("show");
                    $("#ModalImport .modal-title").html("申诉导入");
                    $("#ModalImport .modal-body").load("/Appeal/OpenAppealImport", {}, function () {
                        $("#projectIdSelected").val(curRow.ProjectId)
                        loadImportAppeal(file);
                    })
                })
            }
        });
    });


    var curRow;
    function initAppealSetTable(data) {
        $('#appealSet-table').bootstrapTable('destroy').bootstrapTable({
            pagination: false,
            data: data,
            striped: true, //是否显示行间隔色
            width: "100%",
            height: 74,//getClientHeight() - 260,
            showColumns: false, // 开启自定义列显示功能
            sortable: true,
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 50, 100, 500],
            columns: [{
                title: "期号Id",
                field: 'ProjectId',
                width: 100,
                valign: "middle",
                align: "center",
            }, {
                title: "期号代码",
                field: 'ProjectCode',
                width: 100,
                valign: "middle",
                align: "center",
                formatter: function (value, row, index) {
                    return '<a href="javascript:goEdit();" style="min-width:100px">' + value + '</a>';
                }
            }, {
                title: "期号名称",
                field: "ProjectName",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            },
            //{
            //    title: "申诉开始时间",
            //    field: "AppealStartDate",
            //    width: 150,
            //    valign: "middle",
            //    align: "center",
            //    sortable: false,

            //},
            //{
            //    title: "申诉结束时间",
            //    field: "AppealEndDate",
            //    width: 150,
            //    valign: "middle",
            //    align: "center",
            //    sortable: false
            //},
            {
                title: "申诉模式",
                field: "HiddenName",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "生成申诉",
                field: "",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    if (row.HiddenCode == "A") {
                        return '<a href="javascript:CreateAppeal();" style="min-width:100px">生成申诉</a>';
                    } else if (row.HiddenCode == "C") {
                        return '<a  href="javascript:openImportAppealFile();" style="min-width:100px">导入申诉</a>';
                    } else {
                        return '<a href="" style="min-width:100px">' + "-" + '</a>';
                    }
                }
            }, {
                title: "申诉生成时间",
                field: "AppealCreateDateTime",
                width: 200,
                valign: "middle",
                align: "center",
                sortable: false
            },
            {
                title: "登记时间",
                field: "InDateTime",
                width: 200,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "修改时间",
                field: "ModifyDateTime",
                width: 200,
                valign: "middle",
                align: "center",
                sortable: false
            }],
            onClickRow: function (row, $element) {
                curRow = row;
            }
        });
    }

    function openImportAppealFile() {
        $("#btnImportAppeal").trigger("click")
    }

    function loadAppealSet() {
        $('#appealSet-table').bootstrapTable("showLoading");
        $.commonGet("Appeal/GetAppealSet", {
            projectId: $("#project-sel").val()
        }, function (data) {
            initAppealSetTable(data);
        });
    }

    function loadShopAppealSet() {
        $('#shop-appeal-set-table').bootstrapTable("showLoading");
        $.commonGet("Appeal/GetAppealShopSet", {
            projectId: $("#project-sel").val()
        }, function (data) {
            $('#shop-appeal-set-table').bootstrapTable("hideLoading");
            $('#shop-appeal-set-table').bootstrapTable("load", data);
            initShopAppealSetTable(data);
            //$('#shop-appeal-set-table').bootstrapTable("reset");
        });
    }
    function initShopAppealSetTable(data) {
        $('#shop-appeal-set-table').bootstrapTable('destroy').bootstrapTable({
            pagination: true,
            data: data,
            striped: true, //是否显示行间隔色
            width: "100%",
            height: getClientHeight() - 400,
            showColumns: false, // 开启自定义列显示功能
            sortable: true,
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 50, 100, 500],
            columns: [{
                title: "经销商代码",
                field: 'ShopCode',
                width: 100,
                valign: "middle",
                align: "center",
            }, {
                title: "经销商名称",
                field: 'ShopName',
                width: 300,
                valign: "middle",
                align: "center",
                formatter: function (value, row, index) {
                    return '<a href="javascript:goEditShopAppealSet();" style="min-width:100px">' + value + '</a>';
                }
            },
            //{
            //    title: "申诉开始时间",
            //    field: "AppealStartDate",
            //    width: 150,
            //    valign: "middle",
            //    align: "center",
            //    sortable: false,

            //},
            {
                title: "申诉结束时间",
                field: "AppealEndDate",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "登记时间",
                field: "InDateTime",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "修改时间",
                field: "ModifyDateTime",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }],
            onClickRow: function (row, $element) {
                curRowShop = row;
            }
        });
    }

    function goEdit() {
        $("#Modal .modal-body").empty();
        $("#Modal").modal("show");
        $("#Modal .modal-title").html("申诉设置编辑");
        $("#Modal .modal-body").load("/Appeal/AppealSetEdit", {}, function () {
            $("#appealset-form").setForm(curRow);
            $("#appealset-form").data("json", JSON.stringify(curRow));
        })
    }

    function goEditShopAppealSet() {
        $("#ModalShop .modal-body").empty();
        $("#ModalShop").modal("show");
        $("#ModalShop .modal-title").html("经销商申诉设置编辑");
        $("#ModalShop .modal-body").load("/Appeal/ShopAppealSetEdit", {}, function () {
            $("#appealshopset-form").setForm(curRowShop);
            $("#appealshopset-form").data("json", JSON.stringify(curRowShop));
        })
    }

    function saveAppealSet(el) {
        var params = $("#appealset-form").serializeJson();
        var json = $("#appealset-form").data("json");
        if (json && json.length > 0) {
            //编辑
            json = JSON.parse(json);
            params = $.extend(json, params);
            params.ProjectId = $("#project-sel").val();
            params.InUserId = loginUser.Id;
            params.ModifyUserId = loginUser.Id;
            debugger
            params.HiddenCode = $("#HiddenCode").val();
        } else {// 无新增操作
        }
        $(el).button("loading");
        $.commonPost("Appeal/SaveAppealSet", params, function () {
            $(el).button("reset");
            loadAppealSet();
            closeModel();
        }, function () { $(el).button("reset"); });
    }

    function saveShopAppealSet(el) {
        var params = $("#appealset-form").serializeJson();
        var json = $("#appealset-form").data("json");
        if (json && json.length > 0) {
            //编辑
            json = JSON.parse(json);
            params = $.extend(json, params);
            params.InUserId = loginUser.Id;
            params.ModifyUserId = loginUser.Id;
        } else {// 无新增操作
        }
        $(el).button("loading");
        $.commonPost("Appeal/SaveAppealShopSet", params, function () {
            $(el).button("reset");
            loadShopAppealSet();
            closeShopModel();
        }, function () { $(el).button("reset"); });
    }

    function CreateAppeal() {
        confirm("确定生成吗？", function () {
            $.commonGet("Appeal/CreateAppeal", {
                projectId: curRow.ProjectId
            }, function (data) {
                loadAppealSet();
            });
        });
    }

    function AppealExcelAnalysis() {

    }

    function closeShopModel() {
        $("#ModalShop").modal("hide");
    }
</script>
