@{
    ViewBag.Title = "申诉设置管理";
}
<div class="condition">
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">品牌:</label>
            <select id="brand-sel" class="form-control" style="width:200px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">年份:</label>
            <select id="year-sel" class="form-control" style="width:200px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">期号:</label>
            <select id="project-sel" class="form-control" style="width: 140px"></select>
        </div>
    </div>
    <div style="float:right;width:300px;text-align:right">
        <button id="btnQuery" class="btn btn-primary">查询</button>
    </div>
</div>
<div class="result">
    <table id="appealSet-table" class="table table-bordered table-set"></table>
</div>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">申诉设置编辑</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="save_button" type="button" onclick="saveAppealSet()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalImport" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">申诉导入</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<div id="upload-container" class="container-fluid" style="margin:0;padding:0;display:none">
    <div id="ossfile"></div>
</div>
<script src="~/Scripts/api/common.js"></script>
<script src="~/Scripts/custom/form-serialize.js?20200510"></script>

<script src="~/Scripts/oss-upload-direct/lib/crypto1/crypto/crypto.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/crypto1/hmac/hmac.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/crypto1/sha1/sha1.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/base64.js"></script>
<script src="~/Scripts/oss-upload-direct/upload.js?20200426"></script>
<script>
    var ossUploader;
    var osspath;
    $(function () {
        $('title').html('@ViewBag.Title')
        bindBrandSelect();
        $("#year-sel").change(function () {
            bindProjectSelect();
        });
        for (var i = 2020; i <= 2030; i++) {
            $("#year-sel").append($("<option>").text(i + "").val(i + ""));
        }
        var tYear = new Date().getFullYear();
        $("#year-sel").val(tYear);
        $("#brand-sel").change(function () {
            bindProjectSelect();
        });

        bindProjectSelect();
        initAppealSetTable();
        $("#btnQuery").click(function () {
            loadAppealSet();
        }).trigger("click");

        //  oss
        debugger
        osspath = "Survey/BaseInfo/";
        new OSSClient({
            autoupload: true,
            osspath: osspath + "Import/",
            selectfiles: "btnProjectShopImport",
            multi_selection: false,
            success: function (files) {
                //调用导入方法
                files.forEach(function (file) {
                    var projectTxt = $("#project-sel option:selected").text();
                    $("#ModalImport .modal-body").empty();
                    $("#ModalImport").modal("show");
                    $("#ModalImport .modal-body").load("/ProjectContent/OpenProjectShopImport", {}, function () {
                        $("#ImportProject").html(projectTxt);
                        loadImportProjectShop(file);
                    })
                })
            }
        });
    });
    var curRow;
    function initAppealSetTable() {
        $('#appealSet-table').bootstrapTable({
            pagination: true,
            striped: true, //是否显示行间隔色
            width: "100%",
            height: getClientHeight() - 260,
            showColumns: false, // 开启自定义列显示功能
            sortable: true,
            pageNumber: 1,
            pageSize: 15,
            pageList: [5, 10, 20, 50],
            columns: [{
                title: "期号代码",
                field: 'ProjectCode',
                width: 120,
                valign: "middle",
                align: "center",
                formatter: function (value, row, index) {
            return '<a href="javascript:goEdit();" style="min-width:100px">' + value + '</a>';
        }
            }, {
                title: "期号名称",
                field: "ProjectName",
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "申诉开始时间",
                field: "AppealStartDate",
                valign: "middle",
                align: "center",
                sortable: false,

            },{
                title: "申诉结束时间",
                field: "AppealEndDate",
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "申诉模式",
                field: "HiddenName",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false,

            }, {
                title: "登记时间",
                field: "InDateTime",
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "修改时间",
                field: "ModifyDateTime",
                valign: "middle",
                align: "center",
                sortable: false
            }],
            onClickRow: function (row, $element) {
                curRow = row;
            }
        });
    }
    function loadAppealSet() {
        $('#appealSet-table').bootstrapTable("showLoading");
        $.commonGet("Appeal/GetAppealSet", {
            projectId: $("#project-sel").val()
        }, function (data) {
            $('#appealSet-table').bootstrapTable("hideLoading");
            $('#appealSet-table').bootstrapTable("load", data);
        });
    }
    function goEdit() {
        $("#Modal .modal-body").empty();
        $("#Modal").modal("show");
        $("#Modal .modal-title").html("申诉设置编辑");
        $("#Modal .modal-body").load("/Appeal/AppealSetEdit", {}, function () {
            $("#appealset-form").setForm(curRow);
            $("#appealset-form").data("json", JSON.stringify(curRow));
        })
    }
    function saveAppealSet() {
        var params = $("#appealset-form").serializeJson();
        var json = $("#appealset-form").data("json");
        if (json && json.length > 0) {
            //编辑
            json = JSON.parse(json);
            params = $.extend(json, params);
            params.ProjectId = $("#project-sel").val();
            params.InUserId = loginUser.Id;
            params.ModifyUserId = loginUser.Id;
            debugger
            params.HiddenCode = $("#HiddenCode").val();
        } else {// 无新增操作
        }
        $("#save_button").button("loading");
        $.commonPost("Appeal/SaveAppealSet", params, function () {
            $("#save_button").button("reset");
            loadAppealSet();
            closeModel();
        }, function () { $("#save_button").button("reset"); });
    }
    $("#btnDownloadTemplate").click(function () {
        debugger
        var url = loginUser.ossInfo.osshost + "Survey/ImportTemplate/ProjectShopExamType.xlsx";
        window.location.href = url;
    });
</script>



