<div class="form-horizontal form-label-left" style="padding-bottom:5px;width:100%" >
    <div class="item form-group" style="float:right; width:80%">
        <div class="col-md-4">
            <input id="AreaCode" type="text" class="form-control" placeholder="区域代码" required="required">
        </div>
        <div class="col-md-5">
            <input id="AreaName" type="text" class="form-control" placeholder="区域名称">
        </div>
        <button id="btnAdd" class="btn btn-primary col-md-3" style="margin-right:0px" onclick="saveChildArea()" data-loading-text="提交中...">添加下级区域</button>
    </div>
    <div class="clearfix"></div>
</div>
<div class="item form-group">
    <table id="child-area-table" class="table table-bordered table-set"></table>
</div>
<script>    
    $(function () {
        initChildAreaTable();
        loadChildArea();
    })

    function initChildAreaTable() {
        $('#child-area-table').bootstrapTable({
            pagination: false,
            striped: true, //是否显示行间隔色
            columns: [{
                title: "区域代码",
                field: 'AreaCode',
                width: 100,
                valign: "middle",
                align: "center"
            }, {
                title: "区域名称",
                field: "AreaName",
                width: 200,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "区域类型",
                field: "AreaTypeName",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false
            }]
        });
    }

    function loadChildArea() {
        $.commonGet("Master/GetArea", {
            brandId: '',
            areaId: '',
            areaCode: '',
            areaName: '',
            areaType: '',
            parentId: curRow.AreaId,
        }, function (data) {
            $('#child-area-table').bootstrapTable("load", data);
        });
    }
    function saveChildArea() {
        var areaCode = $("#AreaCode").val();
        if (!areaCode) {
            alert("请输入区域代码！");
            return false;
        }
        var areaName = $("#AreaName").val();
        if (!areaName) {
            alert("请输入区域名称！");
            return false;
        }

        var areas = ["Bussiness", "WideArea", "BigArea", "MiddleArea", "SmallArea"];
        var pTypeIndex = areas.indexOf(curRow.AreaType);
        var typeIndex = pTypeIndex > (areas.length - 2) ? areas.length - 1 : pTypeIndex + 1;
    
        $("#btnAdd").button("loading");
        $.commonPost("Master/SaveArea", {
            BrandId: curRow.BrandId,
            AreaCode: areaCode,
            AreaName: areaName,
            Usechk: true,
            ParentId: curRow.AreaId,
            areaType: areas[typeIndex],
            InUserId: loginUser.Id,
            ModifyUserId: loginUser.Id
        }, function () {
            $("#btnAdd").button("reset");
            alert("保存下级区域成功！");
            $("#AreaCode").val("");
            $("#AreaName").val("");
            loadChildArea();
        });
    }

</script>
