<div class="form-horizontal form-label-left" style="padding-bottom:5px;width:100%">
    <div class="form-inline" style="text-align:center">
        <label class="control-label" style="font-size:16px;">导入的品牌:<span id="ImportBrand"></span></label>
        <div class="item form-inline" style="float:right;">
            <button id="btnImport" class="btn btn-primary form-group" style="margin-right:0px" onclick="importArea()" data-loading-text="导入中...">导入</button>
        </div>
    </div>
    
    <div class="clearfix"></div>
</div>
<div class="item form-group">
    <table id="import-area-table" class="table table-bordered table-set"></table>
</div>
<script>
    $(function () {
       // initImportAreaTable();
    })

    function initImportAreaTable(data) {
        $('#import-area-table').bootstrapTable('destroy').bootstrapTable({
            pagination: true,
            data:data,
            striped: true, //是否显示行间隔色
            height: getClientHeight() - 260,
            pageNumber: 1,
            pageSize: 20,
            pageList: [10, 15, 20, 50],
            columns: [{
                title: "区域代码",
                field: 'AreaCode',
                width: 100,
                valign: "middle",
                align: "center",
                formatter: function (value, row, index) {
                    return '<a href="javascript:goEdit(' + row.Id + ');" >' + value + '</a>';
                }
            }, {
                title: "区域名称",
                field: "AreaName",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "区域类型",
                field: "AreaType",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "上级区域",
                field: "ParentCode",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "是否可用",
                field: "UseChk",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return value ? '是' : '否';
                }
            }, {
                title: "数据状态",
                field: "ImportChk",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return value ? '正确' : '错误';
                }
            }, {
                title: "状态说明",
                field: "ImportRemark",
                width: 200,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: preferenceFormatter
            }]
        });
    }

    function preferenceFormatter(value, row, index) {
        return [
            '<a href="#" data-toggle="tooltip" title=' + value + '>' + value + '</a>',
        ].join('');
    }
    function loadImportArea(file) {
        $('#import-area-table').bootstrapTable("showLoading");
        $.commonGet("Master/AreaExcelAnalysis", {
            ossPath: file.osspath
        }, function (data) {
            var chk = true;
            if (data && data.length > 0) {
                data.forEach(function (item) {
                    if (!item.ImportChk) {
                        chk = item.ImportChk;
                        return false;
                    }
                })
            }
            if (!chk) {
                $("#btnImport").attr("disabled", true);
            }
            //$('#import-area-table').bootstrapTable("load", data);
            //$('#import-area-table').bootstrapTable("hideLoading");
            initImportAreaTable(data);
        });
    }
    function importArea() {
        $("#btnImport").button("loading");
        var rows = $('#import-area-table').bootstrapTable("getData");
        rows.forEach(function (row) {
            row.BrandId = $("#brand-sel").val();
            row.InUserId = loginUser.Id;
            row.ModifyUserId = loginUser.Id;
        })
        $.commonPost("Master/AreaImport", {
            ListJson: JSON.stringify(rows)
        }, function () {
            $("#ModalImport").modal("hide");
            loadArea();
        });
    }

</script>