<div>
    <form class="form-horizontal form-label-left" id="shop-form">
        <fieldset>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ShopCode">
                    经销商代码<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="ShopCode" name="ShopCode" required="required" type="text" class="form-control" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ShopName">
                    经销商名称<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="ShopName" name="ShopName" required="required" type="text"  class="form-control">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ShopShortName">
                    经销商简称<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="ShopShortName" name="ShopShortName" required="required" type="text"  class="form-control">
                </div>
            </div>
            @*<div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Province">
                    省份
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="Province" name="Province" type="text"  class="form-control">
                </div>
            </div>*@
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ProvinceId">
                    省份 <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="ProvinceId" name="ProvinceId" class="form-control col-md-7 col-xs-12"></select>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="City">
                    城市
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="City" name="City" type="text"  class="form-control">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Address">
                    地址
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @*<input id="Address" name="Address" type="text"  class="form-control">*@
                    <textarea id="Address" name="Address" rows="5" class="form-control"></textarea>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="GroupId">
                    集团
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="GroupId" name="GroupId" class="form-control"></select>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="UseChk">
                    使用与否
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 5px;">
                    <input type="checkbox" id="UseChk" name="UseChk">
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script>
    bindProvinceSelect();
</script>

