<div>
    <form class="form-horizontal form-label-left" id="area-form">
        <fieldset>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="AreaCode">
                    区域代号<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="AreaCode" name="AreaCode" required="required" type="text" maxlength="15" class="form-control">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="AreaName">
                    区域名称<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="AreaName" name="AreaName" required="required" type="text" maxlength="15" class="form-control">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="UseChk">
                    上级区域
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="ParentName" name="ParentName" class="form-control" disabled>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="UseChk">
                    使用与否
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 5px;">
                    <input type="checkbox" id="UseChk" name="UseChk">
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script>

</script>

