<div class="form-horizontal form-label-left" style="padding-bottom:5px;width:100%">
    <div class="item form-inline" style="float:right;">
        <div class="form-group">
            <label class="control-label">将要导入的品牌:</label>
            <input id="ImportBrand" type="text" class="form-control" disabled>
        </div>
        <button id="btnImport" class="btn btn-primary form-group" style="margin-right:0px" onclick="importArea()" data-loading-text="导入中...">导入</button>
    </div>
    <div class="clearfix"></div>
</div>
<div class="item form-group">
    <table id="import-area-table" class="table table-bordered table-set"></table>
</div>
<script>
    $(function () {
        initImportAreaTable();
    })

    function initImportAreaTable() {
        $('#import-area-table').bootstrapTable({
            pagination: false,
            striped: true, //是否显示行间隔色
            columns: [{
                title: "区域代码",
                field: 'AreaCode',
                width: 120,
                valign: "middle",
                align: "center",
                formatter: function (value, row, index) {
                    return '<a href="javascript:goEdit(' + row.Id + ');" >' + value + '</a>';
                }
            }, {
                title: "区域名称",
                field: "AreaName",
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "区域类型",
                field: "AreaType",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "上级区域",
                field: "ParentCode",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "是否可用",
                field: "UseChk",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return value ? '是' : '否';
                }
            }, {
                title: "数据状态",
                field: "ImportChk",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return value ? '正确' : '错误';
                }
            }, {
                title: "状态说明",
                field: "ImportRemark",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }]
        });
    }

    function loadImportArea(file) {
        $.commonGet("Master/AreaExcelAnalysis", {
            ossPath: file.osspath
        }, function (data) {
            $('#import-area-table').bootstrapTable("load", data);
        });
    }
    function importArea() {
        var rows = $('#import-area-table').bootstrapTable("getData");
        $("#btnImport").button("loading");
        $.commonPost("Master/AreaImport", {
            ListJson: JSON.stringify(rows)
        }, function () {
            $("#ModalImport").modal("hide");
        });
    }

</script>
