<div class="form-horizontal form-label-left" style="padding-bottom:5px;width:100%">
    <div class="item form-group" style="float:right; width:60%">
        <div class="col-md-8">
            <input id="ShopCode" type="text" maxlength="15" class="form-control" placeholder="经销商代码">
        </div>
        <a id="btnAdd" class="btn btn-primary col-md-4" style="margin-right:0px" onclick="saveAreaShop()" data-loading-text="提交中...">添加经销商</a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="item form-group">
    <table id="area-shop-table" class="table table-bordered table-set"></table>
</div>
<script>
    $(function () {
        initAreaShopTable();
        loadAreaShop();
    })

    function initAreaShopTable() {
        $('#area-shop-table').bootstrapTable({
            pagination: false,
            striped: true, //是否显示行间隔色
            columns: [{
                title: "经销商代码",
                field: 'ShopCode',
                width: 100,
                valign: "middle",
                align: "center"
            }, {
                title: "经销商名称",
                field: "ShopName",
                width: 200,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "删除",
                field: "",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:delAreaShop(' + row.AreaShopId + ');" style="min-width:100px">删除</a>';
                }
            }]
        });
    }

    function loadAreaShop() {
        $.commonGet("Master/GetAreaShop", {
            tenantId: loginUser.TenantId,
            brandId:  curRow.BrandId,
            areaId:  curRow.AreaId,
            shopId: ''
        }, function (data) {
            $('#area-shop-table').bootstrapTable("load", data);
        });
    }
    function saveAreaShop() {
        var shopCode = $("#ShopCode").val();
        if (!shopCode) {
            alert("请输入经销商代码！");
            return false;
        }
        var url = "Master/GetShop";
        var params={
            brandId: curRow.BrandId,
            shopId:'',
            shopCode: shopCode,
            key:''
        };
        $("#btnAdd").button("loading");
        $.commonGet(url, params, function (data) {
            if (data.length == 0) {
                alert("输入的经销商代码不正确，请重新输入");
                $("#btnAdd").button("reset");
            } else {
                $.commonPost("Master/SaveAreaShop", {
                    ShopId: data[0].ShopId,
                    AreaId: curRow.AreaId
                }, function () {
                    $("#btnAdd").button("reset");
                    alert("添加经销商成功！");
                    $("#ShopCode").val("");
                    loadAreaShop();
                });
            }
        });       
    }


    function delAreaShop(id) {
        $.commonPost("Master/DeleteAreaShop", { AreaShopId: id }, function () {
            loadAreaShop();
        });
    }
</script>
