@{
    ViewBag.Title = "区域管理";
}
<style>
    .operation {
        padding: 10px 0px;
        text-align: right;
    }

        .operation .btn {
            width: 100px;
        }
</style>
<div class="condition">
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">品牌:</label>
            <select id="brand-sel" class="form-control" style="width:200px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">区域类型:</label>
            <select id="areaType-sel" class="form-control" style="width:200px;">
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">区域代码:</label>
            <input id="AreaCodeQuery" type="text" class="form-control" placeholder="区域代码">
        </div>
        <div class="form-group">
            <label class="control-label">区域名称:</label>
            <input id="AreaNameQuery" type="text" class="form-control" placeholder="区域名称">
        </div>
    </div>
    <div style="float:right;width:250px;text-align:right">
        <button id="btnQuery" class="btn btn-primary">查询</button>
        <button id="btnAreaAdd" class="btn btn-primary">添加业务类型</button>
    </div>
</div>
<div class="result">
    <table id="area-table" class="table table-bordered table-set"></table>
</div>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">区域编辑</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="save_button" type="button" onclick="saveArea()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/api/common.js"></script>
<script src="~/Scripts/custom/form-serialize.js?20200510"></script>
<script>
    $(function () {
        $('title').html('@ViewBag.Title')

        bindBrandSelect();
        bindAreaTypeSelect();

        $("#brand-sel").change(function () {
            loadArea();
        })
        $("#brand-sel").change(function () {
            loadArea();
        })
        $("#btnAreaAdd").click(function () {
            $("#Modal").modal("show");
            $("#Modal .modal-body").load("/BrandContent/AreaEdit", {}, function () {
                $("input[type=checkbox]").iCheckParser();
            })
            return false;
        })

        initAreaTable();
        $("#btnQuery").click(function () {
            loadArea();
        }).trigger("click");

    })


    var curRow;
    function saveArea() {
        var data = $('#area-form').data('bootstrapValidator');
        if (data) {
            // 修复记忆的组件不验证
            data.validate();

            if (!data.isValid()) {
                return false;
            }
        }
        var params = $("#area-form").serializeJson();
        params.UseChk = $("#UseChk").is(":checked");       
        var json = $("#area-form").data("json");
        if (json && json.length > 0) {
            //编辑
            json = JSON.parse(json);
            params = $.extend(json, params);
        } else {
            //新增
            params.AreaType = 'Bussiness';
            params = $.extend({
                BrandId:$("#brand-sel").val(),
                TenantId: loginUser.TenantId,
                InUserId: loginUser.Id,
                ModifyUserId: loginUser.Id
            }, params);
        }
        $.commonPost("Master/SaveArea", params, function () {
            loadArea();
            closeModel();
        });
    }

    function loadArea() {
        $("#btnQuery").button('loading');
        $('#area-table').bootstrapTable("showLoading");
        $.commonGet("Master/GetArea", {
            brandId: $("#brand-sel").val(),
            areaId: '',
            areaCode: $("#AreaCodeQuery").val(),
            areaType: $("#areaType-sel").val(),
            areaName: $("#AreaNameQuery").val(),
            parentId:''
        }, function (data) {
            $("#btnQuery").button('reset');
            $('#area-table').bootstrapTable("hideLoading");
            $('#area-table').bootstrapTable("load", data);
        });
    }

    //初始化经销商表格
    function initAreaTable() {
        $('#area-table').bootstrapTable({
            pagination: true,
            striped: true, //是否显示行间隔色
            showLoading:true,
            height: getClientHeight() - 260,
            showColumns: false, // 开启自定义列显示功能
            sortable: true,
            pageNumber: 1,
            pageSize: 15,
            pageList: [10, 15, 20, 50],
            columns: [{
                title: "区域代码",
                field: 'AreaCode',
                width: 120,
                valign: "middle",
                align: "center",
                formatter: function (value, row, index) {
                    return '<a href="javascript:goEdit(' + row.Id + ');" >' + value + '</a>';
                }
            }, {
                title: "区域名称",
                field: "AreaName",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false 
            }, {
                title: "区域类型",
                field: "AreaTypeName",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            },{
                title: "上级区域",
                field: "ParentName",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "下级区域添加",
                field: 'AreaCode',
                width: 120,
                valign: "middle",
                align: "center",
                formatter: function (value, row, index) {
                    if (row.AreaType == "SmallArea") {
                        return ;
                    } else {
                        return '<a href="javascript:goChildArea(' + row.AreaId + ');" >下级区域添加</a>';
                    }                  
                }
            }, {
                title: "经销商设置",
                field: 'AreaCode',
                width: 120,
                valign: "middle",
                align: "center",
                formatter: function (value, row, index) {
                    if (row.AreaType == "SmallArea") {                        
                        return '<a href="javascript:goShop(' + row.AreaId + ');" >经销商设置</a>';
                    } else {
                        return ;
                    }                    
                }
            }, {
                title: "使用与否",
                field: "UseChk",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return value ? '是' : '否';
                }
            }, {
                title: "添加时间",
                field: "InDateTime",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "修改时间",
                field: "ModifyDateTime",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }],
            onClickRow: function (row, $element) {
                curRow = row;
            }
        });
    }

    function goEdit() {
        $("#Modal .modal-body").empty();
        $("#Modal").modal("show");
        $("#Modal .modal-footer").show();
        $("#Modal .modal-title").html("区域编辑");        
        $("#Modal .modal-body").load("/BrandContent/AreaEdit", {}, function () {
            $("#area-form").setForm(curRow);
            $("#area-form").data("json", JSON.stringify(curRow));
            $("input[type=checkbox]").iCheckParser();

        })
    }

    function goChildArea() {
        $("#Modal .modal-body").empty();
        $("#Modal").modal("show");
        $("#Modal .modal-footer").hide();
        $("#Modal .modal-title").html("添加下级区域");
        $("#Modal .modal-body").load("/BrandContent/SetChildArea", {}, function () {
            $("#area-form").setForm(curRow);
            $("#area-form").data("json", JSON.stringify(curRow));
            $("input[type=checkbox]").iCheckParser();

        })
    }
    function goShop() {
        $("#Modal .modal-body").empty();
        $("#Modal").modal("show");
        $("#Modal .modal-footer").hide();
        $("#Modal .modal-title").html("设置经销商");
        $("#Modal .modal-body").load("/BrandContent/SetShop", {}, function () {
            $("#area-form").setForm(curRow);
            $("#area-form").data("json", JSON.stringify(curRow));
            $("input[type=checkbox]").iCheckParser();

        })
    }
    
</script>



