@{
    ViewBag.Title = "巡检系统-期号管理";
}
<style>
    .operation {
        padding: 10px 0px;
        text-align: right;
    }

        .operation .btn {
            width: 100px;
        }
</style>
<div class="page-title">
    <div class="title_left">
        <h3>期号管理 <small></small></h3>
    </div>
</div>
<div class="operation col-md-offset-9">
    <div class="col-md-8">
        <select id="brand-sel" class="form-control">
        </select>
    </div>
    <button id="btnAdd" class="btn btn-primary right">新&nbsp;&nbsp;增</button>
</div>
<table id="project-table" class="table table-striped table-bordered dt-responsive">
    <thead>
        <tr>
            @*<th><input type="checkbox" id="check-all" class="flat"></th>*@
            <th width="100">期号编号</th>
            <th>期号名称</th>
            <th width="80">年份</th>
            <th width="80">季度</th>
            <th width="80">序号</th>
            @*<th width="100">添加人</th>*@
            <th width="180">添加时间</th>
            @*<th width="100">修改人</th>*@
            <th width="180">最新修改时间</th>
            <th width="100">操作</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div id="pagination" class="pull-right">
    <ul id="pageUl"></ul>
</div>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="save_button" type="button" onclick="saveProject()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/api.js"></script>
    <script src="~/Scripts/form-serialize.js"></script>
    <script src="~/Scripts/page.js"></script>
    <script>
        $(function () {
            loadBrandBindDropdownList(function (data) {
                $.each(data, function () {
                    $("#brand-sel").append($("<option>").val(this.BrandId).text(this.BrandName));
                })
                $("#brand-sel").change();
            });
            $("#brand-sel").change(function () {
                loadProject();
            })
            $("#btnAdd").click(function () {
                $("#Modal").modal("show");
                $("#Modal .modal-body").load("/BrandContent/ProjectEdit", {}, function () {
                })
                return false;
            })
        })
    </script>
}



