@{
    ViewBag.Title = "经销商管理";
}
<style>
    .operation {
        padding: 10px 0px;
        text-align: right;
    }

        .operation .btn {
            width: 100px;
        }

    .bootstrap-table .fixed-table-container.fixed-height .fixed-table-border {
        border-left: none;
        border-right: none;
    }
</style>
<div class="condition">
    <div style="text-align:right;width:100%">
        <button id="btnQuery" class="btn btn-primary">查询</button>
        <button id="btnShopAdd" class="btn btn-primary">添加经销商</button>
        <button id="btnShopImport" class="btn btn-primary">导入经销商</button>
        <button id="btnDownloadTemplate" class="btn btn-primary">下载模板</button>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">品牌:</label>
            <select id="brand-sel" class="form-control" style="width:200px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">经销商代码:</label>
            <input type="text" class="form-control" id="ShopCode" placeholder="经销商代码">
        </div>
        <div class="form-group">
            <label class="control-label">经销商名称:</label>
            <input type="text" class="form-control" id="ShopName" placeholder="经销商名称">
        </div>
        <div class="form-group">
            <label class="control-label">使用与否: </label>
            <input type="checkbox" id="useChk" name="useChk" checked>
        </div>
    </div>
    
</div>
<div class="result">
    <table id="shop-table" class="table table-bordered table-set"></table>
</div>

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">经销商编辑</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="save_button" type="button" onclick="saveShop()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalImport" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">经销商导入</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<div id="upload-container" class="container-fluid" style="margin:0;padding:0;display:none">
    <div id="ossfile"></div>
</div>

<script src="~/Scripts/api/common.js"></script>
<script src="~/Scripts/custom/form-serialize.js?20200510"></script>

<script src="~/Scripts/oss-upload-direct/lib/crypto1/crypto/crypto.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/crypto1/hmac/hmac.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/crypto1/sha1/sha1.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/base64.js"></script>
<script src="~/Scripts/oss-upload-direct/upload.js?20200426"></script>
<script>
    var ossUploader;
    var osspath;
    $(function () {
        $('title').html('@ViewBag.Title')
        $("input[type=radio],input[type=checkbox]").iCheckParser();

        osspath = "Survey/BaseInfo/";
        new OSSClient({
            autoupload: true,
            osspath: osspath + "Import/",
            selectfiles: "btnShopImport",
            multi_selection: false,
            success: function (files) {
                //调用导入方法
                files.forEach(function (file) {
                    var brandTxt = $("#brand-sel option:selected").text();
                    $("#ModalImport .modal-body").empty();
                    $("#ModalImport").modal("show");
                    $("#ModalImport .modal-body").load("/BrandContent/OpenShopImport", {}, function () {
                        $("#ImportBrand").html(brandTxt);
                        loadImportShop(file);
                    })
                })
            }
        });
        bindBrandSelect();
        //initShopTable();
        loadShop();
        $("#btnShopAdd").click(function () {
            $("#Modal").modal("show");
            $("#Modal .modal-body").load("/BrandContent/ShopEdit", {}, function () {
                bindGroupSel();
            })
            return false;
        })     

        $("#btnDownloadTemplate").click(function () {
            var url = loginUser.ossInfo.osshost + "Survey/ImportTemplate/Shop.xlsx";
            window.location.href = url;
        });

        $("#btnQuery").click(function () {
            loadShop();
        }).trigger("click");
    })
    var curRow;
    function saveShop() {
        var params = $("#shop-form").serializeJson();
        var json = $("#shop-form").data("json");
        params.UseChk = $("#UseChk").is(":checked");
        params.TenantId = loginUser.TenantId;
        params.BrandId = $("#brand-sel").val();
        if (json && json.length > 0) {
            //编辑
            json = JSON.parse(json);
            params = $.extend(json, params);
        } else {
            //新增
            params = $.extend({
                InUserId: loginUser.Id,
                ModifyUserId: loginUser.Id
            }, params);
        }
        $("#save_button").button("loading");
        $.commonPost("Master/SaveShop", params, function () {
            $("#save_button").button("reset");
            loadShop();
            closeModel();
        }, function () { $("#save_button").button("reset"); });
    }

    function loadShop() {
        var brandId = $("#brand-sel").val();
        if (!brandId) {
            alert("请选择品牌！");
            return
        } 
        $.commonGet("Master/GetShop", {
            brandId: $("#brand-sel").val(),
            shopId: '',
            shopCode: $("#ShopCode").val(),
            key: $("#ShopName").val(),
            useChk: $("#useChk").is(":checked")
        }, function (data) {
          //  $('#shop-table').bootstrapTable("hideLoading");
            // $('#shop-table').bootstrapTable("load", data);
            initShopTable(data);
        });
    }

    //初始化经销商表格
    function initShopTable(data) {
        $('#shop-table').bootstrapTable('destroy').bootstrapTable({
            pagination: true,
            data:data,
            striped: true, //是否显示行间隔色
            width: "100%",
            height: getClientHeight() - 260,
            showColumns: false, // 开启自定义列显示功能
            sortable: true,
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 50, 100, 500],
            columns: [{
                title: "经销商代码",
                field: 'ShopCode',
                width: 120,
                valign: "middle",
                align: "center",
                formatter: function (value, row, index) {
                    return '<a href="javascript:goEdit(' + row.Id + ');" style="min-width:100px">' + value + '</a>';
                }
            }, {
                title: "经销商名称",
                width: 230,
                field: "ShopName",
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "经销商简称",
                field: "ShopShortName",
                width: 230,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "省份",
                field: "Province",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "城市",
                field: "City",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "集团",
                field: "GroupName",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "使用与否",
                field: "UseChk",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return value ? '是' : '否';
                }
            }, {
                title: "添加时间",
                field: "InDateTime",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "修改时间",
                field: "ModifyDateTime",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }],
            onClickRow: function (row, $element) {
                curRow = row;
            }
        });
    }

    function goEdit() {
        $("#Modal .modal-body").empty();
        $("#Modal").modal("show");
        $("#Modal .modal-body").load("/BrandContent/ShopEdit", {}, function () {
            bindGroupSel();
            $("#shop-form").setForm(curRow);
            $("#shop-form").data("json", JSON.stringify(curRow));
            $("input[type=checkbox]").iCheckParser();
        })
    }


</script>


