@{
    ViewBag.Title = "巡检系统-经销商管理";
}
<div class="condition">
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">品牌:</label>
            <select id="brand-sel" class="form-control" style="width:200px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">经销商代码:</label>
            <input type="text" class="form-control" id="ShopCode" placeholder="账号">
        </div>
        <div class="form-group">
            <label class="control-label">经销商名称:</label>
            <input type="text" class="form-control" id="ShopName" placeholder="姓名">
        </div>
    </div>
    <div style="float:right;width:200px;text-align:right">
        <button id="btnQuery" class="btn btn-primary">查询</button>
        <button id="btnShopAdd" class="btn btn-primary">添加经销商</button>
    </div>
</div>
<div class="result">
    <table id="shop-table" class="table table-bordered table-set"></table>
</div>

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">经销商编辑</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="save_button" type="button" onclick="saveShop()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/api/common.js"></script>
<script src="~/Scripts/custom/form-serialize.js?20200510"></script>
<script>
    $(function () {
        $('title').html('@ViewBag.Title')

        bindBrandSelect();
        initShopTable();
        $("#btnShopAdd").click(function () {
            $("#Modal").modal("show");
            $("#Modal .modal-body").load("/BrandContent/ShopEdit", {}, function () {
                bindGroupSel();
            })
            return false;
        })

        $("#btnQuery").click(function () {
            loadShop();
        }).trigger("click");
    })
    var curRow;
    function saveShop() {
        var params = $("#shop-form").serializeJson();
        var json = $("#shop-form").data("json");
        params.UseChk = $("#UseChk").is(":checked");
        if (json && json.length > 0) {
            //编辑
            json = JSON.parse(json);
            params = $.extend(json, params);
        } else {
            //新增
            params = $.extend({
                TenantId: loginUser.TenantId,
                InUserId: loginUser.Id,
                ModifyUserId: loginUser.Id
            }, params);
        }
        $.commonPost("Master/SaveShop", params, function () {
            loadShop();
            closeModel();
        });
    }

    function loadShop() {
        $.commonGet("Master/GetShop", {
            brandId: $("#brand-sel").val(),
            shopId: '',
            shopCode: $("#ShopCode").val(),
            key: $("#ShopName").val()
        }, function (data) {
            console.log("shops",data)
            $('#shop-table').bootstrapTable("load", data);
        });
    }

    //初始化经销商表格
    function initShopTable() {
        $('#shop-table').bootstrapTable({
            pagination: true,
            striped: true, //是否显示行间隔色
            height: 560,
            showColumns: false, // 开启自定义列显示功能
            sortable: true,
            pageNumber: 1,
            pageSize: 15,
            pageList: [5, 10, 20, 50],
            columns: [{
                title: "经销商代码",
                field: 'ShopCode',
                width: 100,
                valign: "middle",
                align: "center",
                formatter: function (value, row, index) {
                    return '<a href="javascript:goEdit(' + row.Id + ');" style="min-width:100px">' + value + '</a>';
                }
            }, {
                title: "经销商名称",
                field: "ShopName",
                width: 200,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "经销商简称",
                field: "ShopShortName",
                width: 200,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "省份",
                field: "Province",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "城市",
                field: "City",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "集团",
                field: "GroupName",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "使用与否",
                field: "UseChk",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return value ? '是' : '否';
                }
            }, {
                title: "添加时间",
                field: "InDateTime",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "修改时间",
                field: "ModifyDateTime",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false
            }],
            onClickRow: function (row, $element) {
                curRow = row;
            }
        });
    }

    function goEdit() {
        $("#Modal .modal-body").empty();
        $("#Modal").modal("show");
        $("#Modal .modal-body").load("/BrandContent/ShopEdit", {}, function () {
            bindGroupSel();
            $("#shop-form").setForm(curRow);
            $("#shop-form").data("json", JSON.stringify(curRow));
            $("input[type=checkbox]").iCheckParser();
        })
    }

   
</script>



