<div>
    <form class="form-horizontal form-label-left" id="brand-form">
        <fieldset>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="BrandCode">
                    品牌代码<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="BrandCode" name="BrandCode" required="required" type="text" maxlength="15" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="BrandName">
                    品牌名称<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="BrandName" name="BrandName" required="required" type="text" maxlength="15" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Remark">
                    备注
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea id="Remark" name="Remark" rows="5" class="form-control col-md-7 col-xs-12"></textarea>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script>
    $('#brand-form').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            BrandCode: {
                trigger: "change",
                validators: {
                    notEmpty: {
                        message: '品牌代码不能为空',
                    }
                }
            },
            BrandName: {
                trigger: "change",
                validators: {
                    notEmpty: {
                        message: '品牌名称不能为空',
                    }
                }
            } 
        }
    });
</script>

