@{
    ViewBag.Title = "品牌管理";
}
<style>
    .operation {
        padding: 10px 0px;
        text-align: right;
    }

        .operation .btn {
            width: 100px;
        }
</style>
<div class="condition">
    <div style="float:right;width:100%;text-align:right">
        <button id="btnBrandAdd" class="btn btn-primary">添加品牌</button>
    </div>
</div>
<div class="result">
    <table id="brand-table" class="table table-bordered table-set"></table>
</div>

@*新增和编辑弹窗口*@
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">品牌编辑</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="save_button" type="button" onclick="saveBrand()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/api/common.js"></script>
<script src="~/Scripts/custom/form-serialize.js?20200510"></script>
<script>
    $(function () {
        $('title').html('@ViewBag.Title')

        initBrandTable();
        loadBrand();
        $("#btnBrandAdd").click(function () {
            $("#Modal").modal("show");
            $("#Modal .modal-body").load("/System/BrandEdit", {}, function () {
            })
            return false;
        })
    })
    var curRow;
    function saveBrand() {
        var params = $("#brand-form").serializeJson();
        var json = $("#brand-form").data("json");
        if (json && json.length > 0) {
            //编辑
            json = JSON.parse(json);
            params = $.extend(json, params);
        } else {
            //新增
            params = $.extend({
                TenantId: loginUser.TenantId,
                InUserId: loginUser.Id,
                ModifyUserId: loginUser.Id
            }, params);
        }
        $.commonPost("Master/SaveBrand", params, function () {
            loadBrand();
            closeModel();
        });
    }

    function loadBrand() {
        $.commonGet("Master/GetBrand", {
            tenantId: loginUser.TenantId,
            brandId: '',
            brandCode: ''
        }, function (data) {
            $('#brand-table').bootstrapTable("load", data);
        });
    }

    //初始化品牌表格
    function initBrandTable() {        
        $('#brand-table').bootstrapTable({
            pagination: true,
            striped: true, //是否显示行间隔色
            height: 560,
            showColumns: false, // 开启自定义列显示功能
            sortable: true,
            pageNumber: 1,
            pageSize: 15,
            pageList: [5, 10, 20, 50],
            columns: [{
                title: "品牌代码",
                field: 'BrandCode',
                width: 100,
                valign: "middle",
                align: "center",
                formatter: function (value, row, index) {
                    return '<a href="javascript:goEdit(' + row.Id + ');" style="min-width:100px">' + value + '</a>';
                }
            }, {
                title: "品牌名称",
                field: "BrandName",
                width: 200,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "备注",
                field: "Remark",
                width: 300,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "添加时间",
                field: "InDateTime",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "修改时间",
                field: "ModifyDateTime",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false
            }],
            onClickRow: function (row, $element) {
                curRow = row;
            }
        });
    }

    function goEdit() {
        $("#Modal .modal-body").empty();
        $("#Modal").modal("show");
        $("#Modal .modal-body").load("/System/BrandEdit", {}, function () {
            $("#brand-form").setForm(curRow);
            $("#brand-form").data("json", JSON.stringify(curRow));
        })
    }
</script>




