@{
    ViewBag.Title = "巡检系统-期号管理";
}

<div class="page-title">
    <div class="title_left">
        <h3>期号管理 <small></small></h3>
    </div>
</div>
<table id="project-table" class="table table-striped table-bordered dt-responsive">
    <thead>
        <tr>
            <th><input type="checkbox" id="check-all" class="flat"></th>
            <th>品牌编码</th>
            <th>品牌名称</th>
            <th>品牌编码</th>
            <th>备注</th>
            <th>添加人</th>
            <th>添加时间</th>
            <th>最新修改时间</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts{
    <script src="~/Scripts/api.js"></script>
<script src="~/Scripts/page.js"></script>
    <script>
        $(function () {
            loadTrand();
        })
    </script>
}



