<div>
    <form class="form-horizontal form-label-left" id="other-property-form">
        <fieldset>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="OtherType">
                    其他属性类型<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="OtherType" name="OtherType" required="required" type="text" maxlength="15" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="OtherCode">
                    其他属性编号<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="OtherCode" name="OtherCode" required="required" type="text" maxlength="15" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="OtherName">
                    其他属性名称<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="OtherName" name="OtherName" required="required" type="text" maxlength="15" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
        </fieldset>
    </form>
</div>

