<div class="operation col-md-offset-2 form-horizontal">
    <div class="row">
        <label class="control-label col-md-1">品牌</label>
        <div class="col-md-2">
            <select id="brand-sel" class="form-control"></select>
        </div>
        <label class="control-label col-md-1">年份</label>
        <div class="col-md-1">
            <select id="year" class="form-control selectpicker"></select>
        </div>
        <label class="control-label col-md-1">期号</label>
        <div class="col-md-2">
            <select id="project-sel" class="form-control"></select>
        </div>
        <label class="control-label col-md-1">检查类型</label>
        <div class="col-md-1">
            <select id="checktype-sel" class="form-control"></select>
        </div>
        <div class="col-md-1">
            <button id="btnSearch" class="btn btn-primary form-control">查&nbsp;&nbsp;询</button>
        </div>
        <div class="col-md-1">
            <button id="btnAdd" class="btn btn-primary form-control">新&nbsp;&nbsp;增</button>
        </div>
    </div>
</div>