<div>
    <form class="form-horizontal form-label-left" id="extend-column-form">
        <fieldset>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="OtherCode">
                    扩展列<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="ColumnCode" name="ColumnCode" type="text" class="form-control" readonly>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="OtherName">
                    扩展列名称<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="ColumnName" name="ColumnName" type="text" class="form-control">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="UseChk">
                    使用与否
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 5px;">
                    <input type="checkbox" id="UseChk" name="UseChk">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="UseChk">
                    新增显示
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 5px;">
                    <input type="checkbox" id="AddShowChk" name="AddShowChk">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ListShowChk">
                    App清单显示
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 5px;">
                    <input type="checkbox" id="ListShowChk" name="ListShowChk">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="EditChk">
                    是否可编辑
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 5px;">
                    <input type="checkbox" id="EditChk" name="EditChk">
                </div>
            </div>
        </fieldset>
    </form>
</div>
