<div>
    <form class="form-horizontal form-label-left" id="userInfo-form">
        <fieldset>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="AccountId">
                    账号<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="AccountId" name="AccountId" required="required" type="text"  class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="AccountName">
                    名称<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="AccountName" name="AccountName" required="required" type="text"  class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Password">
                    密码
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="Password" name="Password" type="text"  class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Email">
                    邮箱
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="Email" name="Email" type="text"  class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="TelNO">
                    电话
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="TelNO" name="TelNO" type="text"  class="form-control col-md-7 col-xs-12">
                </div>
            </div>
        </fieldset>
    </form>
</div>

