@{
    ViewBag.Title = "轻松拍-其他属性管理";
}
<div class="page-title">
    <div class="title_left">
        <h3>其他属性管理 <small></small></h3>
    </div>
</div>
@Html.Partial("_PartialSearchCondition2")
<table id="other-property-table" class="table table-striped table-bordered dt-responsive">
    <thead>
        <tr>
            <th width="120">其他属性编号</th>
            <th width="120">其他属性类型</th>
            <th>其他属性名称</th>
            <th width="180">登记时间</th>
            <th width="180">最新修改时间</th>
            <th width="100">操作</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div id="pagination" class="pull-right">
    <ul id="pageUl"></ul>
</div>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="save_button" type="button" onclick="saveEasyPhotoOhterProperty()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/api.js"></script>
    <script src="~/Scripts/form-serialize.js"></script>
    <script src="~/Scripts/page.js"></script>
    <script src="~/Scripts/custom/search-condition.js"></script>
    <script>
        $(function () {

            $("#btnSearch").click(function () {
                loadEasyPhotoOhterProperty($("#project-sel").val(), $("#othertype-sel").val());
            });

            $("#btnAdd").click(function () {
                $("#Modal").modal("show");
                $("#Modal .modal-body").load("/EasyPhoto/EasyPhotoOtherPropertyEdit", {}, function () {
                })
                return false;
            });
        })


        // 查询轻松拍的其他属性
        function loadEasyPhotoOhterProperty(projectId, otherType) {
            loadEasyPhotoMasterCommonGet("GetOtherProperty", {
                projectId: projectId,
                otherType: otherType,
                otherCode: ''
            }, function (data) {
                var pageClick = function (curPage) {
                    bindTable(data, $("#other-property-table"), curPage);
                }
                pageClick(curPageNum);
                createPage(data.length, curPageNum, pageSize, pageClick);
            })
        }

        //保存轻松拍的其他属性
        function saveEasyPhotoOhterProperty() {
            saveEasyPhotoCommonObject("SaveOhterProperty", $("#other-property-form"), {
                InUserId: loginUser.Id,
                ModifyUserId: loginUser.Id,
                ProjectId: $("#project-sel").val()
            }, function () {
                $("#btnSearch").click();
            });
        }

        function bindTable(data, table, curPage) {
            $("tbody", table).empty();

            var pageLst = data.filter(function (item, i, self) {
                var start = curPage > 0 ? (curPage - 1) * pageSize : 0;
                return (i >= start && i < (start + pageSize));
            })
            $.each(pageLst, function (i, item) {
                //page
                var tr = $("<tr>");

                tr.append($("<td></td>").html(item.OtherCode));
                tr.append($("<td></td>").html(item.OtherType));
                tr.append($("<td></td>").html(item.OtherName));
                tr.append($("<td></td>").html(item.InDateTime || item.InDateTime.replace('T', ' ')));
                if (item.ModifyDateTime) {
                    tr.append($("<td></td>").html(item.ModifyDateTime.replace('T', ' ')));
                } else {
                    tr.append($("<td></td>").html(''));
                }

                var edit = $("<a href='#'>编辑</a>");
                edit.click(function () {
                    $("#Modal").modal("show");
                    $("#Modal .modal-body").load("/EasyPhoto/EasyPhotoOtherPropertyEdit", {}, function () {
                        $("#other-property-form").setForm(item);
                        $("#other-property-form").data("json", JSON.stringify(item));
                    })
                    return false;
                })
                tr.append($("<td></td>").append(edit));

                $("tbody", table).append(tr);
            })
        }
    </script>
}



