@{
    ViewBag.Title = "轻松拍-期号管理";
}
<style>
</style>
<div class="page-title">
    <div class="title_left">
        <h3>期号管理 <small></small></h3>
    </div>
</div>
<div class="operation col-md-offset-2 form-group">
    <div class="row">
        <div class="col-md-10"> </div>
        <div class="col-md-1">
            <button id="btnSearch" class="btn btn-primary form-control">查&nbsp;&nbsp;询</button>
        </div>
        <div class="col-md-1">
            <button id="btnAdd" class="btn btn-primary form-control">新&nbsp;&nbsp;增</button>
        </div>
    </div>
</div>
<table id="project-table" class="table table-striped table-bordered dt-responsive">
    <thead>
        <tr>
            @*<th><input type="checkbox" id="check-all" class="flat"></th>*@
            <th width="100">期号编号</th>
            <th>期号名称</th>
            <th width="80">年份</th>
            <th width="80">季度</th>
            <th width="80">序号</th>
            <th width="100">评分与否</th>
            <th width="100">其他属性与否</th>
            <th width="180">到期时间</th>
            <th width="180">登记时间</th>
            <th width="180">最新修改时间</th>
            <th width="100">操作</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div id="pagination" class="pull-right">
    <ul id="pageUl"></ul>
</div>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="save_button" type="button" onclick="saveEasyPhotoProject()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/api/common.js"></script>
<script src="~/Scripts/api/easyphoto.js"></script>
<script src="~/Scripts/form-serialize.js"></script>
<script src="~/Scripts/page.js"></script>
<script>
    $(function () {
        $("input[type=checkbox]").iCheckParser();

        $("#btnSearch").click(function () {
            loadEasyPhotoProject($("#year").val());
        });
        $("#btnAdd").click(function () {
            $("#Modal").modal("show");
            $("#Modal .modal-body").load("/EasyPhoto/EasyPhotoProjectEdit", {}, function () {
            })
            return false;
        });
        //保存轻松拍的期号
        function saveEasyPhotoProject() {
            saveEasyPhotoCommonObject("SaveProject", $("#project-form"), {
                //新增
                TenantId: loginUser.TenantId,
                InUserId: loginUser.Id,
                ModifyUserId: loginUser.Id
            }, function () {
                $("#btnSearch").click();
            });

        }
        // 查询轻松拍的期号
        function loadEasyPhotoProject(year) {
            loadEasyPhotoMasterCommonGet("GetProject",{
                tenantId: loginUser.TenantId,
                projectId: "",
                brandId:"",
                year: year || "",
                expireDateTimeCheck: ""
            }, function (data) {
                var pageClick = function (curPage) {
                    bindTable(data, $("#project-table"), curPage);
                }
                pageClick(curPageNum);
                createPage(data.length, curPageNum, pageSize, pageClick);
            })
            return false;
        };
        // 查询轻松拍的期号
        function loadEasyPhotoProject(year) {
            loadEasyPhotoMasterCommonGet("GetProject", {
                tenantId: loginUser.TenantId,
                projectId: "",
                brandId:"",
                year: year || "",
                expireDateTimeCheck: ""
            }, function (data) {
                var pageClick = function (curPage) {
                    bindTable(data, $("#project-table"), curPage);
                }
                pageClick(curPageNum);
                createPage(data.length, curPageNum, pageSize, pageClick);
            })
        }
        function bindTable(data, table, curPage) {
            $("tbody", table).empty();

            var pageLst = data.filter(function (item, i, self) {
                var start = curPage > 0 ? (curPage - 1) * pageSize : 0;
                return (i >= start && i < (start + pageSize));
            })
            $.each(pageLst, function (i, item) {
                //page
                var tr = $("<tr>");

                tr.append($("<td></td>").html(item.ProjectCode));
                tr.append($("<td></td>").html(item.ProjectName));
                tr.append($("<td></td>").html(item.Year));
                tr.append($("<td></td>").html(item.Quarter));
                tr.append($("<td></td>").html(item.OrderNO));
                tr.append($("<td></td>").html(item.ScoreShow));
                tr.append($("<td></td>").html(item.OtherPropertyShow));
                tr.append($("<td></td>").html(item.ExpireDateTime.replace('T', ' ')));
                tr.append($("<td></td>").html(item.InDateTime.replace('T', ' ')));
                tr.append($("<td></td>").html(item.ModifyDateTime.replace('T', ' ')));
                var edit = $("<a href='#'>编辑</a>");
                edit.click(function () {
                    $("#Modal").modal("show");
                    $("#Modal .modal-body").load("/EasyPhoto/EasyPhotoProjectEdit", {}, function () {
                        $("#project-form").setForm(item);
                        $("#project-form").data("json", JSON.stringify(item));
                    })
                    return false;
                })
                tr.append($("<td></td>").append(edit));

                $("tbody", table).append(tr);
            })
        }
    })
</script>

