@{
    ViewBag.Title = "轻松拍-期号管理";
}
<style>
    .operation {
        padding: 10px 0px;
        text-align: right;
    }

        .operation .btn {
            width: 100px;
        }
</style>
<div class="condition">
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">品牌:</label>
            <select id="brand-sel" class="form-control" style="width:200px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">年份:</label>
            <select id="year-sel" class="form-control" style="width:200px;"></select>
        </div>
    </div>
    <div style="float:right;width:200px;text-align:right">
        <button id="btnQuery" class="btn btn-primary">查询</button>
        <button id="btnProjectAdd" class="btn btn-primary">添加期号</button>
    </div>
</div>
<div class="result">
    <table id="project-table" class="table table-bordered table-set"></table>
</div>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">期号编辑</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="save_button" type="button" onclick="saveProject()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div> 

<script src="~/Scripts/api/common.js"></script>
<script src="~/Scripts/api/easyphoto.js"></script>
<script src="~/Scripts/custom/form-serialize.js"></script>
<script src="~/Scripts/page.js"></script>
<script>
    $(function () {
        $('title').html('@ViewBag.Title')

        bindBrandSelect();
        for (var i = 2020; i <= 2030; i++) {
            $("#year-sel").append($("<option>").text(i + "").val(i + ""));
        }
        var tYear = new Date().getFullYear();
        $("#year-sel").val(tYear);

        $("#brand-sel").change(function () {
            loadProject();
        })
        $("#btnProjectAdd").click(function () {
            $("#Modal").modal("show");
            $("#Modal .modal-body").load("/EasyPhoto/EasyPhotoProjectEdit", {}, function () {
            })
            return false;
        })

        initProjectTable();
        $("#btnQuery").click(function () {
            loadProject();
        }).trigger("click");
    })

    var curRow;
    function saveProject() {
        var data = $('#project-form').data('bootstrapValidator');
        if (data) {
            // 修复记忆的组件不验证
            data.validate();

            if (!data.isValid()) {
                return false;
            }
        }
        var params = $("#project-form").serializeJson();
        var json = $("#project-form").data("json");
        if (json && json.length > 0) {
            //编辑
            json = JSON.parse(json);
            params = $.extend(json, params);
        } else {
            //新增
            params = $.extend({
                TenantId: loginUser.TenantId,
                InUserId: loginUser.Id,
                ModifyUserId: loginUser.Id
            }, params);
        }
        $("#save_button").button("loading");
        $.commonApi({
            apiType: 'easyPhoto',
            url: 'Master/SaveProject',
            params: params,
            type:'post',
            success: function (data) {
                $("#save_button").button("reset");
                loadProject();
                closeModel();
            },
            complete: function () { $("#save_button").button("reset"); }
        })
    }

    function loadProject() {
        $('#project-table').bootstrapTable("showLoading");
        $.commonApi({
            apiType: 'easyPhoto',
            url: 'Master/GetProject',
            params: {
                tenantId:loginUser.TenantId,
                brandId: $("#brand-sel").val(),
                projectId: '',
                year: $("#year-sel").val(),
                expireDateTimeCheck:''
            },
            success: function (data) {
                $('#project-table').bootstrapTable("hideLoading");
                $('#project-table').bootstrapTable("load", data);
            }
        })
    }

    //初始化经销商表格
    function initProjectTable() {
        $('#project-table').bootstrapTable({
            pagination: true,
            striped: true, //是否显示行间隔色
            width: "100%",
            height: getClientHeight() - 260,
            showColumns: false, // 开启自定义列显示功能
            sortable: true,
            pageNumber: 1,
            pageSize: 15,
            pageList: [5, 10, 20, 50],
            columns: [{
                title: "期号代码",
                field: 'ProjectCode',
                width: 120,
                valign: "middle",
                align: "center",
                formatter: function (value, row, index) {
                    return '<a href="javascript:goEdit(' + row.Id + ');" style="min-width:100px">' + value + '</a>';
                }
            }, {
                title: "期号名称",
                field: "ProjectName",
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "年份",
                field: "Year",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "季度",
                field: "Quarter",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "序号",
                field: "OrderNO",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "到期时间",
                field: "ExpireDateTime",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "添加时间",
                field: "InDateTime",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "修改时间",
                field: "ModifyDateTime",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }],
            onClickRow: function (row, $element) {
                curRow = row;
            }
        });
    }

    function goEdit() {
        $("#Modal .modal-body").empty();
        $("#Modal").modal("show");
        $("#Modal .modal-body").load("/EasyPhoto/EasyPhotoProjectEdit", {}, function () {
            $("#project-form").setForm(curRow);
            $("#project-form").data("json", JSON.stringify(curRow));
        })
    }
</script>

