@{
    ViewBag.Title = "轻松拍-扩展列管理";
}
<style>
    .operation {
        padding: 10px 0px;
        text-align: right;
    }

        .operation .btn {
            width: 100px;
        }
</style>
<div class="condition">
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">期号:</label>
            <select id="project-sel" class="form-control" style="width:200px;"></select>
        </div>
    </div>
    <div style="float:right;width:200px;text-align:right">
        <button id="btnQuery" class="btn btn-primary">查询</button>
    </div>
</div>
<div class="result">
    <table id="extend-column-table" class="table table-bordered table-set"></table>
</div>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">扩展列编辑</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="save_button" type="button" onclick="saveEasyPhotoExtendColumn()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DataModal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">扩展列数据</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/api/common.js"></script>
<script src="~/Scripts/custom/form-serialize.js"></script>
<script>
    $(function () {
        $('title').html('@ViewBag.Title');

        //加载期号
        bindEasyPhotoProjectSelect();

        initEasyPhotoExtendColumnTable();
        $("#project-sel").change(function () {
            loadEasyPhotoExtendColumn();
        }).change();

        $("#btnQuery").click(function () {
            loadEasyPhotoExtendColumn();
        });

    })

    var curRow;
    //初始化扩展列表格
    function initEasyPhotoExtendColumnTable() {
        $('#extend-column-table').bootstrapTable({
            pagination: true,
            striped: true, //是否显示行间隔色
            width: "100%",
            height: getClientHeight() - 260,
            showColumns: false, // 开启自定义列显示功能
            sortable: true,
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 50, 100, 500],
            columns: [{
                title: "扩展列",
                field: 'ColumnCode',
                width: 120,
                valign: "middle",
                align: "center",
                formatter: function (value, row, index) {
                    return '<a href="javascript:goEdit();" style="min-width:100px">' + value + '</a>';
                }
            }, {
                title: "扩展列名称",
                field: "ColumnName",
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "扩展列类型",
                field: "ColumnType",
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "使用与否",
                field: "UseChk",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return value ? '是' : '否';
                }
            }, {
                title: "新增显示",
                field: "AddShowChk",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return value ? '是' : '否';
                }

            }, {
                title: "App清单显示",
                field: "ListShowChk",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return value ? '是' : '否';
                }

            }, {
                title: "是否可编辑",
                field: "EditChk",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return value ? '是' : '否';
                }

            }, {
                title: "数据",
                field: "",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    if (row.AddShowChk || row.EditChk) {
                        return '<a href="javascript:setExtendColumnData();" style="min-width:100px">数据</a>';
                    } else {
                        return "";
                    }
                }
            }],
            onClickRow: function (row, $element) {
                curRow = row;
            }
        });
    }

    function goEdit() {
        $("#Modal .modal-body").empty();
        $("#Modal").modal("show");
        $("#Modal .modal-body").load("/EasyPhoto/EasyPhotoExtendColumnEdit", {}, function () {
            debugger
            $("#ColumnType").append($("<option>").val("0").text('输入框'));
            $("#ColumnType").append($("<option>").val("1").text("下拉框"));
            $("#ColumnType").append($("<option>").val("2").text("日期"));
            $("#extend-column-form").setForm(curRow);
            $("#ColumnType").val(curRow.ColumnType);
            $("#extend-column-form").data("json", JSON.stringify(curRow));
            $("input[type=checkbox]").iCheckParser();
        })
    }

    // 查询轻松拍的扩展列
    function loadEasyPhotoExtendColumn() {
        $.commonApi({
            apiType: 'easyPhoto',
            url: 'Master/GetExtendColumnProject',
            params: {
                projectId: $("#project-sel").val(),
                columnCode: '',
                addShowChk: ''
            },
            success: function (data) {
                $('#extend-column-table').bootstrapTable("hideLoading");
                $('#extend-column-table').bootstrapTable("load", data);
            }
        })
    }


    //保存轻松拍的扩展列
    function saveEasyPhotoExtendColumn() {
        var data = $('#extend-column-form').data('bootstrapValidator');
        if (data) {
            // 修复记忆的组件不验证
            data.validate();

            if (!data.isValid()) {
                return false;
            }
        }
        var params = $("#extend-column-form").serializeJson();
        var json = $("#extend-column-form").data("json");
        params.UseChk = $("#UseChk").is(":checked");
        params.AddShowChk = $("#AddShowChk").is(":checked");
        params.ListShowChk = $("#ListShowChk").is(":checked");
        params.EditChk = $("#EditChk").is(":checked");
        debugger
        params.ColumnType = $("#ColumnType").val();
        if (json && json.length > 0) {
            //编辑
            json = JSON.parse(json);
            params = $.extend(json, params, {
                InUserId: loginUser.Id,
                ModifyUserId: loginUser.Id
            });
        } else {
            //新增
            params = $.extend({
                ProjectId: $("#project-sel").val(),
                InUserId: loginUser.Id,
                ModifyUserId: loginUser.Id
            }, params);
        }
        $("#save_button").button("loading");
        $.commonApi({
            apiType: 'easyPhoto',
            url: 'Master/SaveExtendColumnProject',
            params: params,
            type: 'post',
            success: function (data) {
                $("#save_button").button("reset");
                loadEasyPhotoExtendColumn();
                closeModel();
            },
            complete: function () { $("#save_button").button("reset"); }
        })
    }

    function setExtendColumnData() {
        $("#DataModal .modal-body").empty();
        $("#DataModal").modal("show");
        $("#DataModal .modal-body").load("/EasyPhoto/EasyPhotoExtendColumnData", {}, function () {
        })
    }
</script>
