@{
    ViewBag.Title = "轻松拍-清单管理";
}
<style>
    .operation {
        padding: 10px 0px;
        text-align: right;
    }

        .operation .btn {
            width: 100px;
        }
</style>
<div class="condition">
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">期号:</label>
            <select id="project-sel" class="form-control" style="width:200px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">经销商:</label>
            <input id="key" class="form-control" style="width:200px;" />
        </div>
    </div>
    <div style="float:right;width:400px;text-align:right">
        <button id="btnQuery" class="btn btn-primary">查询</button>
        <button id="btnDownloadTemplate" class="btn btn-primary">模板</button>
        <button id="btnImportAnswer" class="btn btn-primary">导入</button>
        <button id="btnExportAnswer" class="btn btn-primary">导出</button>
    </div>
</div>
<div class="result">
    <table id="answer-table" class="table table-bordered table-set"></table>
    
</div>

<div id="baguetteBox" class="baguetteBox">
</div>

<div id="upload-container" class="container-fluid" style="margin:0;padding:0;display:none">
    <div id="ossfile"></div>
</div>

<div class="modal fade" id="ModalImport" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:70%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<link href="~/Content/baguetteBox/baguetteBox.css" rel="stylesheet" />
<style>
    .baguetteBox {
        display: none;
    }
</style>
<script src="~/Scripts/api/common.js"></script>
<script src="~/Scripts/custom/form-serialize.js"></script>
<script src="~/Content/baguetteBox/baguetteBox.js"></script>

<script src="~/Scripts/oss-upload-direct/lib/crypto1/crypto/crypto.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/crypto1/hmac/hmac.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/crypto1/sha1/sha1.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/base64.js"></script>
<script src="~/Scripts/oss-upload-direct/upload.js?20200608"></script>
<script>
    var osspath;
    var ossFileUploader;
    $(function () {
        $('title').html('@ViewBag.Title')

        osspath = "EasyPhoto/Answer/";
        new OSSClient({
            autoupload: true,
            osspath: osspath,
            selectfiles: "btnImportAnswer",
            multi_selection: false,
            success: function (files) {
                console.log(files)
                debugger
                //调用导入方法
                files.forEach(function (file) {
                    var projectTxt = $("#project-sel option:selected").text();
                    //调用导入方法
                    files.forEach(function (file) {
                        $("#ModalImport .modal-body").empty();
                        $("#ModalImport").modal("show");
                        $("#ModalImport .modal-title").html("清单导入");
                        $("#ModalImport .modal-body").load("/EasyPhoto/EasyPhotoAnswerImport", {}, function () {
                            $("#ImportProject").html(projectTxt);
                            loadImportAnswer(file);
                        })
                    })
                })
            }
        });

        //加载期号
        bindEasyPhotoProjectSelect();

        initEasyPhotoAnswerTable();
        $("#project-sel").change(function () {
            loadEasyPhotoAnswer();
        }).change();


        //查询事件
        $("#btnQuery").click(function () {
            loadEasyPhotoAnswer();
        });

        $("#btnDownloadTemplate").click(function () {
            var url = ossUrlRoot + "EasyPhoto/ImportTemplate/Answer.xlsx";
            console.log(url)
            window.location.href = url;
        });

        $("#btnExportAnswer").click(function () {
            $("#btnExportAnswer").button('loading');

            $.commonApi({
                apiType: 'easyPhoto',
                url: 'Answer/AnswerExport',
                params: {
                    projectId: $("#project-sel").val(),
                    shopCode: ''
                },
                success: function (data) {
                    window.location.href = baseEasyPhotoUrl + data;
                },
                complete: function () {
                    $("#btnExportAnswer").button('reset');
                }
            })
        });
    })

    // 查询轻松拍清单
    function loadEasyPhotoAnswer() {
        $('#answer-table').bootstrapTable("showLoading");
        $.commonApi({
            apiType: 'easyPhoto',
            url: 'Answer/GetShopAnswerList',
            params: {
                answerId: '',
                projectId: $("#project-sel").val(),
                shopCode: "",
                checkCode: '',
                checkTypeId: '',
                photoCheck: '',
                addCheck: '',
                key: $("#key").val()
            },
            success: function (data) {
                $('#answer-table').bootstrapTable("hideLoading");
                $('#answer-table').bootstrapTable("load", data);
            }
        })
    }

    //初始化清单表格
    function initEasyPhotoAnswerTable() {
        var cols = [{
            title: "经销商代码",
            field: 'ShopCode',
            width: 120,
            valign: "middle",
            align: "center"
        }, {
            title: "经销商名称",
            field: 'ShopName',
            valign: "middle",
            align: "center"
        }, {
            title: "检查代码",
            field: 'CheckCode',
            width: 180,
            valign: "middle",
            align: "center"
        }, {
            title: "检查类型",
            field: 'CheckTypeName',
            width: 120,
            valign: "middle",
            align: "center"
        }, {
            title: "备注",
            field: 'RemarkName',
            width: 120,
            valign: "middle",
            align: "center"
        }, {
            title: "照片",
            field: 'AnswerPhotoList',
            width: 120,
            valign: "middle",
            align: "center",
            formatter: function (value, row, index) {
                console.log(value)
                if (value.length > 0) {
                    return '<a href="javascript:createImageList();" style="min-width:100px">照片</a>';
                } else {
                    return "";
                }
            }
        }, {
            title: "新增与否",
            field: "AddCheck",
            width: 120,
            valign: "middle",
            align: "center",
            sortable: false,
            formatter: function (value, row, index) {
                return value == 'Y' ? '是' : '否';
            }
        }];
        $.commonApi({
            apiType: 'easyPhoto',
            url: 'Master/GetExtendColumnProject',
            params: {
                projectId: $("#project-sel").val(),
                columnCode: '',
                addShowChk: ''
            },
            success: function (data) {
                data.forEach(function (item) {
                    if (item.UseChk) {
                        cols.push({
                            title: item.ColumnName,
                            field: item.ColumnCode,
                            width: 120,
                            valign: "middle",
                            align: "center"
                        })
                    }
                })

                $('#answer-table').bootstrapTable({
                    pagination: true,
                    striped: true, //是否显示行间隔色
                    width: "100%",
                    height: getClientHeight() - 260,
                    showColumns: false, // 开启自定义列显示功能
                    sortable: true,
                    pageNumber: 1,
                    pageSize: 15,
                    pageList: [5, 10, 20, 50],
                    columns: cols,
                    onClickRow: function (row, $element) {
                        curRow = row;
                    }
                });
            }
        });
    }

    function createImageList() {
        var items = curRow.AnswerPhotoList;
        if (!items || items.length == 0) {
            alert("没有照片！")
            return;
        }
        var div = $(".baguetteBox");
        div.empty();
        var count = items.length;
        $.each(items, function (i, item) {
            var imgUrl = ossUrlRootTest + item.PhotoUrl;
            var imgThumbUrl = imgUrl + '?x-oss-process=image/resize,m_fill,h_180,w_240';
            var imagA = $('<a></a>');
            var img = $('<img>').attr('src', imgUrl).attr("alt", (i + 1) + "/" + count + "   " + item.PhotoName);
            $(imagA).append(img);
            $(imagA).attr('href', imgUrl);
            $(imagA).attr('data-caption', (i + 1) + "/" + count + "   " + item.PhotoName);

            div.append(imagA);
        })
        baguetteBox.run('.baguetteBox', {
            animation: 'fadeIn'
        });

        setTimeout(function () {
            div.find("a:first img").click();
        }, 100)
    }

</script>
