@{
    ViewBag.Title = "轻松拍-检查类型管理";
}
<style>
    .operation {
        padding: 10px 0px;
        text-align: right;
    }

        .operation .btn {
            width: 100px;
        }
</style>
<div class="condition">
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">期号:</label>
            <select id="project-sel" class="form-control" style="width:200px;"></select>
        </div>
    </div>
    <div style="float:right;width:200px;text-align:right">
        <button id="btnQuery" class="btn btn-primary">查询</button>
        <button id="btnAdd" class="btn btn-primary">添加检查类型</button>
    </div>
</div>
<div class="result">
    <table id="checktype-table" class="table table-bordered table-set"></table>
</div>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">检查类型编辑</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="save_button" type="button" onclick="saveEasyPhotoCheckType()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div> 

<script src="~/Scripts/api/common.js"></script>
<script src="~/Scripts/custom/form-serialize.js"></script> 
<script>
    $(function () {
        $('title').html('@ViewBag.Title')
         
        bindEasyPhotoProjectSelect();
        $("#project-sel").change(function () {
            loadEasyPhotoCheckType();
        })
        
        initEasyPhotoCheckTypeTable();
        $("#btnQuery").click(function () {
            loadEasyPhotoCheckType();
        }).trigger("click");

        $("#btnAdd").click(function () {
            $("#Modal .modal-body").empty();
            $("#Modal").modal("show");
            $("#Modal .title").text("检查类型新增");
            $("#Modal .modal-body").load("/EasyPhoto/EasyPhotoCheckTypeEdit", {}, function () {
                $("input[type=checkbox]").iCheckParser();
            })
        }) 
    })

    function loadEasyPhotoCheckType() {
        $('#checktype-table').bootstrapTable("showLoading");
        $.commonApi({
            apiType: 'easyPhoto',
            url: 'Master/GetCheckTypeList',
            params: {
                projectId: $("#project-sel").val(),
                checkTypeId: '',
                checkTypeName: '',
                useChk:''
            },
            success: function (data) {
                $('#checktype-table').bootstrapTable("hideLoading");
                $('#checktype-table').bootstrapTable("load", data);
            }
        })
    }

    //初始化经销商表格
    function initEasyPhotoCheckTypeTable() {
        $('#checktype-table').bootstrapTable({
            pagination: true,
            striped: true, //是否显示行间隔色
            width: "100%",
            height: getClientHeight() - 260,
            showColumns: false, // 开启自定义列显示功能
            sortable: true,
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 50, 100, 500],
            columns: [{
                title: "检查类型",
                field: 'CheckTypeName',
                width: 120,
                valign: "middle",
                align: "center",
                formatter: function (value, row, index) {
                    return '<a href="javascript:goEdit(' + row.Id + ');" style="min-width:100px">' + value + '</a>';
                }
            }, {
                title: "使用与否",
                field: "UseChk",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return value ? '是' : '否';
                }
            }, {
                title: "添加时间",
                field: "InDateTime",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "修改时间",
                field: "ModifyDateTime",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }],
            onClickRow: function (row, $element) {
                curRow = row;
            }
        });
    }

    function goEdit() {
        $("#Modal .modal-body").empty();
        $("#Modal").modal("show");
        $("#Modal .title").text("检查类型编辑");
        $("#Modal .modal-body").load("/EasyPhoto/EasyPhotoCheckTypeEdit", {}, function () {
            $("#checktype-form").setForm(curRow);
            $("#checktype-form").data("json", JSON.stringify(curRow));
            $("input[type=checkbox]").iCheckParser();
        })
    }

    var curRow;
    function saveEasyPhotoCheckType() {
        var data = $('#checktype-form').data('bootstrapValidator');
        if (data) {
            // 修复记忆的组件不验证
            data.validate();

            if (!data.isValid()) {
                return false;
            }
        }
        var params = $("#checktype-form").serializeJson();
        var json = $("#checktype-form").data("json");
        params.UseChk = $("#UseChk").is(":checked");
        if (json && json.length > 0) {
            //编辑
            json = JSON.parse(json);
            params = $.extend(json, params);
        } else {
            //新增
            params = $.extend({
                ProjectId: $("#project-sel").val(),
                InUserId: loginUser.Id,
                ModifyUserId: loginUser.Id
            }, params);
        } 
        $("#save_button").button("loading");
        $.commonApi({
            apiType: 'easyPhoto',
            url: 'Master/SaveCheckType',
            params: params,
            type: 'post',
            success: function (data) {
                $("#save_button").button("reset");
                loadEasyPhotoCheckType();
                closeModel();
            },
            complete: function () { $("#save_button").button("reset"); }
        })
    }
</script>



