@{
    ViewBag.Title = "巡检系统-主页";
}
<style>
    .block-content {
        background: #fff;
        box-shadow: 0 2px 4px 0 #e5e7ea;
    }
</style>
<div class="profile block-content">
    
</div>
<script src="~/Scripts/api/common.js"></script>
<script src="~/Scripts/custom/form-serialize.js?20200510"></script>
<script>
    $(function () {
        $('title').html('@ViewBag.Title')
    });
</script>
