@{
    ViewBag.Title = "首页";
}
<style>
    .block-content {
        background: #fff;
        box-shadow: 0 2px 4px 0 #e5e7ea;
    }
</style>
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel tile fixed_height_390 overflow_hidden">
            <div class="x_title">
                <h2>报告统计</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="report-count-table"></table>
            </div>
        </div>
    </div> 
</div>
<script src="~/Scripts/api/common.js"></script>
<script src="~/Scripts/custom/form-serialize.js?20200510"></script>
<script>
    $(function () {
        $('title').html('@ViewBag.Title')

        initReportCountTable();
        $.commonGet("ReportFile/ReportFileCountYear", {}, function (data) {
            console.log(data)
            $("#report-count-table").bootstrapTable("load", data);
        })
    });

    function initReportCountTable() {
        //生成用户数据
        $('#report-count-table').bootstrapTable({
            pagination: true,
            striped: true, //是否显示行间隔色
            height: 300,
            showColumns: false, // 开启自定义列显示功能
            sortable: true,
            pageNumber: 1,
            pageSize: 15,
            pageList: [5, 10, 20, 50],
            columns: [{
                title: "期号代码",
                field: 'ProjectCode',
                width: 100,
                valign: "middle",
                align: "center" 
            }, {
                title: "期号名称",
                field: "ProjectName",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "经销商代码",
                field: 'ShopCode',
                width: 100,
                valign: "middle",
                align: "center" 
            }, {
                title: "经销商名称",
                field: "ShopName",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "报告文件个数",
                field: "ReportFileCount_File",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "视频个数",
                field: "ReportFileCount_Video",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }],
            onClickRow: function (row, $element) {
                curRow = row;
            }
        });
    }
</script>
