<style>
    .form-horizontal label {
        padding-right: 0px;
    }

    .panel {
        margin-bottom: 5px;
    }

    .panel-heading {
        padding: 6px 10px;
    }

    .dealer-li{
        width:60px
    }
</style>
<style>
    #loss-file-pics .img-div {
        float: left;
        position: sticky;
    }

    #loss-file-pics i {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 18px;
    }
</style>
<style>
    #subject-file-pics .img-div {
        float: left;
        position: sticky;
    }

    #subject-file-pics i {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 18px;
    }
</style>

<div style="height:700px; overflow:auto">
    <div class="container col-md-12">
        <div class="item form-group" style="float:right;">
            <div class="form-inline">
                <a id="btnPre" class="btn btn-primary btn-sm" style="margin-right:0px" onclick="prevSubject()">上一题</a>
                <a id="btnNext" class="btn btn-primary btn-sm" style="margin-right:0px" onclick="nextSubject()">下一题</a>
                @*<div class="form-group">
                        <input id="toSeqNo" style="width:60px!important" class="form-control" />
                        <a id="btnTrans" class="btn btn-primary" style="margin-right:0px" onclick="toSubjectSeqNo()">转到</a>
                    </div>*@
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="container col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">得分信息</div>
            <div class="panel-body" style="padding: 0; padding-top:8px; ">
                <form class="form-horizontal" id="answer-form">
                    <div class="form-group col-md-4">
                        <label class="control-label  col-md-3" for="OrderNO">题目序号:</label>
                        <div class="col-md-9">
                            <input id="OrderNO" name="OrderNO" type="text" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label  col-md-3" for="SubjectCode">题目代码:</label>
                        <div class="col-md-9">
                            <input id="SubjectCode" name="SubjectCode" type="text" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label  col-md-3" for="PhotoScore">得分:</label>
                        <div class="col-md-9">
                            <input id="PhotoScore" name="PhotoScore" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label  col-md-3" for="CheckPoint">检查点:</label>
                        <div class="col-md-9">
                            <textarea id="CheckPoint" name="CheckPoint" class="form-control" rows="3" readonly></textarea>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label  col-md-3" for="InspectionDesc">检查标准说明:</label>
                        <div class="col-md-9">
                            <textarea id="InspectionDesc" name="InspectionDesc" class="form-control" rows="3" readonly>   </textarea>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label col-md-3" for="Remark">备注:</label>
                        <div class="col-md-9">
                            <textarea id="Remark" name="Remark" class="form-control" rows="3">   </textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" >检查标准 
                </div>
                <div class="panel-body" style="padding: 0; height: 180px; ">
                    <table id="ins-table" class="table table-bordered"></table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" >
                    标准照片 
                </div>
                <div class="panel-body" style="padding: 0; height: 180px; overflow-y: auto">
                    <table id="photo-table" class="table table-bordered "></table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" style="line-height:30px">失分描述
                    <div style="float:right;">
                        <button id="btnAdd" class="btn btn-primary btn-sm" style="margin-right:0px" onclick="addLossResult()" data-loading-text="提交中...">新增</button> 
                    </div>
                </div>
                <div class="panel-body" style="padding: 0; height: 190px; overflow-y: auto;">
                    <table id="lossresult-table" class="table table-bordered"></table>
                </div>
            </div>
        </div>
        @*<div class="col-md-6">
            <div id="LossResultCheckList">
            </div>
        </div>*@
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">复审信息</div>
                <div class="panel-body" style="padding: 0;padding-bottom:5px; height: 200px; overflow: auto">
                    <form class="form-horizontal" id="recheck-form">
                        <div class="form-group">
                            <label class="control-label  col-md-3" for="PassRecheck">是否通过:</label>
                            <div class="col-md-8">
                                <div>
                                    <label class="dealer-li"><input id="PassRecheck" name="PassRecheck" type="radio" value="true" checked/>  <font>是</font></label>
                                    <label class="dealer-li"><input id="PassRecheck" name="PassRecheck" type="radio" value="false" /> <font>否</font></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label  col-md-3" for="ReCheckScore">建议得分:</label>
                            <div class="col-md-8">
                                <input id="RecheckScore" name="RecheckScore" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label  col-md-3" for="RecheckContent">审核意见:</label>
                            <div class="col-md-8">
                                <input id="RecheckContent" name="RecheckContent" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label  col-md-3" for="PhotoScore">错误类型:</label>
                            <div id="RecheckErrorCheckList" class="col-md-8" style="margin-top: 5px;">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div> 
</div>


<div class="modal fade" id="sujectFileModal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="javascript: closeFileModel();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">标准照片列表</h4>
            </div>
            <div class="modal-body">
                <div>
                    <button id="btnAddPicture" class="btn btn-primary" style="margin-right:0px" data-loading-text="提交中...">添加</button>
                </div>
                <div id="subject-file-pics" style="max-height:500px;overflow:auto">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="lossModal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="javascript: closeLossModel();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">失分描述编辑</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal form-label-left" style="padding-bottom:5px;max-height:550px;overflow:auto">
                    <div class="item form-group" style="width:100%">
                        <div class="col-md-3">
                            <label>失分说明:</label>
                        </div>
                        <div class="col-md-9">
                            <div id="LossResultCheckList">
                            </div>
                        </div>
                    </div>
                    <div class="item form-group" style="width:100%">
                        <div class="col-md-3">
                            <label>补充失分说明:</label>
                        </div>
                        <div class="col-md-9">
                            <textarea id="LossDesc2" name="LossDesc2" class="form-control" style=""></textarea>
                        </div>
                    </div>
                    <div>
                        <button id="btnAddLossPic" class="btn btn-primary" style="margin-right:0px" data-loading-text="提交中...">添加</button>
                    </div>
                    <div id="loss-file-pics" style="max-height:500px;overflow:auto">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="save_button" type="button" onclick="saveCurLossResult()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                <button id="close_button" type="button" onclick="javascript: closeLossModel();" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>


<script> 
    let LossFileNameUrl;
    var curRow_ins;
    let curLossRow;
    let curFileRow;
    $(function () {
        LossFileNameUrl = ''
        uploader = undefined
        lossUploader = undefined
        $('#btnAddPicture').unbind('click')
        $('#btnAddLossPic').unbind('click')

        $("input[type=radio]").iCheckParser();
        console.log('open recheck =', curRow)

        initInspection();
        initPhoto();
        initLossResult();
        loadAnswerInfo();

        bindRecheckErrorChecks(allLabels)
        bindRecheckInfo(curRow)

    })

    function prevSubject() {
        //第一步 获取上一个得分
        $.commonGet("Recheck/GetShopPreRecheckSubject", {
            projectId: curRow.ProjectId,
            shopId: curRow.ShopId,
            recheckTypeId: curRow.RecheckTypeId,
            orderNO: curAnswer.OrderNO
        }, function (data) {
            if (data && data.length > 0) {
                let item = data[0]
                console.log('ge prev answer', item)
                curAnswer = item
                bindAnswerInfo(item);

                //第二步 获取上一个复审信息
                $.commonGet("Recheck/GetShopRecheckScoreInfo", {
                    projectId: item.ProjectId,
                    shopId: item.ShopId,
                    subjectId: item.SubjectId,
                    recheckTypeId: curRow.RecheckTypeId
                }, function (data) {
                    if (data && data.length > 0) {
                        let item = data[0]

                        console.log('ge prev Recheck', item)
                        bindRecheckInfo(item);
                    }
                });
            }
        });
    }

    function nextSubject() {
        console.log('save recheck = ', curRow)
        console.log('PassRecheck = ', $("input[name=PassRecheck]:checked").val())
        let RecheckError = loadRecheckError()
        //第一步 保存复审信息
        $.commonPost("Recheck/SaveShopRecheckInfo", {
            ProjectId: curAnswer.ProjectId,
            ShopId: curAnswer.ShopId,
            SubjectId: curAnswer.SubjectId,
            PassReCheck: $("input[name=PassRecheck]:checked").val(),
            ReCheckScore: $("#RecheckScore").val(),
            ReCheckContent: $("#RecheckContent").val(),
            ReCheckError: RecheckError,
            ReCheckUserId: loginUser.Id
        }, function (data) {
            //第二步 获取得分
            curAnswer.PhotoScore = $("#PhotoScore").val()
            curAnswer.Remark = $("#Remark").val()
            let insStandards = $('#ins-table').bootstrapTable('getData', false)
            curAnswer.InspectionStandardResult = JSON.stringify(insStandards);
            let fileResult = $('#photo-table').bootstrapTable('getData', false)
            curAnswer.FileResult = JSON.stringify(fileResult); 
            let loss = $('#lossresult-table').bootstrapTable('getData', false)
            curAnswer.LossResult = JSON.stringify(loss);
            $.commonPost("Answer/SaveAnswerInfo", curAnswer, function () {
                //第三步 获取下一个得分
                $.commonGet("Recheck/GetShopNextRecheckSubject", {
                    projectId: curRow.ProjectId,
                    shopId: curRow.ShopId,
                    recheckTypeId: curRow.RecheckTypeId,
                    orderNO: curAnswer.OrderNO
                }, function (data) {
                    if (data && data.length > 0) {
                        let item = data[0]
                        console.log('ge next answer', item)
                        curAnswer = item
                        bindAnswerInfo(item);

                        //第四步 获取下一个复审信息
                        $.commonGet("Recheck/GetShopRecheckScoreInfo", {
                            projectId: item.ProjectId,
                            shopId: item.ShopId,
                            subjectId: item.SubjectId,
                            recheckTypeId: curRow.RecheckTypeId
                        }, function (data) {
                            if (data && data.length > 0) {
                                let item = data[0]
                                console.log('ge next Recheck', item)
                                bindRecheckInfo(item);
                            }
                        }, function (err) {
                            console.log('GetShopRecheckScoreInfo error', err)
                        });
                    }
                }, function (err) {
                    console.log('GetShopNextRecheckSubject error', err)
                });
            }, function (err) {
                console.log('save answer error',err)
            }); 
        });
    }

    function toSubjectSeqNo() {
        //未实现

    }

    function loadRecheckError() {
        let errorArr = []
        $.each($("#RecheckErrorCheckList").find("input[type=checkbox]:checked"), function (i, checkbox) {
            let errValue = $(checkbox).parent().parent().find('.checkbox-label').text()
            errorArr.push(errValue)
        });
        return errorArr.join(";")
    }

    function bindRecheckErrorResult(item) { 
        if (item.RecheckError) {
            let errorArr = item.RecheckError.split(';')
            $.each($("#RecheckErrorCheckList").find("input[type=checkbox]"), function (i, checkbox) {
                let errValue = $(checkbox).parent().parent().find('.checkbox-label').text()
                console.log('checkbox value', errValue)
                if (errorArr.indexOf(errValue) >= 0) {
                    $(checkbox).iCheck('check');
                }
            });
        } else {
            $.each($("#RecheckErrorCheckList").find("input[type=checkbox]"), function (i, checkbox) {
                $(checkbox).iCheck('uncheck');
            });
        }
    }

    function bindRecheckInfo(item) {
        $('#RecheckScore').val(item.RecheckScore)
        $('#RecheckContent').val(item.RecheckContent) 
        if (item.PassRecheck == null || item.PassRecheck==undefined)
        {
            item.PassRecheck = true;
        }
        $("input[name=PassRecheck]").each(function () {
            $(this).iCheck('uncheck');
            if (item.PassRecheck == ($(this).val() == 'true')) {
                $(this).iCheck('check');
            }
        });
        bindRecheckErrorResult(item)
    }


    //绑定错误类型checkbox
    function bindRecheckErrorChecks(data) {
        $("#RecheckErrorCheckList").empty()
        data.forEach(function (r) {
            var checkbox = $('<label class="col-md-6"><input type="checkbox"> <span class="checkbox-label"></span></label>')
            checkbox.find('span').text(r.LabelName)
            checkbox.find('inout:checkbox').val(r.LabelId)
            $("#RecheckErrorCheckList").append(checkbox)
        })
        $("#RecheckErrorCheckList").find("input[type=checkbox]").iCheckParser();
    }
    
    function initInspection() {
        $('#ins-table').bootstrapTable({
            pagination: false,
            striped: true, //是否显示行间隔色 
            columns: [{
                title: "序号",
                field: 'SeqNO',
                width: 60,
                valign: "middle",
                align: "center",
            }, {
                title: "检查标准",
                field: "InspectionStandardName",
                width: 280,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "检查结果",
                field: "AnswerResult",
                width: 80,
                valign: "middle",
                align: "center",
                editable: {
                    type: 'select',
                    source: [{ text: '是', value: '是' }, { text: '否', value: '否' }, { text: '不涉及', value: '不涉及' }],
                    title: '检查结果',
                    validate: function (v) {
                        if (!v) return '检查结果不能为空';
                    }
                }
            }],
            onClickRow: function (row, $element) {
                curRow_ins = row;
            },
            onEditableSave: function (field, row, oldValue, $el) {
                let data = $('#ins-table').bootstrapTable("getData", false);

                $('#ins-table').bootstrapTable("load", data);
            }
        });
    }
    function initPhoto() {
        $('#photo-table').bootstrapTable({
            pagination: false,
            striped: true, //是否显示行间隔色 
            columns: [{
                title: "序号",
                field: 'SeqNO',
                width: 60,
                valign: "middle",
                align: "center",
            }, {
                title: "拍照点",
                field: "FileName",
                width: 280,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "编辑",
                field: "",
                width: 60,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    curFileRow = row;
                    return '<a href="javascript:editSubjectFile();">编辑</a>';
                }
            }, {
                title: "查看照片",
                field: "",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:viewPicutes(\'' + (row.Url||'') + '\');" style="min-width:100px;cursor: pointer;">查看照片</a>';
                }
            }],
            onClickRow: function (row, $element) {
                curFileRow = row;
            }
        });
    }
    function initLossResult() {
        $('#lossresult-table').bootstrapTable({
            pagination: false,
            striped: true, //是否显示行间隔色
            columns: [{
                title: "失分说明",
                field: "LossDesc",
                width: 280,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "编辑",
                field: "",
                width: 60,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) { 
                    return '<a href="javascript:editLossResult();">编辑</a>';
                }
            }, {
                title: "查看照片",
                field: "",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    curLossRow = row;
                    return '<a href="javascript:viewPicutes(\'' + (row.LossFileNameUrl||'') + '\');" style="min-width:100px;cursor: pointer;">查看照片</a>';
                }
            }, {
                title: "删除",
                field: "",
                width: 60,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:delLossResutl(' + row.LossId + ');" style="min-width:100px">删除</a>';
                }
            }],
            onClickRow: function (row, $element) {
                curLossRow = row;
            }
        });
    }
  
    var curAnswer 
    function loadAnswerInfo() {
        $.commonGet("Answer/GetShopAnswerScoreInfo", {
            projectId: curRow.ProjectId,
            shopId: curRow.ShopId,
            subjectId: curRow.SubjectId,
            key: ""
        }, function (data) {
            if (data && data.length > 0) {
                let item = data[0]
                curAnswer = item
                console.log('get answer', item) 
                bindAnswerInfo(item)
            }
        });
    }
    
    function bindAnswerInfo(item) {
        let FileResult = item.FileResult ? JSON.parse(item.FileResult) : []
        let InsResult = item.InspectionStandardResult ? JSON.parse(item.InspectionStandardResult) : []
        let LossResult = item.LossResult ? JSON.parse(item.LossResult) : []

        let SubjectFileList = item.SubjectFileList.map(function (o) {
            let findOne = FileResult.find(function (r) { return r.SubjectId == o.SubjectId && r.SeqNO == o.SeqNO })
            if (findOne) {
                o.Url = findOne.Url
            }
            return o;
        });
        let SubjectInspectionStandardList = item.SubjectInspectionStandardList.map(function (o) {
            let findOne = InsResult.find(function (r) { return r.SubjectId == o.SubjectId && r.SeqNO == o.SeqNO })
            if (findOne) {
                o.AnswerResult = findOne.AnswerResult
            }
            return o
        })

        $("#PhotoScore").val("");
        $("#Remark").val("");
        $("#answer-form").setForm(item);
        
        $('#ins-table').bootstrapTable("load", SubjectInspectionStandardList); 
        $('#photo-table').bootstrapTable("load", SubjectFileList);
        $('#lossresult-table').bootstrapTable("load", LossResult); 

        bindSubjectLossResultList(item.SubjectLossResultList) 

        bindAddPictureClick(item.ProjectId,item.ShopId)
        bindAddLossPicClick(item.ProjectId, item.ShopId) 
        //curLossRow = LossResult.length == 0 ? undefined : LossResult[0];
        //bindSubjectLossResultList(item.SubjectLossResultList, LossResult.length == 0 ? undefined : LossResult[0]);
    }
    // 失分说明
    function bindSubjectLossResultList(subjectLossResult, lossDesc) { 
        $("#LossResultCheckList").empty()
        subjectLossResult.forEach(function (r) {
            var checkbox = $('<label class="col-md-6"><input type="checkbox"> <span class="checkbox-label"></span></label>')
            checkbox.find('span').text(r.LossResultCode + '-' + r.LossResultName)
            checkbox.find('input:checkbox').val(r.LossResultName)
            $("#LossResultCheckList").append(checkbox)
        })
        $("#LossResultCheckList").find("input[type=checkbox]").iCheckParser();
        if (!lossDesc) return;
        let lossDescArr = lossDesc.LossDesc.split(';')
        $.each($("#LossResultCheckList").find("input[type=checkbox]"), function (i, checkbox) {
            //let lossValue = $(checkbox).parent().parent().find('.checkbox-label').text()
            let lossValue = $(checkbox).val()
            console.log('checkbox value', lossValue)
            if (lossDescArr.indexOf(lossValue) >= 0) {
                $(checkbox).iCheck('check');
            }
        });
    }

    function delLossResutl(lossId) {
        $('#lossresult-table').bootstrapTable('remove', { field: 'LossId', values: [lossId] });
    }

    /**检查标准 **start**/
     
    /**检查标准 **end**/
    
    /**标准照片 **start**/
     
    //编辑
    function editSubjectFile() {
        showFileModel();
        let fileList = curFileRow.Url ? curFileRow.Url.split(';') : []
        bindFileResultList(fileList)
    }
    //绑定标准照片数据
    function bindFileResultList(fileList) {
        $("#subject-file-pics").empty()
        fileList.forEach(function (file) {
            var imgDiv = $('<div class="img-div">');

            var img = $('<img />')
            img.css("width", 250).css("height", 250).css("margin", 5)
            img.prop('src', osshost + file)
            imgDiv.append(img);
            let remove = $('<i class="glyphicon glyphicon-remove-circle"></i>')
            remove.click(function () {
                var index = fileList.indexOf(file)
                if (index >= 0) {
                    fileList.splice(index, 1);
                    curFileRow.Url = fileList.join(';')
                    console.log('curFileRow.Url', curFileRow.Url)
                    bindFileResultList(fileList)
                }
            })
            imgDiv.append(remove);
            $("#subject-file-pics").append(imgDiv)
        })
    }
    function bindAddPictureClick(project,shop) {
        var osspath = "Survey/" + project + "/" + shop + "/";
        if (!uploader) {
            uploader = new OSSClient({
                osspath: osspath,
                selectfiles: "btnAddPicture",
                autoupload: true,
                success: function (files) {
                    //调用导入方法
                    let filePaths = []
                    files.forEach(function (file) {
                        filePaths.push(file.osspath)
                    })
                    if (curFileRow.Url) {
                        curFileRow.Url += ';' + filePaths.join(';')
                        bindFileResultList(curFileRow.Url.split(';'))
                    } else {
                        curFileRow.Url = filePaths.join(';')
                        bindFileResultList(filePaths)
                    }

                }
            });
        }
    }
   
    function closeFileModel() {
        $("#sujectFileModal").modal("hide");
    }
    function showFileModel() {
        $("#sujectFileModal").modal("show");
    }
    /**标准照片 **end**/

    /**失分说明 **start**/  
    //新增
    function addLossResult() {
        LossFileNameUrl = ''
        curLossRow = null
        $('#loss-file-pics').empty()
        $('#LossDesc2').val('')
        $.each($("#LossResultCheckList").find("input[type=checkbox]"), function (i, checkbox) {
            $(checkbox).iCheck('uncheck');
        });
        showLossModel();
    }
    //编辑 
    function editLossResult() {
        LossFileNameUrl = curLossRow.LossFileNameUrl
        curLossRow.LossDesc2 = curLossRow.LossDesc2 || ''
        curLossRow.LossDesc = curLossRow.LossDesc || ''
        $('#LossDesc2').val(curLossRow.LossDesc2)
        let lossDescArr = curLossRow.LossDesc.split(';')
        $.each($("#LossResultCheckList").find("input[type=checkbox]"), function (i, checkbox) {
            //let lossValue = $(checkbox).parent().parent().find('.checkbox-label').text()
            let lossValue = $(checkbox).val()
            console.log('checkbox value', lossValue)
            if (lossDescArr.indexOf(lossValue) >= 0) {
                $(checkbox).iCheck('check');
            }
        });
        let fileList = LossFileNameUrl ? LossFileNameUrl.split(';') : []
        bindLossUrlList(fileList)
        showLossModel();
    }
    //界面保存
    function saveCurLossResult() { 
        let lossArr = []
        $.each($("#LossResultCheckList").find("input[type=checkbox]:checked"), function (i, checkbox) {
            //let lossValue = $(checkbox).parent().parent().find('.checkbox-label').text()
            let lossValue = $(checkbox).val()
            lossArr.push(lossValue)
        });
        if (curLossRow) {
            //编辑
            curLossRow.LossDesc = lossArr.join(';');
            curLossRow.LossDesc2 = $('#LossDesc2').val()
            curLossRow.LossFileNameUrl = LossFileNameUrl
            let data = $('#lossresult-table').bootstrapTable('getData', false)
            $('#lossresult-table').bootstrapTable("load", data);
        } else {
            //新增
            let data = $('#lossresult-table').bootstrapTable('getData', false)
            data.push({
                LossId: fnGetMaxLossId() + 1,
                LossDesc: lossArr.join(';'),
                LossDesc2: $('#LossDesc2').val(),
                LossFileNameUrl: LossFileNameUrl
            })
            $('#lossresult-table').bootstrapTable("load", data);
        }
        closeLossModel();
    }
    //绑定 图片
    function bindLossUrlList(fileList) {
        $("#loss-file-pics").empty()
        fileList.forEach(function (file) {
            var imgDiv = $('<div class="img-div">');

            var img = $('<img />')
            img.css("width", 250).css("height", 250).css("margin", 5)
            img.prop('src', osshost + file)
            imgDiv.append(img);
            let remove = $('<i class="glyphicon glyphicon-remove-circle"></i>')
            remove.click(function () {
                fileList.splice(fileList.indexOf(file), 1);
                LossFileNameUrl = fileList.join(';')
                console.log('LossFileNameUrl', LossFileNameUrl)
                bindLossUrlList(fileList)
            })
            imgDiv.append(remove);
            $("#loss-file-pics").append(imgDiv)
        })
    }
    //绑定失分描述checkbox
    function bindSubjectLossResultList(lossDic) {
        $("#LossResultCheckList").empty()
        lossDic.forEach(function (r) {
            var checkbox = $('<label class="col-md-6"><input type="checkbox"> <span class="checkbox-label"></span></label>')
            checkbox.find('span').text(r.LossResultCode + '-' + r.LossResultName)
            checkbox.find('input:checkbox').val(r.LossResultName)
            $("#LossResultCheckList").append(checkbox)
        })
        $("#LossResultCheckList").find("input[type=checkbox]").iCheckParser();
    }
    function bindAddLossPicClick(project, shop) { 
        var osspath = "Survey/" + project + "/" + shop + "/";
        if (!lossUploader) {
            lossUploader = new OSSClient({
                osspath: osspath,
                selectfiles: "btnAddLossPic",
                autoupload: true,
                success: function (files) {
                    //调用导入方法
                    let filePaths = []
                    files.forEach(function (file) {
                        filePaths.push(file.osspath)
                    })
                    if (LossFileNameUrl) {
                        LossFileNameUrl += ';' + filePaths.join(';')
                        bindLossUrlList(LossFileNameUrl.split(';'))
                    } else {
                        LossFileNameUrl = filePaths.join(';')
                        bindLossUrlList(filePaths)
                    }

                }
            });
        }
    } 

    var maxLossId = 0;
    function fnGetMaxLossId() {
        let data = $('#lossresult-table').bootstrapTable('getData', false)
        for (var i = 0; i < data.length; i++) {
            if (maxLossId < data[i].LossId) {
                maxLossId = data[i].LossId;
            }
        }
        return maxLossId;
    }
    function closeLossModel() {
        $("#lossModal").modal("hide");
    }
    function showLossModel() { 
        $("#lossModal").modal("show");
    }
    //单个失分描述保存--废弃
    function saveCurLossResult2() {
        let lossArr = []
        $.each($("#LossResultCheckList").find("input[type=checkbox]:checked"), function (i, checkbox) {
            //let lossValue = $(checkbox).parent().parent().find('.checkbox-label').text()
            let lossValue = $(checkbox).val()
            lossArr.push(lossValue)
        });
        if (curLossRow) {
            //编辑
            curLossRow.LossDesc = lossArr.join(';');
        } else {
            curLossRow = {
                LossId: 1,
                LossDesc: lossArr.join(';')
            };
        }
        curAnswer.LossResult = JSON.stringify([curLossRow]);
        curAnswer.PhotoScore = $("#PhotoScore").val();
        curAnswer.Remark = $("#Remark").val();
        $.commonPost("Answer/SaveAnswerInfo", curAnswer, function () {
        }, function () { });
    }

    /**失分说明 **end**/


    function viewPicutes(url) { 
        let fileList = url ? url.split(';') : []
        if (!fileList || fileList.length == 0) {
            alert("没有照片！")
            return;
        }
        if ($("#baguetteBox").length > 0) {
            $("#baguetteBox").remove()
        }
        if ($("#baguetteBox-overlay").length > 0) {
            $("#baguetteBox-overlay").remove()
        }

        var imgBox = $('<div id="baguetteBox" class="baguetteBox" style="display:none">');
        $(document.body).append(imgBox);
        var count = fileList.length;
        $.each(fileList, function (i, item) {
            var imgUrl = loginUser.ossInfo.osshost + item;
            var imgThumbUrl = imgUrl + '?x-oss-process=image/resize,m_fill,h_180,w_240';
            var imagA = $('<a></a>');
            let name = item.substr(item.lastIndexOf('/') + 1);
            var img = $('<img>').attr('src', imgThumbUrl).attr("alt", (i + 1) + "/" + count + "   " + name);
            $(imagA).append(img);
            $(imagA).attr('href', imgUrl);
            $(imagA).attr('data-caption', (i + 1) + "/" + count + "   " + name);

            imgBox.append(imagA);
        })
        baguetteBox.run('#baguetteBox');

        setTimeout(function () {
            imgBox.find("a:first img").click();
        }, 300)
    }
</script>
