@{
    ViewBag.Title = "复审管理";
}
<style>
    .link-btn-cell {
        margin: 3px 5px 0px;
        cursor: pointer;
    }

    #searchForm th {
        vertical-align: middle;
    }
</style>
<div class="page-title">
    <div class="title_left">
        <h3>复审列表 <small></small></h3>
    </div>
</div>
<div class="operation col-md-offset-6 form-horizontal">
    <form id="searchForm" class="row">
        <label class="control-label col-md-1" for="Brand">品牌：</label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <select id="Brand" name="Brand" class="form-control"></select>
        </div>
        <label class="control-label col-md-1" for="Project">期号： </label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <select id="Project" class="form-control"></select>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary form-control" id="btnSearch">查&nbsp;&nbsp;询</button>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 list" style="overflow:auto;">
        <div class="title_left">
            <h5>流程类型 <small></small></h5>
        </div>
        <table id="recheck-state-table" class="table table-bordered table-set">
            <thead>
                <tr>
                    <th style="width:110px">经销商代码</th>
                    <th style="width:250px">经销商名称</th>
                    <th style="width:70px">提交人</th>
                    <th style="width:130px">提交时间</th>
                    <th style="width: 70px">复审状态</th>
                    <th style="width: 70px">详细</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 list" style="overflow:auto;">
        <div class="title_left">
            <h5>流程详细 <small></small></h5>
        </div>
        <table id="recheck-detail-table" class="table table-bordered table-set">
            <thead>
                <tr>
                    <th style="width: 100px">复审类型</th>
                    <th style="width:80px">复审人</th>
                    <th style="width: 130px">复审完毕时间</th>
                    <th style="width: 80px">复审</th>
                    <th style="width: 80px">复审完毕</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="save_button" type="button" onclick="saveProject()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/api/common.js"></script>
<script src="~/Scripts/api/recheck.js"></script>
<script src="~/Scripts/page.js"></script>
<script>

    $(function () {
        $("#Brand").change(function () {
            loadProjectBindDropdownList($("#Brand").val(), '', function (data) {
                $("#ProjectListDiv").empty();
                $.each(data, function (i, item) {
                    var shop = $('<option>').val(item.ProjectId).text(item.ProjectCode);
                    $("#Project").append(shop);
                })
            });
        });

        loadBrandBindDropdownList(function (data) {
            $.each(data, function () {
                $("#Brand").append($("<option>").val(this.BrandId).text(this.BrandName));
            })

            $("#Brand").change();
        });

        //查询
        $("#btnSearch").click(function () {
            var params = getParams();
            if (!params) return;
            loadRecheckStatus(params, function (data) {
                $("#recheck-state-table tbody").empty();
                $.each(data, function (i, item) {
                    var tr = $("<tr>");

                    tr.append($("<td></td>").html(item.ShopCode));
                    tr.append($("<td></td>").html(item.ShopName));
                    tr.append($("<td></td>").html(item.RecheckUserName));
                    tr.append($("<td></td>").html(toNullString(item.FeedBRecheckDateTimeackDateTime).replace('T', ' ')));
                    var detail = $("<a href='javascript:void(0)'>详细</a>");
                    detail.click(function () {
                        loadRecheckStatusDtl({
                            projectId: item.ProjectId,
                            shopId: item.ShopId
                        }, function (dtlList) {
                            bindRecheckStatusDtl(dtlList);
                        });
                    })
                    tr.append($("<td></td>").append(detail));

                    $("#recheck-state-table tbody").append(tr);
                })
            });
        });
    });

    function bindRecheckStatusDtl(dtlList) {
        $.each(dtlList, function (i, item) {
            var tr = $("<tr>");
            tr.append($("<td></td>").html(item.RecheckTypeName));
            tr.append($("<td></td>").html(item.RecheckUserName));
            tr.append($("<td></td>").html(toNullString(item.FeedBRecheckDateTimeackDateTime).replace('T', ' ')));
            var recheck = $("<a href='javascript:void(0)'>复审</a>");
            recheck.click(function () {
                loadRecheckStatusDtl({
                    projectId: item.ProjectId,
                    shopId: item.ShopId
                }, function (dtlList) {
                    bindRecheckStatusDtl(dtlList);
                });
            })
            tr.append($("<td></td>").append(recheck));
            var recheckOver = $("<a href='javascript:void(0)'>复审完毕</a>");
            recheckOver.click(function () {
                loadRecheckStatusDtl({
                    projectId: item.ProjectId,
                    shopId: item.ShopId
                }, function (dtlList) {
                    bindRecheckStatusDtl(dtlList);
                });
            })
            tr.append($("<td></td>").append(recheckOver));

            $("#recheck-state-table tbody").append(tr);
        })
    }
    function getParams() {
        var project = $("#Project").val();
        if (!project) {
            alert("请选择期号！");
            return;
        }
        return {
            projectId: project || '',
            shopId: '',
            statusCode: 'S1'
        };
    }

</script>