@{
    ViewBag.Title = "审核修改";
}

<style>
    .operation {
        padding: 10px 0px;
        text-align: right;
    }

        .operation .btn {
            width: 100px;
        }

    .bootstrap-table .fixed-table-container.fixed-height .fixed-table-border {
        border-left: none;
        border-right: none;
    }
</style>

<script src="~/Content/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="~/Content/bootstrap-table/extensions/bootstrap-table-editable.min.js"></script>
<div class="condition">
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">品牌:</label>
            <select id="brand-sel" class="form-control" style="width:200px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">年份:</label>
            <select id="year-sel" class="form-control" style="width:200px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">期号:</label>
            <select id="project-sel" class="form-control" style="width: 140px"></select>
        </div>
        <div class="form-group">
            <label class="control-label">经销商:</label>
            <select id="shop-sel" style="width: 140px"></select>
        </div>
    </div>
    <div style="float:right;width:200px;text-align:right">
        <button id="btnQuery" class="btn btn-primary">查询</button>
        <button id="btnSaveStatus" class="btn btn-primary">复审修改完毕</button>
    </div>
</div>
<div class="result">
    <table id="recheck-table" class="table table-set"></table>
</div>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">得分编辑</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="save_button" type="button" onclick="saveScore()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="sujectFileModal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="javascript: closeFileModel();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">标准照片列表</h4>
            </div>
            <div class="modal-body">
                <div>
                    <button id="btnAddPicture" class="btn btn-primary" style="margin-right:0px" data-loading-text="提交中...">添加</button>
                </div>
                <div id="subject-file-pics" style="max-height:500px;overflow:auto">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="lossModal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="javascript: closeLossModel();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">失分描述编辑</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal form-label-left" style="padding-bottom:5px;width:100%">
                    <div class="item form-group" style="width:100%">
                        <div class="col-md-3">
                            <label>失分说明:</label>
                        </div>
                        <div class="col-md-9">
                            <div id="LossResultCheckList">
                            </div>
                        </div>
                    </div>
                    <div class="item form-group" style="width:100%">
                        <div class="col-md-3">
                            <label>补充失分说明:</label>
                        </div>
                        <div class="col-md-9">
                            <textarea id="LossDesc2" name="LossDesc2" class="form-control" style=""></textarea>
                        </div>
                    </div>
                    <div>
                        <button id="btnAddLossPic" class="btn btn-primary" style="margin-right:0px" data-loading-text="提交中...">添加</button>
                    </div>
                    <div id="loss-file-pics" style="max-height:500px;overflow:auto">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="save_button" type="button" onclick="saveCurLossResult()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                <button id="close_button" type="button" onclick="javascript: closeLossModel();" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/api/common.js"></script>
<script src="~/Scripts/custom/form-serialize.js?20200510"></script>
<script src="~/Scripts/icheck.js"></script>


<script src="~/Scripts/oss-upload-direct/lib/crypto1/crypto/crypto.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/crypto1/hmac/hmac.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/crypto1/sha1/sha1.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/base64.js"></script>
<script src="~/Scripts/oss-upload-direct/upload.js?20200527"></script>

<div id="upload-container" class="container-fluid" style="margin:0;padding:0;display:none">
    <div id="ossfile"></div>
</div>

<link href="~/Content/baguetteBox/baguetteBox.css" rel="stylesheet" />
<script src="~/Content/baguetteBox/baguetteBox.js"></script>

<script>
    NProgress.start();
    var uploader, lossUploader;
    $(function () {
        uploader = undefined
        $('title').html('@ViewBag.Title')
        bindBrandSelect();
        //加载年份
        $("#year-sel").change(function () {
            bindProjectSelect();
        });
        for (var i = 2020; i <= 2030; i++) {
            $("#year-sel").append($("<option>").text(i + "").val(i + ""));
        }
        var tYear = new Date().getFullYear();
        $("#year-sel").val(tYear);
        $("#year-sel").change();

        //加载期号
        $("#brand-sel").change(function () {
            bindProjectSelect();
            $("#project-sel").change()
        });
        $("#project-sel").change(function () {
            bindShopSelect();
        });
        bindShopSelect();
        $("#shop-sel").change(function () {
            loadRecheckNotPass();
        });
        loadRecheckNotPass();
        $("#btnSaveStatus").click(function () {
            saveRecheckStatus();
        });

        //initRecheckTable();
        $("#btnQuery").click(function () {
            loadRecheckNotPass();
        })

        $(window).resize(function () {
            $('#recheck-table').bootstrapTable('resetView');
        });

        NProgress.done();
    })

    function saveScore() {
        var params = $("#score-form").serializeJson();
        var json = $("#score-form").data("json");
        if (json && json.length > 0) {
            //编辑
            json = JSON.parse(json);
            params = $.extend(json, params);
        } else {
            //新增
            params = $.extend({
                TenantId: loginUser.TenantId,
                ProjectId: $("#project-sel").val(),
                InUserId: loginUser.Id,
                ModifyUserId: loginUser.Id
            }, params);
        }
        $("#save_button").button("loading");
        $.commonPost("Answer/SaveAnswerInfo", params, function () {
            $("#save_button").button("reset");
            loadRecheckNotPass();
            closeModel();
        }, function () { $("#save_button").button("reset"); });
    }

    function saveRecheckStatus() {
        $("#btnSaveStatus").button('loading');
        $.commonPost("Recheck/SaveRecheckStatus", {
            ProjectId: $("#project-sel").val(),
            ShopId: $("#shop-sel").val(),
            StatusCode: 'S4',
            InUserId: loginUser.Id
        }, function () {
            $("#btnSaveStatus").button('reset');
            alert("提交成功！")
        }, function () { $("#btnSaveStatus").button('reset'); });
    }

    var curRow;
    function loadRecheckNotPass() {
        var projectId = $("#project-sel").val();
        if (!projectId) {
            alert("请选择一个期号！");
            return
        }
        var shopId = $("#shop-sel").val();
        if (!shopId) {
            alert("请选择一个经销商！");
            return
        }
        $('#recheck-table').bootstrapTable("showLoading");
        $.commonGet("Recheck/GetRecheckNotPass", {
            projectId: $("#project-sel").val(),
            shopId: $("#shop-sel").val(),
            subjectId: ''
        }, function (data) {           

            //$('#recheck-table').bootstrapTable("load", data);
            initRecheckTable(data)
        }, function () {
            $('#recheck-table').bootstrapTable("hideLoading");
        });
        // $('#recheck-table').bootstrapTable("hideLoading");
    }

    //初始化期号表格
    function initRecheckTable(data) {
        debugger
        $('#recheck-table').bootstrapTable('destroy').bootstrapTable({
            pagination: true,
            data: data,
            striped: true, //是否显示行间隔色
            height: getClientHeight() - 260,
            showColumns: false, // 开启自定义列显示功能
            sortable: true,
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 50, 100, 500],
            columns: [{
                title: "经销商代码",
                field: 'ShopCode',
                width: 120,
                valign: "middle",
                align: "center"
            }, {
                title: "经销商名称",
                field: "ShopName",
                width: 230,
                valign: "middle",
                align: "center",
                sortable: false
            },
            {
                title: "题目代码",
                field: "SubjectCode",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "题目序号",
                field: "OrderNO",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "同意复审",
                field: "AgreeCheck",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false,
                editable: {
                    type: 'select',
                    source: [{ text: '是', value: true }, { text: '否', value: false }],
                    title: '同意复审',
                    validate: function (v) {
                        if (!v) return '同意复审不能为空';
                    }
                }
            }, {
                title: "理由",
                field: "AgreeReason",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false,
                editable: {
                    type: 'text',
                    noeditFormatter: function (value, row, index) {
                        return '<a href="javascript:void(0)" data-name="AgreeReason" data-pk="undefined" data-value="" class="editable editable-click">' + (value || '') + '</a> ';
                    },
                    validate: function (v) {
                        if (!v) return '理由不能为空';
                    }
                },
            }, {
                title: "得分修改",
                field: "",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:goEdit();" style="min-width:100px">得分修改</a>';
                }
            }, {
                title: "检查标准",
                field: "",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:goInspectionStandardIndex();" style="min-width:100px">检查标准</a>';
                }
            }, {
                title: "标准照片",
                field: "",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:goSubjectFileIndex();" style="min-width:100px">标准照片</a>';
                }
            }, {
                title: "失分描述",
                field: "",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:goSubjectLossIndex();" style="min-width:100px">失分描述</a>';
                }
            }, {
                title: "检查点",
                field: "CheckPoint",
                width: 200,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    if (value != undefined && value != "")
                        return '<span data-toggle="tooltip" data-placement="left" title="' + value + '">' + value + '</span>'
                }
            }, {
                title: "得分",
                field: "PhotoScore",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "备注",
                field: "Remark",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    if (value != undefined && value != "")
                        return '<span data-toggle="tooltip" data-placement="left" title="' + value + '">' + value + '</span>'
                }
            }, {
                title: "复审得分",
                field: "RecheckScore",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "复审意见",
                field: "RecheckContent",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "复审时间",
                field: "RecheckDateTime",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }],
            onClickRow: function (row, $element) {
                curRow = row;
            },
            onEditableSave: function (field, row, oldValue, $el) {
                $.commonPost("Recheck/SaveRecheckModifyInfo", {
                    RecheckId: row.RecheckId,
                    ProjectId: row.ProjectId,
                    ShopId: row.ShopId,
                    AgreeCheck: row.AgreeCheck,
                    AgreeReason: row.AgreeReason,
                    AgreeUserId: loginUser.Id
                }, function () {
                    loadRecheckNotPass();
                }, function () { });
            }
        });
    }

    function goEdit() {
        $("#Modal .modal-title").html('得分编辑');
        $("#Modal .modal-footer").show();
        $("#Modal .modal-body").empty();
        $("#Modal").modal("show");
        $.commonGet("Recheck/GetRecheckStatus", {
            projectId: curRow.ProjectId,
            shopId: curRow.ShopId
        }, function (data) {
            if (data && data.length > 0 && (data[0].Status_S1) && loginUser.RoleType == "S_Execute") {
                $("#save_button").hide();
            }
            else {
                $("#save_button").show();
            }
            $("#Modal .modal-body").load("/ProjectContent/ScoreEdit", {}, function () {
                debugger
                $("#score-form").setForm(curRow);
                $("#score-form").data("json", JSON.stringify(curRow));
            })
        });

    }

    function goInspectionStandardIndex() {
        $("#Modal .modal-title").html('检查标准');
        $("#Modal .modal-footer").hide();
        $("#Modal .modal-body").empty();
        $("#Modal").modal("show");
        $.commonGet("Recheck/GetRecheckStatus", {
            projectId: curRow.ProjectId,
            shopId: curRow.ShopId
        }, function (data) {
            if (data && data.length > 0 && (data[0].Status_S1) && loginUser.RoleType == "S_Execute") {
                $("#save_button").hide();
            }
            else {
                $("#save_button").show();
            }
            $("#Modal .modal-body").load("/ProjectContent/_PartialScoreSubjectInspectionStandardIndex", {}, function () {
                $("#score-form").setForm(curRow);
                $("#score-form").data("json", JSON.stringify(curRow));
            })
        });

    }

    function goSubjectFileIndex() {
        $("#Modal .modal-title").html('标准照片');
        $("#Modal .modal-footer").hide();
        $("#Modal .modal-body").empty();
        $("#Modal").modal("show");
        $.commonGet("Recheck/GetRecheckStatus", {
            projectId: curRow.ProjectId,
            shopId: curRow.ShopId
        }, function (data) {
            if (data && data.length > 0 && (data[0].Status_S1) && loginUser.RoleType == "S_Execute") {
                $("#save_button").hide();
            }
            else {
                $("#save_button").show();
            }
            $("#Modal .modal-body").load("/ProjectContent/_PartialScoreSubjectFileIndex", {}, function () {
                $("#score-form").setForm(curRow);
                $("#score-form").data("json", JSON.stringify(curRow));
            })
        });

    }

    function goSubjectLossIndex() {
        $("#Modal .modal-title").html('失分描述');
        $("#Modal .modal-footer").hide();
        $("#Modal .modal-body").empty();
        $("#Modal").modal("show");
        $.commonGet("Recheck/GetRecheckStatus", {
            projectId: curRow.ProjectId,
            shopId: curRow.ShopId
        }, function (data) {
            if (data && data.length > 0 && (data[0].Status_S1) && loginUser.RoleType == "S_Execute") {
                $("#save_button").hide();
            }
            else {
                $("#save_button").show();
            }
            $("#Modal .modal-body").load("/ProjectContent/_PartialScoreSubjectLossIndex", {}, function () {
                $("#score-form").setForm(curRow);
                $("#score-form").data("json", JSON.stringify(curRow));
            })
        });

    }
</script>