@{
    ViewBag.Title = "二审管理";
}

<style>
    .operation {
        padding: 10px 0px;
        text-align: right;
    }

        .operation .btn {
            width: 100px;
        }

    .bootstrap-table .fixed-table-container.fixed-height .fixed-table-border {
        border-left: none;
        border-right: none;
    }
</style>
<div class="condition">
    <div style="text-align:right;width:100%">
        <button id="btnQuery" class="btn btn-primary">查询</button>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">品牌:</label>
            <select id="brand-sel" class="form-control" style="width:200px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">年份:</label>
            <select id="year-sel" class="form-control" style="width:200px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">期号:</label>
            <select id="project-sel" class="form-control" style="width: 140px"></select>
        </div>
        @*<div class="form-group">
            <label class="control-label">经销商:</label>
            <select id="shop-sel" style="width: 140px;"></select>
        </div>*@
        <div class="form-group">
            <label class="control-label">经销商代码:</label>
            <input id="shopCode" class="form-control" style="width:150px;" placeholder="经销商代码" />
        </div>
    </div>

</div>
<div class="result">
    <table id="recheck-table" class="table table-set"></table>
</div>
<script src="~/Scripts/api/common.js"></script>
<script src="~/Scripts/custom/form-serialize.js?20200510"></script>
<script src="~/Scripts/icheck.js"></script>
 <script>
    NProgress.start();
    var allLabels = []
    $(function () {
        $('title').html('@ViewBag.Title')
        bindBrandSelect();
        //加载年份
        $("#year-sel").change(function () {
            bindProjectSelect();
        });
        for (var i = 2020; i <= 2030; i++) {
            $("#year-sel").append($("<option>").text(i + "").val(i + ""));
        }
        var tYear = new Date().getFullYear();
        $("#year-sel").val(tYear);
        $("#year-sel").change();

        //加载期号
        $("#brand-sel").change(function () {
            bindProjectSelect();
            $("#project-sel").change()
        });
        $("#project-sel").change(function () {
            bindShopSelect(true);
        });
        bindShopSelect(true);

        loadRecheck();
        $("#btnQuery").click(function () {
            loadRecheck();
        });
        $("#btnRecheckSubmit").click(function () {
            recheckSubmit();
        })
        $('#Modal').on('hide.bs.modal', function (e) { 
        })

        NProgress.done();
    })

    var curRow;
    function recheckSubmit() {
        var projectId = $("#project-sel").val();
        if (!projectId) {
            alert("请选择期号！");
            return
        }
        $("#btnRecheckSubmit").button("loading");
        $.commonPost("Recheck/SaveRecheckStatusDtl", {
            ProjectId: $("#project-sel").val(),
            // ShopId: $("#shop-sel").val(),
            ShopId: curRow.ShopId,
            RecheckTypeId: $("#LabelId").val(),
            InUserId: loginUser.Id
        }, function () {
            $("#btnRecheckSubmit").button("reset");
            alert("提交成功！");
        });
    }

    function loadRecheck() {
        var projectId = $("#project-sel").val();
        if (!projectId) {
            alert("请选择一个期号！");
            return
        }
        $('#recheck-table').bootstrapTable("showLoading");
        $.commonGet("Recheck/GetRecheckStatusForSecondRecheck", {
            projectId: $("#project-sel").val(),
            shopId: "",
            shopCode: $("#shopCode").val()
        }, function (data) {
            initRecheckTable(data);
        }, function () {
            $('#recheck-table').bootstrapTable("hideLoading");
        });
    }

    //初始化一审确认表格
    function initRecheckTable(data) {
        $('#recheck-table').bootstrapTable('destroy').bootstrapTable({
            pagination: true,
            data: data,
            striped: true, //是否显示行间隔色
            width: "100%",
            height: getClientHeight() - 260,
            showColumns: false, // 开启自定义列显示功能
            sortable: true,
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 50, 100, 500],
            columns: [{
                title: "经销商代码",
                field: 'ShopCode',
                width: 120,
                valign: "middle",
                align: "center",
                formatter: function (value, row, index) { 
                    return '<a href="javascript:openDetail('+ row.ProjectId + ',' + row.ShopId + ')">' + value + '</a>';
                }
            }, {
                title: "经销商名称",
                field: "ShopName",
                valign: "middle",
                align: "center", 
                sortable: false
            },
            {
                title: "提交一审",
                field: "Status_S1",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "一审中", 
                field: "Status_S2",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "一审完毕",
                field: "Status_S3",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "一审修改",
                field: "Status_S4",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "一审确认",
                field: "Status_S8",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "二审完毕",
                field: "Status_S9",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    if (!value)
                        return '<button id="btnRecheckSubmit" onclick="secondRecheck()">二审完毕</span>'
                }
            }],
            onClickRow: function (row, $element) {
                curRow = row;
                console.log('curRow',curRow)
            }
        });
    }

    function openDetail(projectId, shopId) {
        var url = "/Recheck/SecondRecheckDetail?brandId=" + $("#brand-sel").val() + "&projectId=" + projectId + "&shopId=" + shopId
        openNewPage(url)
    } 

    function secondRecheck() {
        setTimeout(function () {
            $("#btnRecheckSubmit").button("loading");
            $.commonPost("Recheck/SaveRecheckStatus", {
                ProjectId: curRow.ProjectId,
                ShopId: curRow.ShopId,
                StatusCode: 'S9',
                InUserId: loginUser.Id
            }, function () {
                loadRecheck()
                alert("二审完毕！");
            }, function () {
                $("#btnRecheckSubmit").button("reset");
            });
        },300)
    }
</script>
