
<div>
    <form class="form-horizontal form-label-left" id="subject-file-form">
        <fieldset>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="userName">
                    标准照片名称<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="FileName" name="FileName" required="required" type="text" maxlength="15" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="userName">
                    标准照片类型<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="FileType" name="FileType" class="form-control col-md-7 col-xs-12"></select>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script>
    function saveSubjectDetail() {
        var params = $("#subject-file-form").serializeJson();
        var json = $("#subject-file-form").data("json");
        if (json && json.length > 0) {
            //编辑
            json = JSON.parse(json);
            params = $.extend(json, params);
        } else {
            //新增
            params.SubjectId = $("#SubjectId").val();
            params.InUserId = loginUser.UserId;
            params.ModifyUserId = loginUser.UserId;
        }

        $.post(baseUrl + "survey/api/Master/SaveSubjectFile", params, function (data) {
            if (data && data.Status) {
                closeModel();
                loadSubjectDetail();
            } else {
                alert(data.Body);
            }
        })
    }
</script>

