<div>
    <form class="form-horizontal form-label-left" id="score-form">
        <fieldset>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="OrderNO">
                    题目序号<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="OrderNO" name="OrderNO" required="required" type="text" maxlength="15" class="form-control col-md-7 col-xs-12" disabled>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="SubjectCode">
                    题目代码
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="SubjectCode" name="SubjectCode" type="text" maxlength="15" class="form-control col-md-7 col-xs-12" disabled>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CheckPoint">
                    检查点
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="CheckPoint" name="CheckPoint" type="text" maxlength="200" class="form-control col-md-7 col-xs-12" disabled>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Desc">
                    说明
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="Desc" name="Desc" type="text" maxlength="15" class="form-control col-md-7 col-xs-12" disabled>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="InspectionDesc">
                    检查标准说明
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="InspectionDesc" name="InspectionDesc" type="text" class="form-control col-md-7 col-xs-12" disabled>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="PhotoScore">
                    得分
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="PhotoScore" name="PhotoScore" type="text" maxlength="15" class="form-control col-md-7 col-xs-12">
                    
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <label id="score-range" style=" font-size:14px; line-height:30px; "></label>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Remark">
                    备注
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea id="Remark" name="Remark" rows="5" class="form-control col-md-7 col-xs-12"></textarea>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script src="~/Scripts/api/common.js"></script>
<script>
    
</script>


