<div>
    <form class="form-horizontal form-label-left" id="subject-form">
        <fieldset>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="SubjectCode">
                    体系编号<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="SubjectCode" name="SubjectCode" required="required" type="text" maxlength="15" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="SubjectTypeExamName">
                    试卷类型<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="SubjectTypeExamId" name="SubjectTypeExamId" class="form-control col-md-7 col-xs-12"></select>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="OrderNO">
                    执行顺序
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="OrderNO" name="OrderNO" type="text" maxlength="15" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Implementation">
                    执行方式
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="Implementation" name="Implementation" type="text" maxlength="15" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CheckPoint">
                    检查点
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="CheckPoint" name="CheckPoint" type="text" maxlength="15" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CheckPoint">
                    评分标准
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="InspectionDesc" name="InspectionDesc" type="text" maxlength="15" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Desc">
                    说明
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea id="Desc" name="Desc" rows="5" class="form-control col-md-7 col-xs-12"></textarea>
                </div>
            </div>
        </fieldset>
    </form>
</div>


