<div>
    <form class="form-horizontal form-label-left" id="subject-link-form">
        <fieldset>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="SubjectLinkCode">
                    流程类型编号<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="SubjectLinkCode" name="SubjectLinkCode" required="required" type="text" maxlength="15" class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="SubjectLinkName">
                    流程类型名称<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="SubjectLinkName" name="SubjectLinkName" required="required" type="text" class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>
        </fieldset>
    </form>
</div>

