
<div>
    <form class="form-horizontal form-label-left" id="subject-standard-form">
        <fieldset>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="userName">
                    标准描述<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea id="InspectionStandardName" name="InspectionStandardName" required="required" rows="6" class="form-control col-md-7 col-xs-12"></textarea>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script>
    function saveSubjectDetail() {
        $("#save_button").button("loading");

        var params = $("#subject-standard-form").serializeJson();
        var json = $("#subject-standard-form").data("json");
        if (json && json.length > 0) {
            //编辑
            json = JSON.parse(json);
            params = $.extend(json, params);
        } else {
            //新增
            params.SubjectId = $("#SubjectId").val();
            params.SeqNO = parseInt($("#standardMaxSeqNO").val()) + 1;
            params.InUserId = loginUser.Id;
            params.ModifyUserId = loginUser.Id;
        }

        $.post(baseUrl + "survey/api/Master/SaveSubjectInspectionStandard", params, function (data) {
            if (data && data.Status) {
                closeModel();
                loadSubjectDetail();
            } else {
                alert(data.Body);
            }
            $("#save_button").button("reset");
        })
    }
</script>

