<div>
    <form class="form-horizontal form-label-left" id="project-form">
        <fieldset>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ProjectGroup">
                    分组
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    
                    <input id="ProjectGroup" name="ProjectGroup" type="text" maxlength="15" class="form-control">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ProjectCode">
                    期号代码<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="ProjectCode" name="ProjectCode" required="required" type="text" maxlength="15" class="form-control">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ProjectName">
                    期号名称<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="ProjectName" name="ProjectName" required="required" type="text" maxlength="15" class="form-control">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ProjectShortName">
                    期号简称<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="ProjectShortName" name="ProjectShortName" required="required" type="text" maxlength="15" class="form-control">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Year">
                    年份
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="Year" name="Year" class="form-control">
                    </select>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Quarter">
                    季度
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="Quarter" name="Quarter" type="text" maxlength="15" class="form-control ">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="OrderNO">
                    序号
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="OrderNO" name="OrderNO" type="text" maxlength="15" class="form-control">
                </div>
            </div>
            @*<div class="item form-group" style="display:none">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="DataScore">
                    数据来源
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="DataScore" class="form-control">
                        <option value=""></option>
                        <option value="系统打分">系统打分</option>
                        <option value="Excel导入">Excel导入</option>
                    </select>
                </div>
            </div>*@
            <div class="item form-group" >
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ProjectType">
                    项目类型
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="ProjectType" name="ProjectType" class="form-control">
                        <option value=""></option>
                        <option value="明检">明检</option>
                        <option value="密采">密采</option>
                        <option value="自检">自检</option>
                    </select>
                </div>
            </div>
            <div class="item form-group" id="divScoreShowType">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ScoreShowType">
                    默认分数
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="ScoreShowType" name="ScoreShowType" class="form-control">
                        <option value=""></option>
                        <option value="L">最低分</option>
                        <option value="F">最高分</option>
                    </select>
                </div>
            </div>
            
            @*<div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="BrandId">
                    品牌
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="BrandId" name="BrandId" class="form-control"></select>
                </div>
            </div>*@
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="StartDate">
                    开始时间
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="StartDate" name="StartDate" class="form-control" />
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="EndDate">
                    结束时间
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="EndDate" name="EndDate" class="form-control" />
                </div>
            </div>
            <div class="item form-group" id="divRechckShopShow">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="RechckShopShow">
                   复审提交经销商是否可见
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 5px;">
                    <input type="checkbox" id="RechckShopShow" name="RechckShopShow" >
                </div>
            </div>
            @*<div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="SelfTestChk">
                    经销商自检
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 5px;">
                    <input type="checkbox" id="SelfTestChk" name="SelfTestChk">
                </div>
            </div>*@
            <div class="item form-group" id="divLossCopyToSupplyChk">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="LossCopyToSupplyChk">
                    自动生成补充失分说明
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 5px;">
                    <input type="checkbox" id="LossCopyToSupplyChk" name="LossCopyToSupplyChk">
                </div>
            </div>
            <div class="item form-group" id="divAppealShow">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="AppealShow">
                    是否申诉
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 5px;">
                    <input type="checkbox" id="AppealShow" name="AppealShow">
                </div>
            </div>
            <div class="item form-group" id="divPhotoUploadMode">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="PhotoUploadMode">
                    支持照片一键上传
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 5px;">
                    <input type="checkbox" id="PhotoUploadMode" name="PhotoUploadMode">
                </div>
            </div>
            <div class="item form-group" id="divReportDeployDate">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="OrderNO">
                    报告发布时间
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="ReportDeployDate" name="ReportDeployDate" class="form-control" />
                </div>
            </div>
            <div class="item form-group" id="divPhotoSize">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="OrderNO">
                    照片像素
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="PhotoSize" name="PhotoSize" class="form-control"></select>
                </div>
            </div>
        </fieldset>
    </form>
</div> 
<link href="~/Content/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Content/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="~/Content/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

<script>
    $("#Year").html($("#year-sel").html());
    $("#Year").val(new Date().getFullYear());
    //$("#BrandId").html($("#brand-sel").html());
    $("#ReportDeployDate").datetimepicker({
        format: 'yyyy-mm-dd hh:ii:ss',
        language: 'zh-CN'
    });
    $("#StartDate").datetimepicker({
        format: 'yyyy-mm-dd hh:ii:ss',
        language: 'zh-CN'
    });
    $("#EndDate").datetimepicker({
        format: 'yyyy-mm-dd hh:ii:ss',
        language: 'zh-CN'
    });
    bindHiddenColumn("照片像素", $("#PhotoSize"))
</script>

