<div style="float:right;">
    <button id="btnAdd" class="btn btn-primary" style="margin-right:0px" onclick="addLossResult()" data-loading-text="提交中...">新增</button> 
    <button id="btnAdd" class="btn btn-primary" style="margin-right:0px" onclick="saveLossResult()" data-loading-text="提交中...">保存</button>
</div>
<table id="subject-lossResult-table" class="table table-bordered table-set"></table>
<style>
    #loss-file-pics .img-div {
        float: left;
        position: sticky;
    }

    #loss-file-pics i {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 18px;
    }
</style>

<script>
    let LossFileNameUrl;
    let curLossRow;
    $(function () {
        initSubjectLossResult();
        loadSubjectLossResult();

        $("#LossResultCheckList").find("input[type=checkbox]").iCheckParser();

        var selProject = $("#project-sel").val()
        var selShop = $("#shop-sel").val()
        var osspath = "Survey/" + selProject + "/" + selShop + "/";
        if (!lossUploader) {
            lossUploader = new OSSClient({
                osspath: osspath,
                selectfiles: "btnAddLossPic",
                autoupload: true,
                success: function (files) {
                    //调用导入方法
                    let filePaths = []
                    files.forEach(function (file) {
                        filePaths.push(file.osspath)
                    })
                    if (LossFileNameUrl) {
                        LossFileNameUrl += ';' + filePaths.join(';')
                        bindLossUrlList(LossFileNameUrl.split(';'))
                    } else {
                        LossFileNameUrl = filePaths.join(';')
                        bindLossUrlList(filePaths)
                    }

                }
            });
        }
    })

    function closeLossModel() {
        $("#lossModal").modal("hide");
    }
    function showLossModel() {
        $("#lossModal").modal("show");
    }
    //绑定失分描述图片
    function bindLossUrlList(fileList) {
        $("#loss-file-pics").empty() 
        fileList.forEach(function (file) {
            var imgDiv = $('<div class="img-div">');

            var img = $('<img />')
            img.css("width", 250).css("height", 250).css("margin", 5)
            img.prop('src', osshost + file)
            imgDiv.append(img);
            let remove = $('<i class="glyphicon glyphicon-remove-circle"></i>')
            remove.click(function () {
                fileList.splice(fileList.indexOf(file), 1);
                LossFileNameUrl = fileList.join(';')
                console.log('LossFileNameUrl', LossFileNameUrl)
                bindLossUrlList(fileList)
            })
            imgDiv.append(remove);
            $("#loss-file-pics").append(imgDiv)
        })
    }
    //绑定失分描述checkbox
    function bindSubjectLossResultList(lossDic) {
        $("#LossResultCheckList").empty()
        lossDic.forEach(function (r) {
            var checkbox = $('<label class="col-md-6"><input type="checkbox"> <span class="checkbox-label"></span></label>')
            checkbox.find('span').text(r.LossResultCode+'-'+r.LossResultName)
            checkbox.find('input:checkbox').val(r.LossResultName)
            $("#LossResultCheckList").append(checkbox)
        })
        $("#LossResultCheckList").find("input[type=checkbox]").iCheckParser();
    }
    //初始化失分描述表格
    function initSubjectLossResult() {
        $('#subject-lossResult-table').bootstrapTable({
            pagination: false,
            striped: true, //是否显示行间隔色
            pageNumber: 1,
            pageSize: 10,
            pageList: [10],
            columns: [{
                title: "ID",
                field: "LossId",
                width: 0,
                visible: false
            },{
                title: "失分说明",
                field: "LossDesc",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "补充失分说明",
                field: "LossDesc2",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "编辑",
                field: "",
                width: 60,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    curLossRow = row;
                    return '<a href="javascript:editLossResult();" style="min-width:100px">编辑</a>';
                }
            }, {
                title: "查看照片",
                field: "",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) { 
                    return '<a href="javascript:viewLossFile();" style="min-width:100px">查看照片</a>';
                }
            }, {
                title: "删除",
                field: "",
                width: 60,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:delLossResutl(' + row.LossId + ');" style="min-width:100px">删除</a>';
                }
            }],
            onClickRow: function (row, $element) {
                curLossRow = row;
            }
        });
    }
    //查询失分描述
    function loadSubjectLossResult() { 
        $('#subject-lossResult-table').bootstrapTable("showLoading");
        $.commonGet("Answer/GetShopAnswerScoreInfo", {
            projectId: $("#project-sel").val(),
            shopId: $("#shop-sel").val(),
            subjectId: curRow.SubjectId,
            key: ''
        }, function (data) {
            console.log('data', data)
            if (data && data.length > 0) {
                let item = data[0]
                let LossResult = item.LossResult?JSON.parse(item.LossResult):[]
                $('#subject-lossResult-table').bootstrapTable("hideLoading");
                $('#subject-lossResult-table').bootstrapTable("load", LossResult);
                                
                bindSubjectLossResultList(item.SubjectLossResultList)
            }
        });
    }

    function saveCurLossResult() {
        let lossArr = []
        $.each($("#LossResultCheckList").find("input[type=checkbox]:checked"), function (i, checkbox) {
            //let lossValue = $(checkbox).parent().parent().find('.checkbox-label').text()
            let lossValue = $(checkbox).val()
            lossArr.push( lossValue)
        });
        if (curLossRow) {
            //编辑
            curLossRow.LossDesc = lossArr.join(';');
            curLossRow.LossDesc2 = $('#LossDesc2').val()
            curLossRow.LossFileNameUrl = LossFileNameUrl
            let data = $('#subject-lossResult-table').bootstrapTable('getData', false)
            $('#subject-lossResult-table').bootstrapTable("load", data);
        } else {
            //新增
            let data = $('#subject-lossResult-table').bootstrapTable('getData', false)
            data.push({
                LossId:fnGetMaxLossId()+1,
                LossDesc: lossArr.join(';'),
                LossDesc2: $('#LossDesc2').val(),
                LossFileNameUrl: LossFileNameUrl
            })
            $('#subject-lossResult-table').bootstrapTable("load", data);
        }
        closeLossModel();
    }

    function saveLossResult() {
        let data = $('#subject-lossResult-table').bootstrapTable('getData', false)
        curRow.LossResult = JSON.stringify(data);
        $.commonPost("Answer/SaveAnswerInfo", curRow, function () {
            alert("保存成功！");
            closeModel();
        }, function () { });
    }

    function addLossResult() {
        curLossRow = null
        $('#loss-file-pics').empty()        
        $('#LossDesc2').val('')
        $.each($("#LossResultCheckList").find("input[type=checkbox]"), function (i, checkbox) {
            $(checkbox).iCheck('uncheck');
        });
        showLossModel();
    }

    function editLossResult() {
        LossFileNameUrl = curLossRow.LossFileNameUrl
        curLossRow.LossDesc2 = curLossRow.LossDesc2||''
        curLossRow.LossDesc = curLossRow.LossDesc || ''
        $('#LossDesc2').val(curLossRow.LossDesc2)
        let lossDescArr = curLossRow.LossDesc.split(';')
        $.each($("#LossResultCheckList").find("input[type=checkbox]"),function (i,checkbox) {
            //let lossValue = $(checkbox).parent().parent().find('.checkbox-label').text()
            let lossValue = $(checkbox).val()
            console.log('checkbox value', lossValue)
            if (lossDescArr.indexOf(lossValue) >= 0) {
                $(checkbox).iCheck('check');
            }
        });
        let fileList = LossFileNameUrl ? LossFileNameUrl.split(';') : []
        bindLossUrlList(fileList)
        showLossModel();
    }

    function viewLossFile2() {
        let fileList = curLossRow.LossFileNameUrl ? curLossRow.LossFileNameUrl.split(';') : []
        if (!fileList || fileList.length == 0) {
            alert("没有照片！")
            return;
        }
        if ($("#baguetteBox").length > 0) {
            $("#baguetteBox").remove()
        }
        if ($("#baguetteBox-overlay").length > 0) {
            $("#baguetteBox-overlay").remove()
        }

        var imgBox = $('<div id="baguetteBox" class="baguetteBox" style="display:none">');
        $(document.body).append(imgBox);
        var count = fileList.length;
        $.each(fileList, function (i, item) {
            var imgUrl = loginUser.ossInfo.osshost + item;
            var imgThumbUrl = imgUrl + '?x-oss-process=image/resize,m_fill,h_180,w_240';
            var imagA = $('<a></a>');
            let name = item.substr(item.lastIndexOf('/') + 1);
            var img = $('<img>').attr('src', imgThumbUrl).attr("alt", (i + 1) + "/" + count + "   " + name);
            $(imagA).append(img);
            $(imagA).attr('href', imgUrl);
            $(imagA).attr('data-caption', (i + 1) + "/" + count + "   " + name);

            imgBox.append(imagA);
        })
        baguetteBox.run('#baguetteBox' );

        setTimeout(function () {
            imgBox.find("a:first img").click();
        }, 300)
    }

    function viewLossFile() {
        let fileList = curLossRow.LossFileNameUrl ? curLossRow.LossFileNameUrl.split(';') : []
        if (!fileList || fileList.length == 0) {
            alert("没有照片！")
            return;
        }
        var galley = document.getElementById('galley');
        var count = fileList.length;
        $("#galley .pictures").empty()
        $.each(fileList, function (i, item) {
            var imgUrl = loginUser.ossInfo.osshost + item;
            var imgThumbUrl = imgUrl + '?x-oss-process=image/resize,m_fill,h_180,w_240';
            var imagA = $('<li></li>');
            let name = item.substr(item.lastIndexOf('/') + 1);
            var img = $('<img>').attr('src', imgThumbUrl).attr("alt", (i + 1) + "/" + count + "   " + name);
            img.attr('data-original', imgUrl)
            $(imagA).append(img);

            $("#galley .pictures").append(imagA);
        })

        $('#photoModal').on('shown.bs.modal', function (e) {
            // WARNING: should ignore Viewer's `shown` event here.
            if (e.namespace === 'bs.modal') {
                viewer = new Viewer(galley, {
                    url: 'data-original',
                });
            }
        }).on('hidden.bs.modal', function (e) {
            // WARNING: should ignore Viewer's `hidden` event here.
            if (e.namespace === 'bs.modal') {
                viewer.destroy();
            }
        });
        $("#photoModal").modal("show")
    }
    function delLossResutl(lossId) {
        $('#subject-lossResult-table').bootstrapTable('remove', {field: 'LossId',values: [lossId] });
    }

    var maxLossId = 0;
    function fnGetMaxLossId() {
        let data = $('#subject-lossResult-table').bootstrapTable('getData', false)
        for (var i = 0; i < data.length; i++) {
            if (maxLossId < data[i].LossId) {
                maxLossId = data[i].LossId;
            }
        }
        return maxLossId;
    }
</script>



