<div class="form-horizontal form-label-left" style="padding-bottom:5px;width:100%">
    <div class="form-inline" style="text-align:center">
        <label class="control-label" style="font-size:16px;">导入期号:<span id="ImportProject"></span></label>
        <div class="item form-inline" style="float:right;">
            <button id="btnImport" class="btn btn-primary form-group" style="margin-right:0px" onclick="importSubjectInspectionStandard()" data-loading-text="导入中...">导入</button>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="item form-group">
    
    <table id="import-subjectinspection-table" class="table table-bordered table-set"></table>
</div>
<script>
    $(function () {
        initImportSubjectInspectionStandardTable();
    })

    function initImportSubjectInspectionStandardTable() {
        $('#import-subjectinspection-table').bootstrapTable({
            pagination: true,
            striped: true, //是否显示行间隔色
            pageNumber: 1,
            pageSize: 15,
            pageList: [10, 15, 20, 50],
            columns: [{
                title: "题目代码",
                field: 'SubjectCode',
                width: 100,
                valign: "middle",
                align: "center",
            }, {
                title: "检查标准",
                field: "InspectionStandardName",
                width: 50,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "数据状态",
                field: "ImportChk",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false,
            }, {
                title: "状态说明",
                field: "ImportRemark",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false,
            }]
        });
    }

    function preferenceFormatter(value, row, index) {
        return [
            '<a href="#" data-toggle="tooltip" title=' + value + '>' + value + '</a>',
        ].join('');
    }
    function loadImportSubjectInspectionStandard(file) {
        $('#import-subjectinspection-table').bootstrapTable("showLoading");
        $.commonGet("Master/SubjectInspectionStandardExcelAnalysis", {
            projectId: $("#project-sel").val(),
            ossPath: file.osspath
        }, function (data) {
            var chk = true;
            if (data && data.length > 0) {
                data.forEach(function (item) {
                    if (!item.ImportChk) {
                        chk = item.ImportChk;
                        return false;
                    }
                })
            }
            if (!chk) {
                $("#btnImport").attr("disabled", true);
            }
            $('#import-subjectinspection-table').bootstrapTable("load", data);
            $('#import-subjectinspection-table').bootstrapTable("hideLoading");
        });
    }
    function importSubjectInspectionStandard() {
        $("#btnImport").button("loading");
        var rows = $('#import-subjectinspection-table').bootstrapTable("getData");
        rows.forEach(function (row) {
            row.ProjectId = $("#project-sel").val();
            row.InUserId = loginUser.Id;
            row.ModifyUserId = loginUser.Id;
        })
        $.commonPost("Master/SubjectInspectionStandardImport", {
            ListJson: JSON.stringify(rows)
        }, function () {
            $("#ModalImport").modal("hide");
            loadSubject();
        });
    }

</script>
