<div>
    <form class="form-horizontal form-label-left" id="project-form">
        <fieldset>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ProjectCode">
                    期号代码<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="ProjectCode" name="ProjectCode" required="required" type="text" maxlength="15" class="form-control">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ProjectName">
                    期号名称<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="ProjectName" name="ProjectName" required="required" type="text" maxlength="15" class="form-control">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Year">
                    年份
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="Year" name="Year" class="form-control">
                    </select>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Quarter">
                    季度
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="Quarter" name="Quarter" type="text" maxlength="15" class="form-control ">
                </div>
            </div>
            <div class="item form-group" style="display:none">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="DataScore">
                    数据来源
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="DataScore" class="form-control">
                        <option value=""></option>
                        <option value="系统打分">系统打分</option>
                        <option value="Excel导入">Excel导入</option>
                    </select>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="OrderNO">
                    序号
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="OrderNO" name="OrderNO" type="text" maxlength="15" class="form-control">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="BrandId">
                    品牌
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="BrandId" name="BrandId" class="form-control"></select>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="RechckShopShow">
                   复审提交经销商是否可见
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 5px;">
                    <input type="checkbox" id="RechckShopShow" name="RechckShopShow" >
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="PhotoUploadMode">
                    支持照片一键上传
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 5px;">
                    <input type="checkbox" id="PhotoUploadMode" name="PhotoUploadMode">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="OrderNO">
                    报告发布时间
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="ReportDeployDate" name="ReportDeployDate" class="form-control" />
                </div>
            </div>
        </fieldset>
    </form>
</div> 
<link href="~/Content/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Content/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="~/Content/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

<script>
    $("#Year").html($("#year-sel").html());
    $("#Year").val(new Date().getFullYear());
    $("#BrandId").html($("#brand-sel").html());
    $("#ReportDeployDate").datetimepicker({
        format: 'yyyy-mm-dd hh:ii:ss',
        language: 'zh-CN'
    });
</script>

