<div style="float:right;">
    <button id="btnAdd" class="btn btn-primary" style="margin-right:0px" onclick="saveFileResult()" data-loading-text="提交中...">保存</button> 
</div>
<table id="subject-file-table" class="table table-bordered table-set"></table>

 <style>
     #subject-file-pics .img-div {
         float: left;
         position: sticky;
     }
     #subject-file-pics i{
         position:absolute;
         top:10px;
         right:10px;
         font-size:18px;
     }
 </style>
<script>
    var curFileRow;
    $(function () {
        uploader = undefined
        initSubjectFile();
        loadSubjectFile();

        var selProject = $("#project-sel").val()
        var selShop = $("#shop-sel").val()
        var osspath = "Survey/" + selProject + "/" + selShop + "/";
        if (!uploader) {
            $('#btnAddPicture').unbind()
            uploader = new OSSClient({
                osspath: osspath,
                selectfiles: "btnAddPicture",
                autoupload: true,
                success: function (files) {
                    //调用导入方法
                    let filePaths = []
                    files.forEach(function (file) {
                        filePaths.push(file.osspath)
                        fnSaveAnswerPhotoLog(file.osspath);
                    })
                    if (curFileRow.Url) {
                        curFileRow.Url += ';' + filePaths.join(';')
                        bindFileResultList(curFileRow.Url.split(';'))
                    } else {
                        curFileRow.Url = filePaths.join(';')
                        bindFileResultList(filePaths)
                    }
                }
            });
        }
    })
    function fnSaveAnswerPhotoLog(ossPath) {
        $.commonPost("Answer/SaveAnswerPhotoLog", {
            AnswerId: curRow.AnswerId,
            ProjectId: curRow.ProjectId,
            ShopId: curRow.ShopId,
            FileUrl: ossPath,
            InUserId: loginUser.Id
        }, function () {
        }, function () { });
    }
    function closeFileModel() {
        $("#sujectFileModal").modal("hide");
    }
    function showFileModel() {
        $("#sujectFileModal").modal("show");
    }
    function bindFileResultList(fileList) {
        $("#subject-file-pics").empty()
        fileList.forEach(function (file) {
            var imgDiv = $('<div class="img-div">');
            
            var img = $('<img />')
            img.css("width", 250).css("height", 250).css("margin", 5)
            if (file.indexOf("https") == -1) {
                img.prop('src', osshost + file)
            }
            else {
                img.prop('src', file)
            }
            //img.prop('src', osshost+file)
            imgDiv.append(img);
            let remove = $('<i class="glyphicon glyphicon-remove-circle"></i>')
            remove.click(function () {
                var index = fileList.indexOf(file)
                if (index >= 0) {
                    fileList.splice(index, 1);
                    curFileRow.Url = fileList.join(';')
                    console.log('curFileRow.Url', curFileRow.Url)
                    bindFileResultList(fileList)
                }
            })
            imgDiv.append(remove);
            $("#subject-file-pics").append(imgDiv)
        })
    }

    function initSubjectFile() {
        $('#subject-file-table').bootstrapTable({
            pagination: true,
            striped: true, //是否显示行间隔色
            pageNumber: 1,
            pageSize: 10,
            pageList: [10],
            columns: [{
                title: "序号",
                field: 'SeqNO',
                width: 60,
                valign: "middle",
                align: "center",
            }, {
                title: "拍照点",
                field: "FileName",
                width: 180,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    if (value != undefined && value != "")
                        return '<span data-toggle="tooltip" data-placement="left" title="' + value + '">' + value + '</span>'
                }
            }, {
                title: "编辑",
                field: "",
                width: 60,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) { 
                    return '<a href="javascript:editSubjectFile();" style="min-width:100px">编辑</a>';
                }
            }, {
                title: "查看照片",
                field: "",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:viewPicutes(\'' + (row.Url || '') + '\');" style="min-width:100px">查看照片</a>';
                }
            }],
            onClickRow: function (row, $element) {
                curFileRow = row;
            }
        });
    }

    function loadSubjectFile() {
        console.log(curRow)
        $('#subject-file-table').bootstrapTable("showLoading");
        $.commonGet("Answer/GetShopAnswerScoreInfo", {
            projectId: $("#project-sel").val(),
            shopId: $("#shop-sel").val(),
            subjectId: curRow.SubjectId,
            key: ''
        }, function (data) {
            if (data && data.length > 0) {
                let item = data[0]
                curRow = data[0]
                let FileResult = item.FileResult?JSON.parse(item.FileResult):[]
                item.SubjectFileList = item.SubjectFileList.map(function (o) {
                    let findOne = FileResult.find(function (r) { return r.SubjectId == o.SubjectId && r.SeqNO == o.SeqNO })
                    if (findOne) {
                        o.Url = findOne.Url
                    }
                    return o;
                })
                console.log('item.SubjectFileList', item.SubjectFileList)
                $('#subject-file-table').bootstrapTable("hideLoading");
                $('#subject-file-table').bootstrapTable("load", item.SubjectFileList);
            }
        });
    }

    function saveFileResult() {
        let data = $('#subject-file-table').bootstrapTable('getData', false)
        curRow.FileResult = JSON.stringify(data);
        curRow.ModifyUserId = loginUser.Id;
        $.commonPost("Answer/SaveAnswerInfo", curRow, function () {
            alert("保存成功！");
            closeModel();
        }, function () { });
    }

    /**标准照片 **start**/
    function saveCurFileResult() {
        let data = $('#subject-file-table').bootstrapTable('getData', false)
        $('#subject-file-table').bootstrapTable("load", data);
        closeFileModel();
    }

    function editSubjectFile() {
        showFileModel();
        let fileList = curFileRow.Url?curFileRow.Url.split(';'):[]
        bindFileResultList(fileList)
    } 
</script>



