<div class="form-horizontal form-label-left" style="padding-bottom:5px;width:100%">
    <div class="form-inline" style="text-align:center">
        <label class="control-label" style="font-size:16px;">导入期号:<span id="ImportProject"></span></label>
        <div class="item form-inline" style="float:right;">
            <button id="btnImport" class="btn btn-primary form-group" style="margin-right:0px" onclick="importSubject()" data-loading-text="导入中...">导入</button>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="item form-group">
    
    <table id="import-subject-table" class="table table-bordered table-set"></table>
</div>
<script>
    $(function () {
        //initImportSubjectTable();
    })

    function initImportSubjectTable(data) {
        $('#import-subject-table').bootstrapTable('destroy').bootstrapTable({
            pagination: true,
            data:data,
            striped: true, //是否显示行间隔色
            height: getClientHeight() - 260,
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 50, 100, 500],
            columns: [{
                title: "题目代码",
                field: 'SubjectCode',
                width: 100,
                valign: "middle",
                align: "center",
            }, {
                title: "执行顺序",
                field: "OrderNO",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "最高分",
                field: "FullScore",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "最低分",
                field: "LowScore",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "执行方式",
                field: "Implementation",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "试卷类型",
                field: "ExamTypeCode",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "审核类型",
                field: "RecheckTypeCode",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false,
            }, {
                title: "题目类型",
                field: "HiddenCode_SubjectTypeName",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false,
            }, {
                title: "检查点",
                field: "CheckPoint",
                width: 200,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: preferenceFormatter
            }, {
                title: "检查标准说明",
                field: "InspectionDesc",
                width: 200,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: preferenceFormatter
            }, {
                title: "备注",
                field: "Remark",
                width: 200,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: preferenceFormatter
            }, {
                title: "数据状态",
                field: "ImportChk",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false,
            }, {
                title: "状态说明",
                field: "ImportRemark",
                width: 200,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: preferenceFormatter
            }]
        });
    }

    function preferenceFormatter(value, row, index) {
        return [
            '<a href="#" data-toggle="tooltip" title=' + value + '>' + value + '</a>',
        ].join('');
    }
    function loadImportSubject(file) {
        $('#import-subject-table').bootstrapTable("showLoading");
        $.commonGet("Master/SubjectExcelAnalysis", {
            brandId: $("#brand-sel").val(),
            ossPath: file.osspath
        }, function (data) {
            var chk = true;
            if (data && data.length > 0) {
                data.forEach(function (item) {
                    if (!item.ImportChk) {
                        chk = item.ImportChk;
                        return false;
                    }
                })
            }
            if (!chk) {
                $("#btnImport").attr("disabled", true);
            }
           // $('#import-subject-table').bootstrapTable("load", data);
            //$('#import-subject-table').bootstrapTable("hideLoading");
            initImportSubjectTable(data);
        });
    }
    function importSubject() {
        $("#btnImport").button("loading");
        var rows = $('#import-subject-table').bootstrapTable("getData");
        rows.forEach(function (row) {
            row.ProjectId = $("#project-sel").val();
            row.TenantId = loginUser.TenantId;
            row.InUserId = loginUser.Id;
            row.ModifyUserId = loginUser.Id;
        })
        $.commonPost("Master/SubjectImport", {
            ListJson: JSON.stringify(rows)
        }, function () {
            $("#ModalImport").modal("hide");
            loadSubject();
        });
    }

</script>
