<div style="float:right;">
    <button id="btnAdd" class="btn btn-primary" style="margin-right:0px" onclick="addLossResult()" data-loading-text="提交中...">新增</button> 
    <button id="btnSave" class="btn btn-primary" style="margin-right:0px" onclick="saveLossResult()" data-loading-text="提交中...">保存</button>
</div>
<table id="subject-lossResult-table" class="table table-bordered table-set"></table>
<style>
    #loss-file-pics .img-div {
        float: left;
        position: sticky;
    }

    #loss-file-pics i {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 18px;
    }
</style>

<script> 
    let curLossRow;
    $(function () {
        lossUploader = undefined
        initSubjectLossResult();
        loadSubjectLossResult();

        $("#LossResultCheckList").find("input[type=checkbox]").iCheckParser();

        var selProject = $("#project-sel").val()
        var selShop = $("#shop-sel").val()
        var osspath = "Survey/" + selProject + "/" + selShop + "/";
        if (!lossUploader) {
            lossUploader = new OSSClient({
                osspath: osspath,
                selectfiles: "btnAddLossPic",
                autoupload: true,
                success: function (files) {
                    //调用导入方法
                    let filePaths = []
                    files.forEach(function (file) {
                        filePaths.push(file.osspath);
                        fnSaveAnswerPhotoLog(file.osspath)
                    })
                    if (curLossRow.LossFileNameUrl) {
                        curLossRow.LossFileNameUrl += ';' + filePaths.join(';')
                        bindLossUrlList(curLossRow.LossFileNameUrl.split(';'))
                    } else {
                        curLossRow.LossFileNameUrl = filePaths.join(';')
                        bindLossUrlList(filePaths)
                    }
                }
            });
        }
    })
    function fnSaveAnswerPhotoLog(ossPath) {

        $.commonPost("Answer/SaveAnswerPhotoLog", {
            AnswerId: curRow.AnswerId,
            ProjectId: curRow.ProjectId,
            ShopId: curRow.ShopId,
            FileUrl: ossPath,
            InUserId: loginUser.Id 
        }, function () {
           
        }, function () { });
    }

    function closeLossModel() {
        $("#lossModal").modal("hide");
    }
    function showLossModel() {
        $("#lossModal").modal("show");
    }
    //绑定失分描述图片
    function bindLossUrlList(fileList) {
        $("#loss-file-pics").empty() 
        fileList.forEach(function (file) {
            var imgDiv = $('<div class="img-div">');

            var img = $('<img />')
            img.css("width", 250).css("height", 250).css("margin", 5)
            //img.prop('src', osshost + file)
            if (file.indexOf("https") == -1) {
                img.prop('src', osshost + file)
            }
            else {
                img.prop('src', file)
            }
            imgDiv.append(img); 
            let remove = $('<i class="glyphicon glyphicon-remove-circle"></i>')
            remove.click(function () {
                fileList.splice(fileList.indexOf(file), 1);
                curLossRow.LossFileNameUrl = fileList.join(';') 
                bindLossUrlList(fileList)
            })
            imgDiv.append(remove);
            $("#loss-file-pics").append(imgDiv)
        })
    }
    //绑定失分描述checkbox
    function bindSubjectLossResultList(lossDic) {
        $("#LossResultCheckList").empty()
        lossDic.forEach(function (r) {
            var checkbox = $('<label class="col-md-6"><input type="checkbox"> <span class="checkbox-label"></span></label>')
            checkbox.find('span').text(r.LossResultCode+'-'+r.LossResultName)
            checkbox.find('input:checkbox').val(r.LossResultName)
            $("#LossResultCheckList").append(checkbox)
        })
        $("#LossResultCheckList").find("input[type=checkbox]").iCheckParser();
    }
    //初始化失分描述表格
    function initSubjectLossResult() {
        $('#subject-lossResult-table').bootstrapTable({
            pagination: false,
            striped: true, //是否显示行间隔色
            pageNumber: 1,
            pageSize: 10,
            pageList: [10],
            uniqueId:"LossId",
            columns: [{
                title: "ID",
                field: "LossId",
                width: 0,
                visible: false
            },{
                title: "失分说明",
                field: "LossDesc",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    if (value != undefined && value != "")
                        return '<span data-toggle="tooltip" data-placement="left" title="' + value + '">' + value + '</span>'
                }
            }, {
                title: "补充失分说明",
                field: "LossDesc2",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "编辑",
                field: "",
                width: 60,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) { 
                    return '<a href="javascript:editLossResult();" style="min-width:100px">编辑</a>';
                }
            }, {
                title: "查看照片",
                field: "",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) { 
                    return '<a href="javascript:viewPicutes(\'' + (row.LossFileNameUrl || '') + '\');" style="min-width:100px">查看照片</a>';
                }
            }, {
                title: "删除",
                field: "",
                width: 60,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:delLossResult(' + row.LossId + ');" style="min-width:100px">删除</a>';
                }
            }],
            onClickRow: function (row, $element) {
                curLossRow = row;
            }
        });
    }
    //查询失分描述
    function loadSubjectLossResult() { 
        $('#subject-lossResult-table').bootstrapTable("showLoading");
        $.commonGet("Answer/GetShopAnswerScoreInfo", {
            projectId: $("#project-sel").val(),
            shopId: $("#shop-sel").val(),
            subjectId: curRow.SubjectId,
            key: ''
        }, function (data) {
            console.log('data', data)
            if (data && data.length > 0) {
                let item = data[0]
                curRow = data[0]
                let LossResult = item.LossResult?JSON.parse(item.LossResult):[]
                $('#subject-lossResult-table').bootstrapTable("hideLoading");
                $('#subject-lossResult-table').bootstrapTable("load", LossResult);
                                
                bindSubjectLossResultList(item.SubjectLossResultList)
            }
        });
    }

    function saveCurLossResult() {
        let lossArr = []
        $.each($("#LossResultCheckList").find("input[type=checkbox]:checked"), function (i, checkbox) {
            //let lossValue = $(checkbox).parent().parent().find('.checkbox-label').text()
            let lossValue = $(checkbox).val()
            lossArr.push( lossValue)
        });
        if (curLossRow.LossId) {
            //编辑
            curLossRow.LossDesc = lossArr.join(';');
            curLossRow.LossDesc2 = $('#LossDesc2').val() 
            let data = $('#subject-lossResult-table').bootstrapTable('getData', false)
            $('#subject-lossResult-table').bootstrapTable("load", data);
        } else {
            //新增
            let data = $('#subject-lossResult-table').bootstrapTable('getData', false)
            curLossRow = $.extend(curLossRow,{
                LossId:fnGetMaxLossId()+1,
                LossDesc: lossArr.join(';'),
                LossDesc2: $('#LossDesc2').val()
            })
            data.push(curLossRow)
            $('#subject-lossResult-table').bootstrapTable("load", data);
        }
        closeLossModel();
    }

    function saveLossResult() {
        let data = $('#subject-lossResult-table').bootstrapTable('getData', false)
        curRow.LossResult = JSON.stringify(data);
        curRow.ModifyUserId = loginUser.Id;
        $.commonPost("Answer/SaveAnswerInfo", curRow, function () {
            alert("保存成功！");
            closeModel();
        }, function () { });
    }

    function addLossResult() {
        curLossRow = {}
        $('#loss-file-pics').empty()        
        $('#LossDesc2').val('')
        $.each($("#LossResultCheckList").find("input[type=checkbox]"), function (i, checkbox) {
            $(checkbox).iCheck('uncheck');
        });
        showLossModel();
    }

    function editLossResult() {
        curLossRow.LossDesc2 = curLossRow.LossDesc2||''
        curLossRow.LossDesc = curLossRow.LossDesc || ''
        $('#LossDesc2').val(curLossRow.LossDesc2)
        let lossDescArr = curLossRow.LossDesc.split(';')
        $.each($("#LossResultCheckList").find("input[type=checkbox]"),function (i,checkbox) {
            //let lossValue = $(checkbox).parent().parent().find('.checkbox-label').text()
            let lossValue = $(checkbox).val()
            console.log('checkbox value', lossValue)
            if (lossDescArr.indexOf(lossValue) >= 0) {
                $(checkbox).iCheck('check');
            }
        });
        debugger
        let fileList = curLossRow.LossFileNameUrl ? curLossRow.LossFileNameUrl.split(';') : []
        bindLossUrlList(fileList)
        showLossModel();
    }
     
    function delLossResult(lossId) {
        debugger
        //$('#subject-lossResult-table').bootstrapTable('remove', { field: 'LossId', values: [lossId] });
        $('#subject-lossResult-table').bootstrapTable('removeByUniqueId', lossId);
        
    }

    var maxLossId = 0;
    function fnGetMaxLossId() {
        let data = $('#subject-lossResult-table').bootstrapTable('getData', false)
        for (var i = 0; i < data.length; i++) {
            if (maxLossId < data[i].LossId) {
                maxLossId = data[i].LossId;
            }
        }
        return maxLossId;
    }
</script>