<div>
    <form class="form-horizontal form-label-left" id="subject-form">
        <fieldset>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="SubjectCode">
                    体系编号<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="SubjectCode" name="SubjectCode" required="required" type="text" maxlength="15" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="OrderNO">
                    执行顺序
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="OrderNO" name="OrderNO" type="text" maxlength="15" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="FullScore">
                    最高分
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="FullScore" name="FullScore" type="text" maxlength="15" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="LowScore">
                    最低分
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="LowScore" name="LowScore" type="text" maxlength="15" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="MustScore">
                    分数是否必填
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 5px;">
                    <input type="checkbox" id="MustScore" name="MustScore">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="LabelId">
                    试卷类型<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="LabelId" name="LabelId" class="form-control col-md-7 col-xs-12"></select>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="LabelId_RecheckType">
                    审核类型<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="LabelId_RecheckType" name="LabelId_RecheckType" class="form-control col-md-7 col-xs-12"></select>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="HiddenCode_SubjectType">
                    题目类型<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="HiddenCode_SubjectType" name="HiddenCode_SubjectType" class="form-control col-md-7 col-xs-12"></select>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CheckPoint">
                    检查点
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="CheckPoint" name="CheckPoint" type="text"  class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Implementation">
                    执行方式
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="Implementation" name="Implementation" type="text"  class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="InspectionDesc">
                    检查标准说明
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="InspectionDesc" name="InspectionDesc" type="text"  class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Remark">
                    备注
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea id="Remark" name="Remark" rows="5" class="form-control col-md-7 col-xs-12"></textarea>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script src="~/Scripts/api/common.js"></script>
<script>
    //debugger
    bindLabel("ExamType");
    bindLabelRecheck("RecheckType");
    bindHiddenColumnSubjectType("体系类型");

</script>


