@{
    ViewBag.Title = "照片下载名称设置";
}
<style>
    .operation {
        padding: 10px 0px;
        text-align: right;
    }

        .operation .btn {
            width: 100px;
        }
</style>
<div class="condition">
    <div style="text-align:right;width:100%">
        <button id="btnQuery" class="btn btn-primary">查询</button>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">品牌:</label>
            <select id="brand-sel" class="form-control" style="width:200px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">年份:</label>
            <select id="year-sel" class="form-control" style="width:200px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">期号:</label>
            <select id="project-sel" class="form-control" style="width:200px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">照片类型:</label>
            <select id="photoType-sel" class="form-control" style="width:200px;">
                <option value="1">标准照片</option>
                <option value="2">失分照片</option>
            </select>
        </div>
    </div>

</div>
<div class="result">
    <table id="rename-table" class="table table-bordered table-set"></table>
</div>
<div class="modal fade" id="DataModal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">照片下载命名</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/api/common.js"></script>
<script src="~/Scripts/custom/form-serialize.js"></script>
<script>
    $(function () {
        $('title').html('@ViewBag.Title')

        bindBrandSelect();
        for (var i = 2020; i <= 2030; i++) {
            $("#year-sel").append($("<option>").text(i + "").val(i + ""));
        }
        var tYear = new Date().getFullYear();
        $("#year-sel").val(tYear);

        $("#brand-sel").change(function () {
            loadProject();
        });
        $("#year-sel").change(function () {
            loadProject();
        });

        bindProjectSelect();
        $("#project-sel").change(function () {
            loadFileRename();
        })

        initFileRenameTable();
        $("#btnQuery").click(function () {
            loadFileRename();
        }).trigger("click");
    })
    var curRow;
    function loadFileRename() { 
        $('#rename-table').bootstrapTable("showLoading");
        $.commonGet("Master/GetFileType", {}, function (data) {
            $('#rename-table').bootstrapTable("hideLoading");
            $('#rename-table').bootstrapTable("load", data);
        })
    }

    //初始化经销
    function initFileRenameTable() {
        $('#rename-table').bootstrapTable({
            pagination: true,
            striped: true, //是否显示行间隔色
            width: "100%",
            height: getClientHeight() - 260,
            showColumns: false, // 开启自定义列显示功能
            sortable: true,
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 50, 100, 500],
            columns: [{
                title: "文件类型代码",
                field: 'FileTypeCode',
                width: 150,
                valign: "middle",
                align: "center"
            }, {
                title: "文件类型名称",
                field: "FileTypeName",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "命名规则",
                field: "",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:setFileRename();" style="min-width:100px">命名规则</a>';
                }
            }],
            onClickRow: function (row, $element) {
                curRow = row;
            }
        });
    }
    function setFileRename() {
        $("#DataModal .modal-body").empty();
        $("#DataModal").modal("show"); 
        $("#DataModal .modal-body").load("/ProjectContent/FileRenameEdit", {}, function () {
        })
    }
</script>



