@{
    ViewBag.Title = "经销商卷别管理";
}
<style>
    .operation {
        padding: 10px 0px;
        text-align: right;
    }

        .operation .btn {
            width: 100px;
        }

    .bootstrap-table .fixed-table-container.fixed-height .fixed-table-border {
        border-left: none;
        border-right: none;
    }
</style>
<div class="condition">
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">品牌:</label>
            <select id="brand-sel" class="form-control" style="width:200px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">年份:</label>
            <select id="year-sel" class="form-control" style="width:200px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">期号:</label>
            <select id="project-sel" class="form-control" style="width: 140px"></select>
        </div>
    </div>
    <div style="float:right;width:300px;text-align:right">
        <button id="btnQuery" class="btn btn-primary">查询</button>
        <button id="btnProjectShopImport" class="btn btn-primary">导入卷别</button>
        <button id="btnDownloadTemplate" class="btn btn-primary">下载模板</button>
    </div>
</div>
<div class="result">
    <table id="project-shop-table" class="table table-set"></table>
</div>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">卷别编辑</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="save_button" type="button" onclick="saveProjectShop()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalImport" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">经销商卷别导入</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<div id="upload-container" class="container-fluid" style="margin:0;padding:0;display:none">
    <div id="ossfile"></div>
</div>
<script src="~/Scripts/api/common.js"></script>
<script src="~/Scripts/custom/form-serialize.js?20200510"></script>

<script src="~/Scripts/oss-upload-direct/lib/crypto1/crypto/crypto.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/crypto1/hmac/hmac.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/crypto1/sha1/sha1.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/base64.js"></script>
<script src="~/Scripts/oss-upload-direct/upload.js?20200426"></script>
<script>
    var ossUploader;
    var osspath;
    NProgress.start();
    $(function () {
        $('title').html('@ViewBag.Title')
        bindBrandSelect();
        $("#year-sel").change(function () {
            bindProjectSelect();
        });
        for (var i = 2020; i <= 2030; i++) {
            $("#year-sel").append($("<option>").text(i + "").val(i + ""));
        }
        var tYear = new Date().getFullYear();
        $("#year-sel").val(tYear);
        $("#brand-sel").change(function () {
            bindProjectSelect();
        });
        $("#project-sel").change(function () {
            loadProjectShop();
        });

        bindProjectSelect();
        loadProjectShop();
        //initProjectShopTable();
        $("#btnQuery").click(function () {
            loadProjectShop();
        }).trigger("click");

        //  oss
        debugger
        osspath = "Survey/BaseInfo/";
        new OSSClient({
            autoupload: true,
            osspath: osspath + "Import/",
            selectfiles: "btnProjectShopImport",
            multi_selection: false,
            success: function (files) {
                //调用导入方法
                files.forEach(function (file) {
                    var projectTxt = $("#project-sel option:selected").text();
                    $("#ModalImport .modal-body").empty();
                    $("#ModalImport").modal("show");
                    $("#ModalImport .modal-body").load("/ProjectContent/OpenProjectShopImport", {}, function () {
                        $("#ImportProject").html(projectTxt);
                        loadImportProjectShop(file);
                    })
                })
            }
        });
    });
    var curRow;
    function initProjectShopTable(data) {
        $('#project-shop-table').bootstrapTable('destroy').bootstrapTable({
            pagination: true,
            data:data,
            striped: true, //是否显示行间隔色
            width: "100%",
            height: getClientHeight() - 260,
            showColumns: false, // 开启自定义列显示功能
            sortable: true,
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 50, 100, 500],
            columns: [{
                title: "期号代码",
                field: 'ProjectCode',
                width: 120,
                valign: "middle",
                align: "center"
            }, {
                title: "经销商Id",
                field: "ShopId",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "经销商代码",
                field: "ShopCode",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:goEdit();" style="min-width:100px">' + value + '</a>';
                }
            },{
                title: "经销商名称",
                field: "ShopName",
                width: 230,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "卷别Id",
                field: "ExamTypeId",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false,

            }, {
                title: "卷别代码",
                field: "ExamTypeCode",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "卷别名称",
                field: "ExamTypeName",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "添加时间",
                field: "InDateTime",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "修改时间",
                field: "ModifyDateTime",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }],
            onClickRow: function (row, $element) {
                curRow = row;
            }
        });
    }
    function loadProjectShop() {
        $('#project-shop-table').bootstrapTable("showLoading");
        $.commonGet("Shop/GetProjectShopExamType", {
            brandId: $("#brand-sel").val(),
            projectId: $("#project-sel").val(),
            shopId: ''
        }, function (data) {
           // $('#project-shop-table').bootstrapTable("hideLoading");
            //$('#project-shop-table').bootstrapTable("load", data);
            initProjectShopTable(data);
        });
    }
    function goEdit() {
        $("#Modal .modal-body").empty();
        $("#Modal").modal("show");
        $("#Modal .modal-title").html("卷别编辑");
        $("#Modal .modal-body").load("/ProjectContent/ProjectShopEdit", {}, function () {
            debugger
            curRow.LabelId = curRow.ExamTypeId;
            $("#projectshop-form").setForm(curRow);
            $("#projectshop-form").data("json", JSON.stringify(curRow));
        })
    }
    function saveProjectShop() {
        var params = $("#projectshop-form").serializeJson();
        var json = $("#projectshop-form").data("json");
        if (json && json.length > 0) {
            //编辑
            json = JSON.parse(json);
            params = $.extend(json, params);
            params.ShopId = curRow.ShopId;
            params.ProjectId = $("#project-sel").val();
            params.ExamTypeId = $("#LabelId").val();
            params.ModifyUserId = loginUser.Id;
        } else {// 无新增操作
        }
        $("#save_button").button("loading");
        $.commonPost("Shop/SaveProjectShopExamType", params, function () {
            $("#save_button").button("reset");
            loadProjectShop();
            closeModel();
        }, function () { $("#save_button").button("reset"); });
    }
    $("#btnDownloadTemplate").click(function () {
        debugger
        var url = loginUser.ossInfo.osshost + "Survey/ImportTemplate/ProjectShopExamType.xlsx";
        window.location.href = url;
    });
</script>



