@{
    ViewBag.Title = "期号管理";
}
<style>
    .operation {
        padding: 10px 0px;
        text-align: right;
    }

        .operation .btn {
            width: 100px;
        }

    .bootstrap-table .fixed-table-container.fixed-height .fixed-table-border {
        border-left: none;
        border-right: none;
    }
</style>
<div class="condition">
    <div style="text-align:right;width:100%">
        <button id="btnQuery" class="btn btn-primary">查询</button>
        <button id="btnProjectAdd" class="btn btn-primary">添加期号</button>
        <button id="btnDownloadTemplate" class="btn btn-primary">下载自检模板</button>
        <button id="btnProjectImport" class="btn btn-primary">导入自检</button>
        
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">品牌:</label>
            <select id="brand-sel" class="form-control" style="width:100px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">项目类型:</label>
            <select id="projectType-sel" class="form-control" style="width:100px;">
                <option value="明检">明检</option>
                <option value="密采">密采</option>
                <option value="自检">自检</option>
            </select>
        </div>
        <div class="form-group" id="year-div">
            <label class="control-label">年份:</label>
            <select id="year-sel" class="form-control" style="width:100px;"></select>
        </div>
       
        <div class="form-group" id="startDate-div">
            <label class="control-label">开始日期:</label>
            <input id="startDate-sel" name="startDate-sel" class="form-control" />
        </div>
        <div class="form-group" id="endDate-div">
            <label class="control-label">结束日期:</label>
            <input id="endDate-sel" name="endDate-sel" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">经销商:</label>
            <input id="shop-sel" name="shop-sel" type="text"  class="form-control">
        </div>
    </div>
</div>
<div class="result">
    <table id="project-table" class="table table-set"></table>
</div>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  modal-lg" style="height:500px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">期号编辑</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="save_button" type="button" onclick="saveProject()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>
<div id="upload-container" class="container-fluid" style="margin:0;padding:0;display:none">
    <div id="ossfile"></div>
</div>
<script src="~/Scripts/api/common.js?20240714"></script>
<script src="~/Scripts/custom/form-serialize.js?20200510"></script>
<script src="~/Scripts/oss-upload-direct/lib/crypto1/crypto/crypto.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/crypto1/hmac/hmac.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/crypto1/sha1/sha1.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/base64.js"></script>
<script src="~/Scripts/oss-upload-direct/upload.js?20200426"></script>
<link href="~/Content/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Content/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="~/Content/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script>
    NProgress.start();
    var ossUploader;
    var osspath;
    $(function () {
        $('title').html('@ViewBag.Title')
        $("#startDate-sel").datetimepicker({
            format: 'yyyy-mm-dd',
            language: 'zh-CN',
            minView:'2'
        });
        $("#endDate-sel").datetimepicker({
            format: 'yyyy-mm-dd',
            language: 'zh-CN',
            minView: '2'
        });
        bindBrandSelect();
        for (var i = 2020; i <= 2030; i++) {
            $("#year-sel").append($("<option>").text(i + "").val(i + ""));
        }
        var tYear = new Date().getFullYear();
        $("#year-sel").val(tYear);

        $("#brand-sel").change(function () {
            loadProject();
        });
        $("#year-sel").change(function () {
            loadProject();
        });
        $("#projectType-sel").change(function () {
            //debugger
            columnShow();
            loadProject();
        });
        $("#projectType-sel").trigger("change");
       // loadProject();
        $("#btnProjectAdd").click(function () {
            if ($("#projectType-sel").val() == "") {
                alert("请选择类型！");
                return;
            }
            $("#Modal").modal("show");
            $("#Modal .modal-body").load("/ProjectContent/ProjectEdit", {}, function () {
                $("#RechckShopShow").attr('checked', true)
                $("#PhotoUploadMode").attr('checked', false)
                $("#ProjectType").val($("#projectType-sel").val());
                columnShowEdit();
            })
            return false;
        });
        $("#btnDownloadTemplate").click(function () {
            var url = loginUser.ossInfo.osshost + "Survey/ImportTemplate/Task.xlsx";
            window.location.href = url;
        });
        NProgress.done();
        osspath = "Survey/BaseInfo/";
        new OSSClient({
            autoupload: true,
            osspath: osspath + "Import/",
            selectfiles: "btnProjectImport",
            multi_selection: false,
            success: function (files) {
                //调用导入方法
                files.forEach(function (file) {
                    loadImportProject(file);
                })
            }
        });
        $("#btnQuery").click(function () {
            loadProject();
        }).trigger("click");
    });
    var curRow;
    function saveProject() {
        var params = $("#project-form").serializeJson();
        var json = $("#project-form").data("json");
        params.RechckShopShow = $("#RechckShopShow").is(":checked");
        params.SelfTestChk = $("#SelfTestChk").is(":checked");
        params.LossCopyToSupplyChk = $("#LossCopyToSupplyChk").is(":checked");
        params.AppealShow = $("#AppealShow").is(":checked");
        params.PhotoUploadMode = $("#PhotoUploadMode").is(":checked");
        if (json && json.length > 0) {
            //编辑
            json = JSON.parse(json);
            params = $.extend(json, params);
        } else {
            //新增
            params = $.extend({
                TenantId: loginUser.TenantId,
                InUserId: loginUser.Id,
                ModifyUserId: loginUser.Id
            }, params);
        }
        $("#save_button").button("loading");
        $.commonPost("Master/SaveProject", params, function () {
            $("#save_button").button("reset");
            loadProject();
            closeModel();
        }, function () { $("#save_button").button("reset"); });
    }
    function loadProject() {
        var brandId = $("#brand-sel").val();
        if (!brandId) {
            alert("请选择品牌！");
            return
        }
        if ($("#projectType-sel").val() == "自检") {
            if (getDateDiff($("#startDate-sel").val(), $("#endDate-sel").val()) > 2) {
                alert("开始日期和结束日期相差不能超过2天！");
                return
            }
        }
        $('#project-table').bootstrapTable("showLoading");
        $.commonGet("Master/GetProject", {
            brandId: $("#brand-sel").val(),
            projectId: '',
            year: $("#year-sel").val(),
            projectType: $("#projectType-sel").val(),
            startDate: $("#startDate-sel").val(),
            endDate: $("#endDate-sel").val(),
            key: $("#shop-sel").val(),
        }, function (data) {
            // $('#project-table').bootstrapTable("hideLoading");
            //$('#project-table').bootstrapTable("load", data);
            initProjectTable(data);
        });
        $('#project-table').bootstrapTable("hideLoading");
    }
    //初始化期号表格
    function initProjectTable(data) {
        $('#project-table').bootstrapTable('destroy').bootstrapTable({
            pagination: true,
            data: data,
            striped: true, //是否显示行间隔色
            width: "100%",
            height: getClientHeight() - 260,
            showColumns: false, // 开启自定义列显示功能
            sortable: true,
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 50, 100, 500],
            columns: [{
                title: "期号代码",
                field: 'ProjectCode',
                width: 120,
                valign: "middle",
                align: "center",
                formatter: function (value, row, index) {
                    return '<a href="javascript:goEdit(' + row.Id + ');" style="min-width:100px">' + value + '</a>';
                }
            }, {
                title: "期号名称",
                field: "ProjectName",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "项目类型",
                field: "ProjectType",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "重新下发",
                field: "ReCreate",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:reCreate();" style="min-width:100px">重新下发</a>';
                }
            }, {
                title: "年份",
                field: "Year",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "季度",
                field: "Quarter",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "序号",
                field: "OrderNO",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "开始时间",
                field: "StartDate",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "结束时间",
                field: "EndDate",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "照片像素",
                field: "PhotoSize",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "添加时间",
                field: "InDateTime",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "修改时间",
                field: "ModifyDateTime",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }],
            onClickRow: function (row, $element) {
                curRow = row;
            }
        });
       // columnShow();
    }
    function columnShow() {
        debugger
        if ($("#projectType-sel").val() == "自检") {
            $('#project-table').bootstrapTable('hideColumn', 'PhotoSize');
            $('#project-table').bootstrapTable('showColumn', 'ReCreate');
            $('#btnDownloadTemplate').show();
            $('#btnProjectImport').show();
            $('#startDate-div').show();
            $('#endDate-div').show();
            $("#startDate-sel").val(new Date(new Date().getTime() - 2 * 24 * 60 * 60 * 1000).Format("yyyy-MM-dd"));
            $("#endDate-sel").val(new Date().Format("yyyy-MM-dd"));
            $('#year-div').hide();
            $('#year-sel').val("");

        }
        else {
            $('#project-table').bootstrapTable('showColumn', 'PhotoSize');
            $('#project-table').bootstrapTable('hideColumn', 'ReCreate');
            $('#btnDownloadTemplate').hide();
            $('#btnProjectImport').hide();
            $('#startDate-div').hide();
            $('#endDate-div').hide();
            $('#startDate-sel').val("");
            $('#endDate-sel').val("");
            $('#year-sel').show();
        }
    }
    function columnShowEdit() {
        debugger
        if ($("#ProjectType").val() == "自检") {
            $("#divScoreShowType").hide();
            $("#divRechckShopShow").hide();
            $("#divLossCopyToSupplyChk").hide();
            $("#divAppealShow").hide();
            $("#divPhotoUploadMode").hide();
            $("#divReportDeployDate").hide();
            $("#divPhotoSize").hide();
        }
        else {
            $("#divScoreShowType").show();
            $("#divRechckShopShow").show();
            $("#divLossCopyToSupplyChk").show();
            $("#divAppealShow").show();
            $("#divPhotoUploadMode").show();
            $("#divReportDeployDate").show();
            $("#divPhotoSize").show();
        }
    }
    function goEdit() {
        $("#Modal .modal-body").empty();
        $("#Modal").modal("show");
        $("#Modal .modal-body").load("/ProjectContent/ProjectEdit", {}, function () {
            $("#project-form").setForm(curRow);
            $("#project-form").data("json", JSON.stringify(curRow));
            columnShowEdit();
        })
    }
    function reCreate()
    {
        debugger
        $.commonGet("Answer/ImproveCreate", {
            projectId: curRow.ProjectId,
            shopId: curRow.ShopId,
            userId: loginUser.Id
        }, function (data) {
            loadProject();
        });
    }
    function loadImportProject(file) {
        debugger;
        $("#btnProjectImport").button("loading");
        $.commonGet("Master/TaskProjectCreate", {
            tenantId: loginUser.TenantId,
            brandId: $("#brand-sel").val(),
            ossPath: file.osspath,
            userId: loginUser.Id
        }, function (data) {
            if (data && data.Status)
            { loadProject(); }
            else {
                alert(data.Body);
            }
            $("#btnProjectImport").button("reset");
        });
        
        
    }
</script>
