@{
    ViewBag.Title = "期号/任务管理";
}
<style>
    .operation {
        padding: 10px 0px;
        text-align: right;
    }

        .operation .btn {
            width: 100px;
        }

    .bootstrap-table .fixed-table-container.fixed-height .fixed-table-border {
        border-left: none;
        border-right: none;
    }
</style>
<div class="condition">
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">品牌:</label>
            <select id="brand-sel" class="form-control" style="width:200px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">年份:</label>
            <select id="year-sel" class="form-control" style="width:200px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">项目类型:</label>
            <select id="projectType-sel"  class="form-control" style="width:200px;">
                <option value="明检">明检</option>
                <option value="密采">密采</option>
                <option value="自检">自检</option>
            </select>
        </div>
    </div>
    <div style="float:right;width:200px;text-align:right">
        <button id="btnQuery" class="btn btn-primary">查询</button>
        <button id="btnProjectAdd" class="btn btn-primary">添加期号</button>
    </div>
</div>
<div class="result">
    <table id="project-table" class="table table-set"></table>
</div>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " style="height:500px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">期号编辑</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="save_button" type="button" onclick="saveProject()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/api/common.js"></script>
<script src="~/Scripts/custom/form-serialize.js?20200510"></script>

<script>
    NProgress.start();
    $(function () {
        $('title').html('@ViewBag.Title')

        bindBrandSelect();
        for (var i = 2020; i <= 2030; i++) {
            $("#year-sel").append($("<option>").text(i + "").val(i + ""));
        }
        var tYear = new Date().getFullYear();
        $("#year-sel").val(tYear);

        $("#brand-sel").change(function () {
            loadProject();
        });
        $("#year-sel").change(function () {
            loadProject();
        });
        loadProject();
        $("#btnProjectAdd").click(function () {
            if ($("#projectType-sel").val() == "")
            {
                alert("请选择类型！");
                return;
            }
            $("#Modal").modal("show");
            $("#Modal .modal-body").load("/ProjectContent/ProjectEdit", {}, function () {
                $("#RechckShopShow").attr('checked', true)
                $("#PhotoUploadMode").attr('checked', false)
                $("#ProjectType").val($("#projectType-sel").val());
                columnShowEdit();
            })
            return false;
        });

        NProgress.done();
        //initProjectTable();
        $("#btnQuery").click(function () {
            loadProject();
        }).trigger("click");
    })
    var curRow;
    function saveProject() {
        var params = $("#project-form").serializeJson();
        var json = $("#project-form").data("json");
        params.RechckShopShow = $("#RechckShopShow").is(":checked");
        params.SelfTestChk = $("#SelfTestChk").is(":checked");
        params.LossCopyToSupplyChk = $("#LossCopyToSupplyChk").is(":checked");
        params.AppealShow = $("#AppealShow").is(":checked");
        params.PhotoUploadMode = $("#PhotoUploadMode").is(":checked");
        if (json && json.length > 0) {
            //编辑
            json = JSON.parse(json);
            params = $.extend(json, params);
        } else {
            //新增
            params = $.extend({
                TenantId: loginUser.TenantId,
                InUserId: loginUser.Id,
                ModifyUserId: loginUser.Id
            }, params);
        }
        $("#save_button").button("loading");
        $.commonPost("Master/SaveProject", params, function () {
            $("#save_button").button("reset");
            loadProject();
            closeModel();
        }, function () { $("#save_button").button("reset"); });
    }

    function loadProject() {
        var brandId = $("#brand-sel").val();
        if (!brandId) {
            alert("请选择品牌！");
            return
        }
        $('#project-table').bootstrapTable("showLoading");
        $.commonGet("Master/GetProject", {
            brandId: $("#brand-sel").val(),
            projectId: '',
            year: $("#year-sel").val(),
            projectType: $("#projectType-sel").val()
        }, function (data) {
            // $('#project-table').bootstrapTable("hideLoading");
            //$('#project-table').bootstrapTable("load", data);
            initProjectTable(data);
        });
    }
    //初始化期号表格
    function initProjectTable(data) {
        $('#project-table').bootstrapTable('destroy').bootstrapTable({
            pagination: true,
            data: data,
            striped: true, //是否显示行间隔色
            width: "100%",
            height: getClientHeight() - 260,
            showColumns: false, // 开启自定义列显示功能
            sortable: true,
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 50, 100, 500],
            columns: [{
                title: "期号代码",
                field: 'ProjectCode',
                width: 120,
                valign: "middle",
                align: "center",
                formatter: function (value, row, index) {
                    return '<a href="javascript:goEdit(' + row.Id + ');" style="min-width:100px">' + value + '</a>';
                }
            }, {
                title: "期号名称",
                field: "ProjectName",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "项目类型",
                field: "ProjectType",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "重新下发",
                field: "ReCreate",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:reCreate();" style="min-width:100px">重新下发</a>';
                }
            }, {
                title: "年份",
                field: "Year",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "季度",
                field: "Quarter",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "序号",
                field: "OrderNO",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "开始时间",
                field: "StartDate",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "结束时间",
                field: "EndDate",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "照片像素",
                field: "PhotoSize",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "添加时间",
                field: "InDateTime",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "修改时间",
                field: "ModifyDateTime",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }],
            onClickRow: function (row, $element) {
                curRow = row;
            }
        });
        columnShow();
    }
    function columnShow() {
        if ($("#projectType-sel").val() == "自检") {
            $('#project-table').bootstrapTable('hideColumn', 'PhotoSize');
            $('#project-table').bootstrapTable('showColumn', 'ReCreate');
        }
        else {
            $('#project-table').bootstrapTable('showColumn', 'PhotoSize');
            $('#project-table').bootstrapTable('hideColumn', 'ReCreate');
        }
    }
    function columnShowEdit() {
        debugger
        if ($("#ProjectType").val() == "自检") {
            $("#divScoreShowType").hide();
            $("#divRechckShopShow").hide();
            $("#divLossCopyToSupplyChk").hide();
            $("#divAppealShow").hide();
            $("#divPhotoUploadMode").hide();
            $("#divReportDeployDate").hide();
            $("#divPhotoSize").hide();
        }
        else {
            $("#divScoreShowType").show();
            $("#divRechckShopShow").show();
            $("#divLossCopyToSupplyChk").show();
            $("#divAppealShow").show();
            $("#divPhotoUploadMode").show();
            $("#divReportDeployDate").show();
            $("#divPhotoSize").show();
        }
    }
    function goEdit() {
        $("#Modal .modal-body").empty();
        $("#Modal").modal("show");
        $("#Modal .modal-body").load("/ProjectContent/ProjectEdit", {}, function () {
            $("#project-form").setForm(curRow);
            $("#project-form").data("json", JSON.stringify(curRow));
            columnShowEdit();
        })
    }
    function reCreate()
    {
        debugger
        $.commonGet("Answer/ImproveCreate", {
            projectId: curRow.ProjectId,
            shopId: curRow.ShopId,
            userId: loginUser.Id
        }, function (data) {
            loadProject();
        });
    }

</script>
