<div class="form-horizontal form-label-left" style="padding-bottom:5px;width:100%">
    <div class="item form-group" style="float:left; width:80%">
        <div class="col-md-5">
            <input id="FileName" type="text" class="form-control" placeholder="拍照点">
        </div>
        <button id="btnAdd" class="btn btn-primary col-md-3" style="margin-right:0px" onclick="saveSubjectFile()" data-loading-text="提交中...">保存</button>
    </div>
    <div class="clearfix"></div>
</div>
<table id="subject-file-table" class="table table-bordered table-set"></table>
   <script>
    $(function () {
        initSubjectFile();
        loadSubjectFile();
    })
    function initSubjectFile() {
        $('#subject-file-table').bootstrapTable({
            pagination: true,
            striped: true, //是否显示行间隔色
            pageNumber: 1,
            pageSize: 10,
            pageList: [10],
            columns: [{
                title: "序号",
                field: 'SeqNO',
                width: 120,
                valign: "middle",
                align: "center",
            }, {
                title: "拍照点",
                field: "FileName",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "删除",
                field: "",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:delSubjectFile();" style="min-width:100px">删除</a>';
                }
            }, {
                title: "添加时间",
                field: "InDateTime",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }],
            onClickRow: function (row, $element) {
                curRow = row;
            }
        });
    }
    function loadSubjectFile() {
        debugger
        $('#subject-file-table').bootstrapTable("showLoading");
        $.commonGet("Master/GetSubjectFile", {
            projectId: $("#project-sel").val(),
            subjectId: curRow.SubjectId
        }, function (data) {
            $('#subject-file-table').bootstrapTable("hideLoading");
            $('#subject-file-table').bootstrapTable("load", data);
        });
    }
    function saveSubjectFile() {
        var fileName = $("#FileName").val();
        if (!fileName) {
            alert("请输入拍照点！");
            return false;
        }

        $("#btnAdd").button("loading");
        $.commonPost("Master/SaveSubjectFile", {
            SubjectId: curRow.SubjectId,
            FileName: fileName,
            InUserId: loginUser.Id,
            ModifyUserId: loginUser.Id
        }, function () {
            $("#btnAdd").button("reset");
           // alert("保存成功！");
            $("#FileName").val("");
            loadSubjectFile();
        });
    }
    function delSubjectFile() {
        $.commonPost("Master/DeleteSubjectFile", { SubjectId: curRow.SubjectId, SeqNO: curRow.SeqNO }, function () {
            loadSubjectFile();
        });
    }
</script>



