@{
    ViewBag.Title = "巡检系统-期号内容管理-试卷类型";
}

<div class="page-title">
    <div class="title_left">
        <h3>试卷类型 <small></small></h3>
    </div>
</div>
<div class="operation col-md-offset-6 form-group">
    <div class="row">
        <div class="col-md-3">
            <select id="subjectTypeExam-Brand" name="subjectTypeExam-Brand" class="form-control selectpicker"></select>
        </div>
        <div class="col-md-5">
            <select id="subjectTypeExam-Project" name="subjectTypeExam-Project" class="form-control selectpicker"></select>
        </div>
        <div class="col-md-2">
            <button id="btnSubjectTypeExam-Search" class="btn btn-primary form-control">查&nbsp;&nbsp;询</button>
        </div>
        <div class="col-md-2">
            <button id="btnSubjectTypeExam-Add" class="btn btn-primary form-control">新&nbsp;&nbsp;增</button>
        </div>
    </div>
</div>

<table id="subjectTypeExam-table" class="table table-striped table-bordered dt-responsive">
    <thead>
        <tr>
            @*<th><input type="checkbox" id="check-all" class="flat"></th>*@
            <th>编辑</th>
            <th>试卷类型Id</th>
            <th>试卷类型名称</th>
            @*<th>登记人</th>*@
            <th>登记时间</th>
            @* <th>修改人</th>*@
            <th>修改时间</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div id="pagination" class="pull-right">
    <ul id="pageUl"></ul>
</div>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="save_button" type="button" onclick="saveSubjectTypeExam()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/api.js"></script>
    <script src="~/Scripts/form-serialize.js"></script>
    <script src="~/Scripts/page.js"></script>
    <script>
        $(function () {
            // 绑定品牌
            loadBrandBindDropdownList(function (data) {
                $.each(data, function () {
                    $("#subjectTypeExam-Brand").append($("<option>").val(this.BrandId).text(this.BrandName));
                });
                $("#subjectTypeExam-Brand").change();
            });
            // 品牌变动绑定期号
            $("#subjectTypeExam-Brand").change(function () {
                loadProjectBindDropdownList($("#subjectTypeExam-Brand").val(), "", function (data) {
                    $("#subjectTypeExam-Project").empty();
                    $.each(data, function () {
                        $("#subjectTypeExam-Project").append($("<option>").val(this.ProjectId).text(this.ProjectName));
                    });

                    $("#btnSubjectTypeExam-Search").click();
                });
            });
            //查询试卷类型
            $("#btnSubjectTypeExam-Search").click(function () {
                loadSubjectTypeExam($("#subjectTypeExam-Project").val(), "");
            });
            // 新增试卷类型
            $("#btnSubjectTypeExam-Add").click(function () {
                $("#Modal").modal("show");
                $("#Modal .modal-body").load("/ProjectContent/SubjectTypeExamEdit", {}, function () {

                });
                return false;
            })

        })
    </script>
}



