@{
    ViewBag.Title = "期号内容管理-体系详情";
}

<div class="page-title clear">
    <div class="title_left">
        <h3>体系详情 <small></small></h3>
    </div>
    <div style="float:right">
        <a id="btnBack" href="/ProjectContent/SubjectIndex?Page=@ViewBag.Page" class="btn btn-default"><i class="fa fa-plus-circle"></i>&nbsp;返回</a>
    </div>
</div>

<input id="fileMaxSeqNO" type="hidden" />
<input id="lossMaxSeqNO" type="hidden" />
<input id="standardMaxSeqNO" type="hidden" />
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel tile fixed_height_320">
            <div class="x_title">
                <h2>标准照片</h2>
                <ul class="nav navbar-right panel_toolbox" style="font-size:16px;">
                    <li>
                        <a id="btnAddFile" class="btn btn-default"><i class="fa fa-plus-circle"></i>&nbsp;新增</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="subject-file-table" class="table table-striped table-bordered dt-responsive">
                    <thead>
                        <tr>
                            @*<th><input type="checkbox" id="check-all" class="flat"></th>*@
                            <th>标准照片名称</th>
                            @*<th>标准照片类型</th>*@
                            <th>序号</th>
                            @*<th>添加人</th>*@
                            <th>添加时间</th>
                            @*<th>修改人</th>*@
                            <th>最新修改时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel tile fixed_height_320">
            <div class="x_title">
                <h2>检查标准</h2>
                <ul class="nav navbar-right panel_toolbox" style="font-size:16px;">
                    <li>
                        <a id="btnAddStandard" class="btn btn-default"><i class="fa fa-plus-circle"></i>&nbsp;新增</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="standard-table" class="table table-striped table-bordered dt-responsive">
                    <thead>
                        <tr>
                            @*<th><input type="checkbox" id="check-all" class="flat"></th>*@
                            <th>序号</th>
                            <th>标准描述</th>
                            @*<th>添加人</th>*@
                            <th>添加时间</th>
                            @*<th>修改人</th>*@
                            <th>最新修改时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel tile fixed_height_320">
            <div class="x_title clear">
                <h2>失分描述</h2>
                <ul class="nav navbar-right panel_toolbox" style="font-size:16px;">
                    <li>
                        <a id="btnAddLoss" class="btn btn-default"><i class="fa fa-plus-circle"></i>&nbsp;新增</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="loss-table" class="table table-striped table-bordered dt-responsive">
                    <thead>
                        <tr>
                            @*<th><input type="checkbox" id="check-all" class="flat"></th>*@
                            <th>序号</th>
                            <th>失分描述</th>
                            @*<th>添加人</th>*@
                            <th>添加时间</th>
                            @*<th>修改人</th>*@
                            <th>最新修改时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel tile fixed_height_320">
            <div class="x_title">
                <h2>体系分数</h2>
                <ul class="nav navbar-right panel_toolbox" style="font-size:16px;">
                    <li>
                        <a id="btnAddScore" class="btn btn-default"><i class="fa fa-plus-circle"></i>&nbsp;新增</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="score-table" class="table table-striped table-bordered dt-responsive">
                    <thead>
                        <tr>
                            @*<th><input type="checkbox" id="check-all" class="flat"></th>*@
                            <th>体系类型</th>
                            <th>得分下限</th>
                            <th>得分上限</th>
                            @*<th>添加人</th>*@
                            <th>添加时间</th>
                            @*<th>修改人</th>*@
                            <th>最新修改时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<input id="ProjectId" type="hidden" value="@ViewBag.ProjectId" />
<input id="SubjectId" type="hidden" value="@ViewBag.SubjectId" />

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="save_button" type="button" onclick="saveSubjectDetail()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/api/common.js"></script>
<script src="~/Scripts/api/project.js"></script>
<script src="~/Scripts/form-serialize.js"></script>
<script>
    $(function () {
        loadSubjectDetail();

        $("#btnAddFile").click(function () {
            $("#Modal").modal("show");
            $("#Modal .modal-body").load("/ProjectContent/LoadPartial", { view: "_PartialSubjectFileEdit" }, function () {
            })
            return false;
        })

        $("#btnAddStandard").click(function () {
            $("#Modal").modal("show");
            $("#Modal .modal-body").load("/ProjectContent/LoadPartial", { view: "_PartialSubjectInspectionStandardEdit" }, function () {
            })
            return false;
        })

        $("#btnAddLoss").click(function () {
            $("#Modal").modal("show");
            $("#Modal .modal-body").load("/ProjectContent/LoadPartial", { view: "_PartialSubjectLossResultEdit" }, function () {
            })
            return false;
        })

        $("#btnAddScore").click(function () {
            $("#Modal").modal("show");
            $("#Modal .modal-body").load("/ProjectContent/LoadPartial", { view: "_PartialSubjectTypeScoreRegionEdit" }, function () {
                loadSubjectType($("#SubjectTypeId"), function () { });
            })
            return false;
        })
    })
</script>



