<div class="form-horizontal form-label-left" style="padding-bottom:5px;width:100%">
    <div class="item form-group" style="float:left;">
        <div class="col-md-5">
            <input id="InspectionStandardName" type="text" class="form-control" placeholder="检查标准">
        </div>
        <button id="btnAdd" class="btn btn-primary col-md-3" style="margin-right:0px" onclick="saveSubjectInspectionStandard()" data-loading-text="提交中...">保存</button>
    </div>
    <div class="clearfix"></div>
</div>
<div class="item form-group">
    <table id="subject-standard-table" class="table table-bordered table-set"></table>
</div>

<script src="~/Scripts/api/common.js"></script>
<script src="~/Scripts/api/project.js"></script>
<script>
    $(function () {
        initSubjectInspectionStandard();
        loadSubjectInspectionStandard();
    })
    function initSubjectInspectionStandard() {
        $('#subject-standard-table').bootstrapTable({
            pagination: true,
            striped: true, //是否显示行间隔色
            pageNumber: 1,
            pageSize: 10,
            pageList: [10],
            columns: [{
                title: "序号",
                field: 'SeqNO',
                width: 100,
                valign: "middle",
                align: "center",
            }, {
                title: "检查标准",
                field: "InspectionStandardName",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    if (value != undefined && value != "")
                        return '<span data-toggle="tooltip" data-placement="left" title="' + value + '">' + value + '</span>'
                }
            }, {
                title: "删除",
                field: "",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:delSubjectInspectionStandard();" style="min-width:100px">删除</a>';
                }
            }, {
                title: "添加时间",
                field: "InDateTime",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }],
            onClickRow: function (row, $element) {
                curRow = row;
            }
        });
    }
    function loadSubjectInspectionStandard() {
        debugger
        $('#subject-standard-table').bootstrapTable("showLoading");
        $.commonGet("Master/GetSubjectInspectionStandard", {
            projectId: $("#project-sel").val(),
            subjectId: curRow.SubjectId
        }, function (data) {
            $('#subject-standard-table').bootstrapTable("hideLoading");
            $('#subject-standard-table').bootstrapTable("load", data);
        });
    }
    function saveSubjectInspectionStandard() {
        var inspectionStandardName = $("#InspectionStandardName").val();
        if (!inspectionStandardName) {
            alert("请输入检查标准！");
            return false;
        }

        $("#btnAdd").button("loading");
        $.commonPost("Master/SaveSubjectInspectionStandard", {
            SubjectId: curRow.SubjectId,
            InspectionStandardName: inspectionStandardName,
            InUserId: loginUser.Id,
            ModifyUserId: loginUser.Id
        }, function () {
            $("#btnAdd").button("reset");
           // alert("保存成功！");
            $("#InspectionStandardName").val("");
            loadSubjectInspectionStandard();
        });
    }
    function delSubjectInspectionStandard() {
        $.commonPost("Master/DeleteSubjectInspectionStandard", { SubjectId: curRow.SubjectId, SeqNO: curRow.SeqNO }, function () {
            loadSubjectInspectionStandard();
        });
    }
</script>



