@{
    ViewBag.Title = "巡检系统-期号内容管理-流程类型";
}

<div class="page-title">
    <div class="title_left">
        <h3>流程类型 <small></small></h3>
    </div>
</div>
<div class="operation col-md-offset-9 form-group">
    <div class="row">
        <div class="col-md-9">
        </div>
        <div class="col-md-3">
            <button id="btnAdd" class="btn btn-primary form-control">新&nbsp;&nbsp;增</button>
        </div>
    </div>
</div>
<table id="subjectlink-table" class="table table-striped table-bordered dt-responsive">
    <thead>
        <tr>
            @*<th><input type="checkbox" id="check-all" class="flat"></th>*@
            <th>流程类型编号</th>
            <th>流程类型名称</th>
            @*<th>添加人</th>*@
            <th>添加时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div id="pagination" class="pull-right">
    <ul id="pageUl"></ul>
</div>

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="save_button" type="button" onclick="saveSubjectLink()" data-loading-text="提交中..." class="btn btn-primary">保存</button>
                <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/api.js"></script>
    <script src="~/Scripts/page.js"></script>
    <script src="~/Scripts/form-serialize.js"></script>
    <script>
        $(function () {
            loadSubjectLink();
        })
    </script>
}



