@{
    ViewBag.Title = "题目管理";
}
<style>
    .operation {
        padding: 10px 0px;
        text-align: right;
    }

        .operation .btn {
            width: 100px;
        }
</style>
<div class="condition">
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">品牌:</label>
            <select id="brand-sel" class="form-control" style="width:200px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">年份:</label>
            <select id="year-sel" class="form-control" style="width:200px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">期号:</label>
            <select id="project-sel" class="form-control" style="width:200px;"></select>
        </div>
    </div>
    <div style="float:right;width:200px;text-align:right">
        <button id="btnQuery" class="btn btn-primary">查询</button>
        <button id="btnSubjectAdd" class="btn btn-primary">添加题目</button>
    </div>
</div>
<div class="result">
    <table id="subject-table" class="table table-bordered table-set"></table>
</div>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">题目编辑</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="save_button" type="button" onclick="saveSubject()" class="btn btn-primary" data-loading-text="提交中...">保存</button>
                <button id="close_button" type="button" onclick="javascript:closeModel();" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/api/common.js"></script>
<script src="~/Scripts/custom/form-serialize.js?20200510"></script>

<script>
    $(function () {
        $('title').html('@ViewBag.Title')
        bindBrandSelect();
        //加载年份
        $("#year-sel").change(function () {
            bindProjectSelect();
        });
        for (var i = 2020; i <= 2030; i++) {
            $("#year-sel").append($("<option>").text(i + "").val(i + ""));
        }
        var tYear = new Date().getFullYear();
        $("#year-sel").val(tYear);
        $("#year-sel").change();

        //加载期号
        $("#brand-sel").change(function () {
            bindProjectSelect();
        });
        $("#project-sel").change(function () {
            loadSubject();
        });

        $("#btnSubjectAdd").click(function () {
            $("#Modal").modal("show");
            $("#Modal .modal-body").load("/ProjectContent/SubjectEdit", {}, function () {
            })
            return false;
        })

        initSubjectTable();
        $("#btnQuery").click(function () {
            loadSubject();
        }).trigger("click");
    })
    var curRow;
    function saveSubject() {
        var params = $("#subject-form").serializeJson();
        debugger
        params.ProjectId = $("#project-sel").val();
        var json = $("#subject-form").data("json");
        if (json && json.length > 0) {
            //编辑
            json = JSON.parse(json);
            params = $.extend(json, params);
        } else {
            //新增
            params = $.extend({
                TenantId: loginUser.TenantId,
                InUserId: loginUser.Id,
                ModifyUserId: loginUser.Id
            }, params);
        }
        $("#save_button").button("loading");
        $.commonPost("Master/SaveSubject", params, function () {
            $("#save_button").button("reset");
            loadSubject();
            closeModel();
        }, function () { $("#save_button").button("reset"); });
    }
    function loadSubject() {
        $('#subject-table').bootstrapTable("showLoading");
        $.commonGet("Master/GetSubject", {
            projectId: $("#project-sel").val(),
            subjectId: '',
            subjectCode: '',
            orderNO: ''
        }, function (data) {
            $('#subject-table').bootstrapTable("hideLoading");
            $('#subject-table').bootstrapTable("load", data);
        });
    }
    function initSubjectTable() {
        $('#subject-table').bootstrapTable({
            pagination: true,
            striped: true, //是否显示行间隔色
            width: "100%",
            height: getClientHeight() - 260,
            showColumns: false, // 开启自定义列显示功能
            sortable: true,
            pageNumber: 1,
            pageSize: 15,
            pageList: [5, 10, 20, 50],
            columns: [{
                title: "题目代码",
                field: 'SubjectCode',
                width: 120,
                valign: "middle",
                align: "center",
                formatter: function (value, row, index) {
                    return '<a href="javascript:goEdit( );" style="min-width:100px">' + value + '</a>';
                }
            }, {
                title: "检查点",
                field: "CheckPoint",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "序号",
                field: "OrderNO",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "最高分",
                field: "FullScore",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "最低分",
                field: "LowScore",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "执行方式",
                field: "Implementation",
                width: 100,
                valign: "center",
                align: "center",
                sortable: false
            }, {
                title: "试卷类型",
                field: "ExamTypeName",
                width: 100,
                valign: "center",
                align: "center",
                sortable: false
            }, {
                title: "审核类型",
                field: "RecheckTypeName",
                width: 100,
                valign: "center",
                align: "center",
                sortable: false
            }, {
                title: "题目类型",
                field: "HiddenCode_SubjectTypeName",
                width: 100,
                valign: "center",
                align: "center",
                sortable: false
            }, {
                title: "检查标准说明",
                field: "InspectionDesc",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "备注",
                field: "Remark",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "标准照片",
                field: "",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:goFileEdit();" style="min-width:100px">' + "标准照片" + '</a>';
                }
            }, {
                title: "检查标准",
                field: "",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:goInspectionStandardEdit();" style="min-width:100px">' + "检查标准" + '</a>';
                }
            }, {
                title: "失分说明",
                field: "",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:goLossResultEdit();" style="min-width:100px">' + "失分说明" + '</a>';
                }
            }, {
                title: "添加时间",
                field: "InDateTime",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "修改时间",
                field: "ModifyDateTime",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }],
            onClickRow: function (row, $element) {
                curRow = row;
            }
        });
    }
    function goEdit() {
        $("#Modal .modal-body").empty();
        $("#Modal .modal-footer").show();
        $("#Modal").modal("show");
        $("#Modal .modal-title").html("题目编辑");
        $("#Modal .modal-body").load("/ProjectContent/SubjectEdit", {}, function () {
            debugger
            $("#subject-form").setForm(curRow);
            $("#subject-form").data("json", JSON.stringify(curRow));
        })
    }
    function goInspectionStandardEdit() {
        $("#Modal .modal-body").empty();
        $("#Modal .modal-footer").hide();
        $("#Modal").modal("show");
        $("#Modal .modal-title").html("检查标准");
        $("#Modal .modal-body").load("/ProjectContent/SubjectInspectionStandardIndex", {}, function () {

        })
    }
    function goFileEdit() {
        $("#Modal .modal-body").empty();
        $("#Modal .modal-footer").hide();
        $("#Modal").modal("show");
        $("#Modal .modal-title").html("拍照点");
        $("#Modal .modal-body").load("/ProjectContent/SubjectFileIndex", {}, function () {

        })
    }
    function goLossResultEdit() {
        $("#Modal .modal-body").empty();
        $("#Modal .modal-footer").hide();
        $("#Modal").modal("show");
        $("#Modal .modal-title").html("失分说明");
        $("#Modal .modal-body").load("/ProjectContent/SubjectLossResultIndex", {}, function () {

        })
    }
</script>
