<div class="form-horizontal form-label-left" style="padding-bottom:5px;width:100%">
    <div class="item form-group" style="float:right;">
        <div class="col-md-8">
            <input id="ObjectCode" type="text" maxlength="15" class="form-control" placeholder="">
        </div>
        <a id="btnAdd" class="btn btn-primary col-md-4" style="margin-right:0px" onclick="saveUserInfoObject()" data-loading-text="提交中..."></a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="item form-group">
    <table id="userinfo-object-table" class="table table-bordered table-set"></table>
</div>
<script>
    $(function () {
        $("#btnAdd").text("添加" + objectType);
        $("#ObjectCode").attr("placeholder", objectType + "代码");

        initObjectTable();
        loadUserInfoObject();
    })

    function initObjectTable() {
        $('#userinfo-object-table').bootstrapTable({
            pagination: true,
            striped: true, //是否显示行间隔色
            pageNumber: 1,
            pageSize: 10,
            pageList: [10, 15, 20, 50],
            columns: [{
                title: objectType + "代码",
                field: 'ObjectCode',
                width: 100,
                valign: "middle",
                align: "center"
            }, {
                title: objectType + "名称",
                field: "ObjectName",
                width: 200,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "删除",
                field: "",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:delUserInfoObject(' + row.Id + ');" style="min-width:100px">删除</a>';
                }
            }]
        });
    }

    function loadUserInfoObject() {
        $.commonGet("Master/GetUserInfoObject", {
            tenantId: loginUser.TenantId,
            userId: curRow.Id,
            objectId: '',
            roleTypeCode: curRow.RoleType
        }, function (data) {
            $('#userinfo-object-table').bootstrapTable("load", data);
        });
    }
    function saveUserInfoObject() {
        debugger
        var objectCode = $("#ObjectCode").val();
        if (!objectCode) {
            alert("请输入" + objectType + "代码！");
            return false;
        }
        var areaType = curRow.RoleType.replace("B_", "");
        var url = "Master/GetArea";
        var params = {
            brandId: curRow.BrandId,
            areaId: '',
            areaCode: objectCode,
            areaName: '',
            areaType: areaType,
            parentId: '',
            useChk: 'true'
        };
        if (curRow.RoleType == "B_Shop") {
            url = "Master/GetShop";
            params = {
                brandId: curRow.BrandId,
                shopId: '',
                shopCode: objectCode,
                key: ''
            }
        } else if (curRow.RoleType == "B_Group") {
            url = "Master/GetGroup";
            params = {
                brandId: curRow.BrandId,
                groupCode: objectCode,
                groupName: ''
            }
        }
        $("#btnAdd").button("loading");
        $.commonGet(url, params, function (data) {
            if (data.length == 0) {
                alert("输入的" + objectType + "代码不正确，请重新输入");
                $("#btnAdd").button("reset");
            } else {
                var objId = "";
                if (curRow.RoleType == "B_Shop") {
                    objId = data[0].ShopId;
                } else if (curRow.RoleType == "B_Group") {
                    objId = data[0].GroupId;
                } else {
                    objId = data[0].AreaId;
                }
                $.commonPost("Master/SaveUserInfoObject", {
                    UserId: curRow.Id,
                    ObjectId: objId,
                    InUserId: loginUser.Id
                }, function () {
                    $("#btnAdd").button("reset");
                    loadUserInfoObject();
                });
            }
        });
    }

    function delUserInfoObject(id) {
        $.commonPost("Master/DeleteUserInfoObject", { Id: id }, function () {
            loadUserInfoObject();
        });
    }
</script>
