<div>
    <form class="form-horizontal form-label-left" id="account-form">
        <fieldset>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="AccountId">
                    账号 <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="AccountId" name="AccountId"  type="text"  class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Password">
                    密码 <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="Password" name="Password" type="password"  class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="AccountName">
                    姓名 <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="AccountName" name="AccountName" type="text"  class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="AccountName">
                    权限类型 <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="RoleType" name="RoleType" class="form-control col-md-7 col-xs-12"></select>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="UseChk">
                    是否可用
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 5px;">
                    <input type="checkbox" id="UseChk" name="UseChk">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Email">
                    邮箱
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="Email" name="Email" type="text" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="TelNO">
                    电话
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="TelNO" name="TelNO" type="text"  class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group" style="display:none">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="TelNO">
                    添加时间
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="InDateTime" name="InDateTime" type="text" class="form-control col-md-7 col-xs-12" disabled>
                </div>
            </div>
            <div class="item form-group" style="display:none">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="TelNO">
                    最后修改时间
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="ModifyDateTime" name="ModifyDateTime" type="text" class="form-control col-md-7 col-xs-12" disabled>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script>
    $('#account-form').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            AccountId: {
                trigger: "change",
                validators: {
                    notEmpty: {
                        message: '账号不能为空',
                    }
                }
            },
            Password: {
                trigger: "change",
                validators: {
                    notEmpty: {
                        message: '密码不能为空',
                    }
                }
            },
            AccountName: {
                trigger: "change",
                validators: {
                    notEmpty: {
                        message: '姓名不能为空',
                    }
                }
            },
            RoleType: {
                trigger: "change",
                validators: {
                    notEmpty: {
                        message: '请选择权限类型',
                    }
                }
            }
        }
    });
</script>