<div class="form-horizontal form-label-left" style="padding-bottom:5px;width:100%">
    <div class="item form-group" style="float:right;">
        <div class="col-md-8">
            <input id="BrandCode" type="text" maxlength="15" class="form-control ">
        </div>
        <a id="btnAdd" class="btn btn-primary col-md-4" style="margin-right:0px" onclick="saveUserInfoBrand()" data-loading-text="提交中...">添加品牌</a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="item form-group">
    <table id="userinfo-brand-table" class="table table-bordered table-set"></table>
</div>
<script>
    $(function () {
        initBrandTable();
        loadUserInfoBrand();
    })

    function initBrandTable() {
        $('#userinfo-brand-table').bootstrapTable({
            pagination: false,
            striped: true, //是否显示行间隔色
            columns: [{
                title: "品牌代码",
                field: 'BrandCode',
                width: 100,
                valign: "middle",
                align: "center"
            }, {
                title: "品牌名称",
                field: "BrandName",
                width: 200,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "删除",
                field: "",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:delUserInfoBrand(' + row.Id + ');" style="min-width:100px">删除</a>';
                }
            }]
        });
    }

    function loadUserInfoBrand() {
        $.commonGet("Master/GetUserInfoBrand", {
            tenantId: loginUser.TenantId,
            brandId: '',
            userId: curRow.Id
        }, function (data) {
            $('#userinfo-brand-table').bootstrapTable("load", data);
        });
    }
    function saveUserInfoBrand() {
        var brandCode = $("#BrandCode").val();
        if (!brandCode) {
            alert("请输入品牌代码！");
            return false;
        }
        var url = "Master/GetBrand";
        var params={
            tenantId: curRow.TenantId,
            brandId: '',
            brandCode: brandCode
        };
        $("#btnAdd").button("loading");
        $.commonGet(url, params, function (data) {
            if (data.length == 0) {
                alert("输入的品牌代码不正确，请重新输入");
                $("#btnAdd").button("reset");
            } else {
                $.commonPost("Master/SaveUserInfoBrand", {
                    UserId: curRow.Id,
                    BrandId: data[0].BrandId,
                    InUserId: curRow.Id
                }, function () {
                    $("#btnAdd").button("reset");
                    alert("添加品牌成功！");
                    $("#BrandCode").val("");
                    loadUserInfoBrand();
                });
            }
        });
    }

    function delUserInfoBrand(id) {
        $.commonPost("Master/DeleteUserInfoBrand", { Id: id }, function () {
            loadUserInfoBrand();
        });
    }
</script>
