@{
    Layout = null;
}
<style>

</style>
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>调研云平台</title>
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />

    <style>
        body.login {
            /*background: url(../Content/image/loginbg.jpg);*/
            /* 背景图垂直、水平均居中 */
            background-position: center center;
            /* 背景图不平铺 */
            background-repeat: no-repeat;
            /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
            background-attachment: fixed;
            /* 让背景图基于容器大小伸缩 */
            background-size: cover;
            /* 设置背景颜色，背景图加载过程中会显示背景色 */
            background-color: #135994;
        }

        .login .content {
            position: relative;
            width: 400px;
            background: rgba(255, 255, 255, 0.6) !important; /* IE无效，FF有效 */
            background: #fff;
            filter: alpha(opacity=60);
            tborder: 1px #fff solid;
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
            border-radius: 8px;
            margin: 150px auto 200px;
            padding: 10px 20px 5px 20px;
        }

            .login .content .i {
                position: absolute;
                top: 35px;
                left: 30px;
            }

        .login #searchForm .input-group-addon i::before {
            width: 13px;
            color: #CCC;
            font-size: 16px;
        }


        .content #searchForm .btn {
            width: 100%;
            margin: auto 0;
        }

        .content #searchForm .fs12 a {
            font-size: 12px;
        }

        .content #searchForm {
            /*border-left: #666 solid 1px;*/
            padding: 1px 10px 10px 30px;
            margin: 30px auto;
        }

        #bottom {
            font-size: 12px;
            color: #666;
            border-top: 1px #ccc solid;
            margin-top: 30px;
            padding: 20px 0;
        }

            #bottom.bg-danger {
                background: rgba(0, 0, 0, 0.4) !important; /* IE无效，FF有效 */
                background: #000;
                filter: alpha(opacity=40);
                color: #fff;
            }

        #bottom {
            position: absolute;
            bottom: 0px;
            width: 100%;
        }
    </style>
</head>
<body class="login">
    <div class="container">
        <div class="content">
            @*<i class="i"><img src="~/Content/image/login-logo.png"></i>*@
            <form id="searchForm" method="post" class="form-group login-form" action="#">
                <input type="hidden" name="action" value="login" />
                <div class="alert alert-danger alert-dismissible hidden" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span>输入用户名和密码.</span>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="tenantCode">公司代码</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-user"></i></span>
                        <input type="text" class="form-control" id="tenantCode" name="tenantCode" placeholder="公司代码" value="MaxSight" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="txtUsername">用户名</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-user"></i></span>
                        <input type="text" class="form-control" id="txtUsername" placeholder="用户名" name="username" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="txtPassword">密码</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-lock"></i></span>
                        <input type="password" class="form-control" id="txtPassword" placeholder="密码" name="password" value="" />
                    </div>
                </div>
                <p class="text-right"><a id="btnForget" href="javascript:;">忘记密码</a></p>
                <div class="text-right">
                    <a id="btnLogin" type="button" class="btn btn-info"> 登陆  <i class="icon-circle-arrow-right icon-white"></i></a>
                </div>
                <input type="hidden" id="valueReturnUrl" value="@ViewBag.ReturnUrl" />
            </form>
        </div>
    </div>

    <div id="bottom" class="bg-danger">
        <div class="container">
            <p class="text-center">
                建议使用Chrome，火狐或IE10以上版本，若使用360浏览器请在极速模式下打开系统<br />
                如系统出现错误或异常，影响正常使用，请记录错误并通过以下方式通知管理员，以便及时为您解决问题！ <br />
                工作时间：9:00-20:00
            </p>
        </div>
    </div>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/comm.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/api/common.js"></script>

    <script type="text/javascript" language="javascript">
        $(function () {
            document.onkeydown = function (e) {
                if ((e || event).keyCode == 13)
                    $("#btnLogin").trigger("click");
            };

            $("#tenantCode").popover({ content: "公司代码不能为空", placement: "bottom", trigger: "manual" });
            $("#txtUsername").popover({ content: "用户名不能为空", placement: "bottom", trigger: "manual" });
            $("#txtPassword").popover({ content: "密码不能为空", placement: "bottom", trigger: "manual" });

            $("#btnLogin").click(function () {
                if ($("#tenantCode").val().trim() == '') {
                    $("#tenantCode").popover("show");
                    setTimeout(function () { $("#tenantCode").popover("hide"); }, 1000);
                    return;
                }
                if ($("#txtUsername").val().trim() == '') {
                    $("#txtUsername").popover("show");
                    setTimeout(function () { $("#txtUsername").popover("hide"); }, 1000);
                    return;
                }
                if ($("#txtPassword").val() == '') {
                    $("#txtPassword").popover("show");
                    setTimeout(function () { $("#txtPassword").popover("hide"); }, 1000);
                    return;
                }

                $("#btnLogin").button('loading');
                var params = {
                    tenantCode: $("#tenantCode").val(),
                    accountId: $("#txtUsername").val(),
                    password: $("#txtPassword").val()
                };                
                $.commonApi({
                    apiType: 'survey',
                    url: 'Account/Login',
                    params: params,
                    success: function (data) {
                        if (data.OSSInfo) {
                            data.ossInfo = {};
                            data.OSSInfo.forEach(function (item) {
                                data.ossInfo[item.HiddenCode] = item.HiddenName;
                            })
                            data.ossInfo.osshost = data.ossInfo.EndPoint.substr(0, 7) + data.ossInfo.Bucket + "." + data.ossInfo.EndPoint.substr(7)+"/";
                        }
                        delete data.OSSInfo;
                        window.localStorage.userJson = JSON.stringify(data);
                        $.post("../Account/AfterLogin", { loginUser: window.localStorage.userJson }, function () {
                            var returnUrl = $("#valueReturnUrl").val();
                            if (!returnUrl || returnUrl == '/') {
                                returnUrl = "/Home/Index";
                            }
                            location.href = returnUrl;
                        }).complete(function () {
                            $("#btnLogin").button('reset');
                        });
                    },
                    complete: function () {
                        $("#btnLogin").button('reset');
                    },
                    error: function () {
                        alert("未知错误，请通过以下方式联系管理员进行处理 ");
                    }
                })

            });
            $('#btnForget').click(function () {
                alert('如您忘记密码，请通过以下方式联系管理员进行重置 ');
            });
        });
    </script>
</body>
</html>