@{
    ViewBag.Title = "审核管理";
}
<style>
    .operation {
        padding: 10px 0px;
        text-align: right;
    }

        .operation .btn {
            width: 100px;
        }

    .bootstrap-table .fixed-table-container.fixed-height .fixed-table-border {
        border-left: none;
        border-right: none;
    }
</style>
<div class="condition">
    <div style="text-align:right;width:100%">
        <button id="btnQuery" class="btn btn-primary">查询</button>
        <button id="btnRecheckSubmit" class="btn btn-primary">审核完毕</button>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">品牌:</label>
            <select id="brand-sel" class="form-control" style="width:200px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">年份:</label>
            <select id="year-sel" class="form-control" style="width:200px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">期号:</label>
            <select id="project-sel" class="form-control" style="width: 140px"></select>
        </div>
        <div class="form-group">
            <label class="control-label">经销商:</label>
            <select id="shop-sel" style="width: 140px"></select>
        </div>
        <div class="form-group">
            <label class="control-label">审核类型:</label>
            <select id="LabelId" class="form-control" style="width: 140px"></select>
        </div>
    </div>

</div>
<div class="result">
    <table id="recheck-table" class="table  table-set"></table>
</div>
