<div>
    <form class="form-horizontal form-label-left" id="chapter-form">
        <fieldset>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ChapterCode">
                    章节编号<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="ChapterCode" name="ChapterCode" required="required" type="text" maxlength="15" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ChapterName">
                    章节名称
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="ChapterName" name="ChapterName" type="text" maxlength="15" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
    </form>
</div>
<script src="~/Scripts/api/common.js"></script>
<script>

</script>


