<div class="form-horizontal form-label-left" style="padding-bottom:5px;width:100%">
    <div class="item form-group" style="float:right;">
    </div>
    <div class="clearfix"></div>
</div>
<div class="item form-group">
    <table id="report-type-chapter-table" class="table table-bordered table-set"></table>
</div>
<script>
    $(function () {
        initReportTypeChapterTable();
        loadReportTypeChapter();
    })

    function initReportTypeChapterTable() {
        $('#report-type-chapter-table').bootstrapTable({
            pagination: true,
            striped: true, //是否显示行间隔色
            pageNumber: 1,
            pageSize: 10,
            pageList: [10, 15, 20, 50],
            columns: [{
                title: "报告类型代码",
                field: 'ReportTypeCode',
                width: 100,
                valign: "middle",
                align: "center"
            }, {
                title: "章节代码",
                field: "ChapterCode",
                width: 200,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "删除",
                field: "",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:delReportTypeChapter(' + row.ReportTypeId + ','+row.ChapterId+');" style="min-width:100px">删除</a>';
                }
            }]
        });
    }

    function loadReportTypeChapter() {
        $.commonGet("Master/GetChapterReportType", {
            projectId: $("#project-sel").val(),
            ReportTypeId: curRow.ReportTypeId,
            Chapter: '',
        }, function (data) {
            $('#report-type-chapter-table').bootstrapTable("load", data);
        });
    }
  
    function delReportTypeChapter(reportTypeId, chapterId) {
        $.commonPost("Master/DeleteChapterReportType", { ShopType: reportTypeId, ChapterId: chapterId }, function () {
            loadReportTypeChapter();
        });
    }
</script>
