<div>
    <form class="form-horizontal form-label-left" id="report-type-form">
        <fieldset>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ReportTypeCode">
                    报告类型编号<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="ReportTypeCode" name="ReportTypeCode" required="required" type="text" maxlength="15" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ReportTypeName">
                    报告类型名称
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="ReportTypeName" name="ReportTypeName" type="text" maxlength="15" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
    </form>
</div>
<script src="~/Scripts/api/common.js"></script>
<script>

</script>


