@{
    ViewBag.Title = "下载日志";
}
<style>
    .operation {
        padding: 10px 0px;
        text-align: right;
    }

        .operation .btn {
            width: 100px;
        }

    .bootstrap-table .fixed-table-container.fixed-height .fixed-table-border {
        border-left: none;
        border-right: none;
    }
</style>
<div class="condition">
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">期次:</label>
            <input id="project" class="form-control" style="width:160px" placeholder="期号代码/期号名称" />
        </div>
        <div class="form-group">
            <label class="control-label">文件名称:</label>
            <input id="reportFileName" class="form-control" style="width: 160px" placeholder="文件名称" />
        </div>
        <div class="form-group">
            <label class="control-label">开始日期:</label>
            <input id="startDate" class="form-control" style="width: 160px" />
        </div>
        <div class="form-group">
            <label class="control-label">结束日期:</label>
            <input id="endDate" class="form-control" style="width: 160px" />
        </div>
    </div>
    <div style="float:right;width:200px;text-align:right">
        <button id="btnSearch" class="btn btn-primary">查询</button>
        <button id="btnExportReportLog" class="btn btn-primary">导出</button>
    </div>
</div>
<div class="result table-responsive">    
    <table id="report-log-table" class="table table-bordered table-set"></table>
</div>

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">文件名称</h4>
            </div>
            <div class="modal-body">
                <textarea style='width:100%;height:300px;'></textarea>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/api/common.js?20200523"></script>
<script src="~/Scripts/custom/form-serialize.js?20200510"></script>

<link href="~/Content/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Content/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="~/Content/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

<script type="text/javascript" language="javascript">
    $(function () {
        $('title').html('@ViewBag.Title')

        $("#startDate,#endDate").datetimepicker({
            format: 'yyyy-mm-dd',
            language: 'zh-CN',
            minView: '2'
        });
        var curDate = new Date();
        $("#startDate").val(new Date(curDate.getTime() - 24 * 60 * 60 * 1000).Format("yyyy-MM-dd"));
        $("#endDate").val(curDate.Format("yyyy-MM-dd"));

       // initReportLogTable();
        //查询
        loadReportLog();
        $("#btnSearch").click(function () {
            loadReportLog();
        }).trigger("click");

        $("#btnExportReportLog").click(function () {
            $("#btnExportReportLog").button('loading');

            $.commonGet("ReportFile/ReportLogExport", {
                project: $('#project').val() || '',
                reportFileName: $('#reportFileName').val() || '',
                startDate: $('#startDate').val() || '',
                endDate: $('#endDate').val() || ''
            }, function (data) {
                window.location.href = baseSurveyUrl + data;
                $("#btnExportReportLog").button('reset');
            });
        });
    });

    function loadReportLog() {
        // $("#btnSearch").button('loading');
        $('#report-log-table').bootstrapTable("showLoading");
        $.commonGet("ReportFile/ReportFileActionLogSearch", getParams(), function (data) {
            //$('#report-log-table').bootstrapTable("hideLoading");
            //$('#report-log-table').bootstrapTable("load", data);
         //   $("#btnSearch").button('reset');
            initReportLogTable(data);
        });
    }

    function getParams() {
        return {
            userId: '',
            action: '',
            account: '',
            project: $('#project').val() || '',
            reportFileName: $('#reportFileName').val() || '',
            startDate: $('#startDate').val() || '',
            endDate: $('#endDate').val() || ''
        };
    }

    function initReportLogTable(data) {
        //生成
        $('#report-log-table').bootstrapTable('destroy').bootstrapTable({
            pagination: true,
            data:data,
            showLoading: true,
            striped: true, //是否显示行间隔色
            showColumns: false, // 开启自定义列显示功能
            sortable: true,
            pageNumber: 1,
            pageSize: 20,
            pageList: [10, 15, 20, 50],
            width: "100%",
            height: getClientHeight() - 300,
            columns: [{
                title: "操作时间",
                field: 'InDateTime',
                width: 150,
                valign: "middle",
                align: "center"
            },  {
                title: "下载账号",
                field: "AccountId",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false 
            }, {
                title: "下载姓名",
                field: "AccountName",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false 
            }, {
                title: "期号代码",
                field: "ProjectCode",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false 
            }, {
                title: "期号名称",
                field: "ProjectName",
                width: 200,
                valign: "middle",
                align: "center",
                sortable: false 
            }, {
                title: "文件",
                field: "ReportFileName",
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a data-toggle="tooltip" title="' + value + '" href="javascript:showDetail(\'' + value + '\')">' + value + '</a>';
                }
            }]
        });

    }

    function showDetail(txt) {
        if (txt) {
            txt = txt.replace(/;/g, "\n")
        }
        $("#Modal").modal("show");
        $("#Modal .modal-body textarea").html(txt);
    }

</script>