@{
    ViewBag.Title = "数据报告设置";
}
<style>
    .operation {
        padding: 10px 0px;
        text-align: right;
    }

        .operation .btn {
            width: 100px;
        }

    .bootstrap-table .fixed-table-container.fixed-height .fixed-table-border {
        border-left: none;
        border-right: none;
    }
</style>
<div class="condition">
    <div style="text-align:right;width:100%">
        <button id="btnQuery" class="btn btn-primary">查询</button>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">品牌:</label>
            <select id="brand-sel" class="form-control" style="width:100px;"></select>
        </div>
        <div class="form-group">
            <label class="control-label">项目类型:</label>
            <select id="projectType-sel" class="form-control" style="width:100px;">
                <option value="明检">明检</option>
                <option value="密采">密采</option>
                <option value="自检">自检</option>
            </select>
        </div>
        <div class="form-group" id="year-div">
            <label class="control-label">年份:</label>
            <select id="year-sel" class="form-control" style="width:100px;"></select>
        </div>
        <div class="form-group" id="startDate-div">
            <label class="control-label">开始日期:</label>
            <input id="startDate-sel" name="startDate-sel" class="form-control" style="width:100px;" />
        </div>
        <div class="form-group" id="endDate-div">
            <label class="control-label">结束日期:</label>
            <input id="endDate-sel" name="endDate-sel" class="form-control" style="width:100px;" />
        </div>
        <div class="form-group">
            <label class="control-label">期号:</label>
            <select id="project-sel" data-width="150px"></select>
        </div>
    </div>
</div>
<div class="result">
    <table id="reportSet-table" class="table table-bordered table-set"></table>
</div>
<div class="result">
    <table id="reportSet-reportDeploy-table" class="table table-bordered table-set"></table>
</div>
<script src="~/Scripts/api/common.js"></script>
<script src="~/Scripts/custom/form-serialize.js?20200510"></script>
<link href="~/Content/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Content/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="~/Content/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

<script>

    $(function () {
        $('title').html('@ViewBag.Title');
        $("#startDate-sel").datetimepicker({
            format: 'yyyy-mm-dd',
            language: 'zh-CN',
            minView: '2'
        });
        $("#endDate-sel").datetimepicker({
            format: 'yyyy-mm-dd',
            language: 'zh-CN',
            minView: '2'
        });
        bindBrandSelect();
        $("#year-sel").change(function () {
            bindProjectSelect();
        });
        for (var i = 2020; i <= 2030; i++) {
            $("#year-sel").append($("<option>").text(i + "").val(i + ""));
        }
        var tYear = new Date().getFullYear();
        $("#year-sel").val(tYear);
        $("#brand-sel").change(function () {
            bindProjectSelect();
        });
        $("#projectType-sel").change(function () {
            projectTypeDateShow();
            bindProjectSelect();
            initReportSetTable();
            initShopAppealSetDeployTable();
            //$("#project-sel").trigger("change");
        });
        $("#projectType-sel").trigger("change");
        $("#startDate-sel").datetimepicker().on('changeDate', function (ev) {
            if ($("#startDate-sel") != '' && $("#endDate-sel") != "") {
                bindProjectSelect();
                initReportSetTable();
                initShopAppealSetDeployTable();
            }
        });
        $("#endDate-sel").datetimepicker().on('changeDate', function (ev) {
            if ($("#endDate-sel") != '' && $("#endDate-sel") != "") {
                bindProjectSelect();
                initReportSetTable();
                initShopAppealSetDeployTable();
                // $("#project-sel").trigger("change");
            }
        });
        $("#project-sel").change(function () {
            loadReportSet();
            loadReportSetDeploySet();
        });
        bindProjectSelect();
        loadReportSet();
        loadReportSetDeploySet();
        $("#btnQuery").click(function () {
            loadReportSet();
            loadReportSetDeploySet();
        }).trigger("click");

    });
    var curRow;
    function initReportSetTable(data) {
        $('#reportSet-table').bootstrapTable('destroy').bootstrapTable({
            pagination: false,
            data: data,
            striped: true, //是否显示行间隔色
            width: "100%",
            height: 75,
            showColumns: false, // 开启自定义列显示功能
            sortable: true,
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 50, 100, 500],
            columns: [{
                title: "期号Id",
                field: 'ProjectId',
                width: 100,
                valign: "middle",
                align: "center",
            }, {
                title: "期号代码",
                field: 'ProjectCode',
                width: 100,
                valign: "middle",
                align: "center"
                //formatter: function (value, row, index) {
                //    return '<a href="javascript:goEdit();" style="min-width:100px">' + value + '</a>';
                //}
            }, {
                title: "期号名称",
                field: "ProjectName",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "生成报告",
                field: "",
                width: 100,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:CreateReport();" style="min-width:100px">' + "生成报告" + '</a>';
                }
            },
            {
                title: "登记时间",
                field: "InDateTime",
                width: 200,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "修改时间",
                field: "ModifyDateTime",
                width: 200,
                valign: "middle",
                align: "center",
                sortable: false
            }],
            onClickRow: function (row, $element) {
                curRow = row;
            }
        });
    }
    function loadReportSet() {
        debugger
        $('#reportSet-table').bootstrapTable("showLoading");
        $.commonGet("ReportFile/GetReportSet", {
            projectId: $("#project-sel").val()
        }, function (data) {
            initReportSetTable(data);
        });
    }
    function loadReportSetDeploySet() {
        $('#reportSet-reportDeploy-table').bootstrapTable("showLoading");
        $.commonGet("ReportFile/ReportFileShopSearch", {
            projectId: $("#project-sel").val(),
            shopId: "",
            shopCode: ""
        }, function (data) {
            $('#reportSet-reportDeploy-table').bootstrapTable("hideLoading");
            $('#reportSet-reportDeploy-table').bootstrapTable("load", data);
            initShopAppealSetDeployTable(data);
        });
    }
    function initShopAppealSetDeployTable(data) {
        $('#reportSet-reportDeploy-table').bootstrapTable('destroy').bootstrapTable({
            pagination: true,
            data: data,
            striped: true, //是否显示行间隔色
            width: "100%",
            height: getClientHeight() - 400,
            showColumns: false, // 开启自定义列显示功能
            sortable: true,
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 50, 100, 500],
            columns: [{
                title: "经销商代码",
                field: 'ShopCode',
                width: 100,
                valign: "middle",
                align: "center",
            }, {
                title: "经销商名称",
                field: 'ShopName',
                width: 300,
                valign: "middle",
                align: "center"
            },
            {
                title: "发布状态",
                field: "Status_S10",
                width: 150,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "发布",
                field: "",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:reportdeploy(' + row.ShopId + ');" style="min-width:100px">发布</a>';
                }
            }, {
                title: "取消发布",
                field: "",
                width: 120,
                valign: "middle",
                align: "center",
                sortable: false,
                formatter: function (value, row, index) {
                    return '<a href="javascript:delreportdeploy(' + row.ShopId + ');" style="min-width:100px">取消发布</a>';
                }
            }],
            onClickRow: function (row, $element) {
                curRowShop = row;
            }
        });
    }
    function CreateReport() {
        confirm("确定生成吗？", function () {
            debugger
            $.commonGet("ReportFile/ReportDataCreate", {
                brandId: $("#brand-sel").val(),
                projectId: curRow.ProjectId
            }, function (data) {
                $.commonPost("ReportFile/SaveReportSet", {
                    ProjectId: curRow.ProjectId,
                    InUserId: loginUser.Id,
                    ModifyUserId: loginUser.Id
                }, function () {
                }, function () { });
                loadReportSet();
            });
        });

    }
    function reportdeploy(id) {
        $.commonPost("Recheck/SaveRecheckStatus", {
            ProjectId: $("#project-sel").val(),
            ShopId: id,
            StatusCode: "S10",
            InUserId: loginUser.Id
        }, function () {
            loadReportSetDeploySet();
        });
    }
    function delreportdeploy(id) {
        $.commonPost("ReportFile/ReportFileShopDelete", {
            ProjectId: $("#project-sel").val(),
            ShopId: id,
            StatusCode: "S10",
            RecheckUserId: loginUser.Id
        }, function () {
            loadReportSetDeploySet();
        });
    }
</script>
