@{
    ViewBag.Title = "岗位导入";
}
<style>
    .operation {
        padding: 10px 0px;
        text-align: right;
    }

        .operation .btn {
            width: 100px;
        }

    .bootstrap-table .fixed-table-container.fixed-height .fixed-table-border {
        border-left: none;
        border-right: none;
    }
</style>
<div class="condition">
    <div style="text-align:right;width:100%; ">
        <button id="btnQuery" class="btn btn-primary">查询</button>
        <button id="btnDownloadReportJobRateTemplate" class="btn btn-primary">下载岗位模板</button>
        <button id="btnImportReportJobRate" class="btn btn-primary">导入岗位</button>
    </div>
    <div class="form-inline">
        <div class="form-inline">
            <div class="form-group">
                <label class="control-label">品牌:</label>
                <select id="brand-sel" class="form-control" style="width:200px;"></select>
            </div>
            <div class="form-group">
                <label class="control-label">年份:</label>
                <select id="year-sel" class="form-control" style="width:200px;"></select>
            </div>
            <div class="form-group">
                <label class="control-label">期号:</label>
                <select id="project-sel" class="form-control" style="width:200px;"></select>
            </div>
        </div>
        
    </div>

</div>
<div class="result">
    <table id="report-jobrate-table" class="table table-bordered table-set"></table>
</div>

<div id="upload-container" class="container-fluid" style="margin:0;padding:0;display:none">
    <div id="ossfile"></div>
</div>

<div class="modal fade" id="ModalImport" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">岗位满足率导入</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/api/common.js"></script>
<script src="~/Scripts/custom/form-serialize.js?20200510"></script>

<script src="~/Scripts/oss-upload-direct/lib/crypto1/crypto/crypto.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/crypto1/hmac/hmac.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/crypto1/sha1/sha1.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/base64.js"></script>
<script src="~/Scripts/oss-upload-direct/upload.js?20200426"></script>
<script>
     NProgress.start();
    var ossUploader;
    var osspath;
    $(function () {
        $('title').html('@ViewBag.Title')
        bindBrandSelect();
        //加载年份
        $("#year-sel").change(function () {
            bindProjectSelect();
        });
        for (var i = 2020; i <= 2030; i++) {
            $("#year-sel").append($("<option>").text(i + "").val(i + ""));
        }
        var tYear = new Date().getFullYear();
        $("#year-sel").val(tYear);
        $("#year-sel").change();

        //加载期号
        $("#brand-sel").change(function () {
            bindProjectSelect();
        });
        $("#project-sel").change(function () {
            loadReportJobRate();
        });
        loadReportJobRate();
        NProgress.done();
        $("#btnDownloadReportJobRateTemplate").click(function () {
            var url = loginUser.ossInfo.osshost + "Survey/ImportTemplate/ReportJob.xlsx";
            window.location.href = url;
        });
        osspath = "Survey/BaseInfo/";
        new OSSClient({
            autoupload: true,
            osspath: osspath + "Import/",
            selectfiles: "btnImportReportJobRate",
            multi_selection: false,
            success: function (files) {
                //调用导入方法
                files.forEach(function (file) {
                    debugger
                    var projectCode = $("#project-sel option:selected").text();
                    $("#ModalImport .modal-body").empty();
                    $("#ModalImport").modal("show");
                    $("#ModalImport .modal-body").load("/Report/OpenReportJobImport", {}, function () {
                        $("#ImportProject").html(projectCode);
                        loadImportReportJob(file);
                    })
                })
            }
        });
        $("#btnQuery").click(function () {
            loadReportJobRate();
        }).trigger("click");
    })
    var curRow;
    
    function loadReportJobRate() {
        var projectId = $("#project-sel").val();
        if (!projectId) {
            alert("请选择一个期号！");
            return
        }
        $('#report-jobrate-table').bootstrapTable("showLoading");
        $.commonGet("ReportFile/ReportJobRateSearch", {
            projectId: $("#project-sel").val(),
            smallArea: '',
        }, function (data) {
            initReportJobRateTable(data);
        });
    }
    function initReportJobRateTable(data) {
        $('#report-jobrate-table').bootstrapTable('destroy').bootstrapTable({
            pagination: true,
            data:data,
            striped: true, //是否显示行间隔色
            width: "100%",
            height: getClientHeight() - 260,
            showColumns: false, // 开启自定义列显示功能
            sortable: true,
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 50, 100, 500],
            columns: [{
                title: "区域代码",
                field: "AreaCode",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "区域名称",
                field: 'AreaName',
                width: 80,
                valign: "middle",
                align: "center"
                
            }, {
                title: "岗位名称",
                field: "JobName",
                width: 80,
                valign: "middle",
                align: "center",
                sortable: false
                
            }, {
                title: "标准人数",
                field: "JobFullCount",
                width: 50,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "到岗人数",
                field: "JobActualCount",
                width: 50,
                valign: "middle",
                align: "center",
                sortable: false
            }, {
                title: "导入时间",
                field: "InDateTime",
                width: 50,
                valign: "middle",
                align: "center",
                sortable: false
            }],
            onClickRow: function (row, $element) {
                curRow = row;
            }
        });
    }
</script>

